.order-card,
.order-img {
  border-radius: 20px;
}

.order-card {
  box-shadow: rgba(164, 123, 240, 0.5) 5px 5px 15px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 100%;
}
ion-item > button {
  border-radius: 10px;
  padding: 5px;
  background-color: var(--ion-color-primary);
  color: white;
}
ion-item > button > ion-icon {
  font-size: 30px;
}
ion-item > ion-label {
  text-align: center;
}
.order {
  display: block;
}

.order-img {
  width: 30%;
  display: block;
  margin: 1em;
}

.order-details {
  color: #6d5de3;
  padding: 1em;
  width: 50%;
  line-height: 1.5;
}

.order-title {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: #6d5de3;
}

.order-config {
  color: #6d5de3;
  padding: 1em;
  width: 50%;
  line-height: 1.5;
}
.chosen-config {
  color: #6d5de3;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1.5;
}
.order-price-and-btns {
  margin: 1em;
  display: block;
}

.order-price {
  color: #5ac179;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.order-remove,
.order-view {
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  padding: 0.25em 0.5em;
  font-weight: 700;
  width: 200px;
  margin: 1em 0;
}

.order-remove {
  background-color: #fff2f5;
  color: #ff6584;
  border: 2px solid #ff6584;
}

.order-view {
  background-color: #e5f3ff;
  color: #6ab9ff;
  border: 2px solid #6ab9ff;
}
ion-button {
  --background: transparent;
  --box-shadow: none;
}
ion-card {
  padding: 0;
  margin: 0;
  box-shadow: none;
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) {
  .order-card {
    display: block;
    width: 325px;
    margin: 0.5em;
    padding: 5%;
  }
  .order-img {
    width: 100%;
    display: block;
    margin: 0em;
  }
  .order-details {
    color: #6d5de3;
    padding: 0.3em;
  }

  .order-title {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 700;
    color: #6d5de3;
  }

  .order-price-and-btns {
    margin: 1em;
  }

  .order-price {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: -30px;
  }

  .order-remove,
  .order-view {
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em 0.5em;
    font-weight: 700;
    width: 45%;
    margin: 0.25em 0.25em;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--ion-color-primary);
  display: inline-block;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label:hover {
  background-color: var(--ion-color-primary-tint);
}
