<div class="order-card">
  <img [src]="img" alt="{{orderTitle}}" class="order-img">
  <div class="order">
    <div class="order-details">
      <h4 class="order-title">{{orderTitle}}</h4>
      <p class="order-description">{{orderDescription}}</p>
    </div>
    <div class="order-price-and-btns">
      <p class="order-price">Price: ₹{{orderprice * quantity}}</p>
      <ion-button *ngIf="showActions" class="order-remove" (click)="removeFromWishlist()">Remove</ion-button>
      <ion-button *ngIf="showActions" class="order-view"
        href="./product?productId={{this.productId}}">View
        Product</ion-button>
        <ion-item button lines="none" *ngIf="showImageInput">
          <input type="file" name="file" max="1" (change)="changeImage($event)" id="file" class="inputfile" />
          <label for="file">Choose a file</label>
        </ion-item>
    </div>
  </div>
  <div class="order-config">
    <h4 class="chosen-config">{{orderconfig}}</h4>
    <ion-list>
      <ion-item *ngFor="let configitem of configData">
        <ion-label>{{configitem.title}}</ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>{{configitem.value}}</ion-label>
      </ion-item>
    </ion-list>
    <div *ngIf="showQuantity">
      <ion-item lines="none">
        <button slot="start" [disabled]="quantity<=1" (click)="removeQuantity()">
          <ion-icon name="remove"></ion-icon>
        </button>
        <ion-label color="primary" >{{quantity}}</ion-label>
        <button [disabled]="quantity>=10" slot="end" (click)="addQuantity()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </div>
  </div>
</div>