<ion-card class="latest-order-card" routerLink="../product" [queryParams]="{productId:productId}">
  <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
    <img loading="lazy" [src]="img[0].image" alt="">
    <img loading="lazy" class="uk-transition-scale-up uk-position-cover" [src]="img[1].image" alt="">
  </div>
  <div class="latest-order-details">
    <h4 class="latest-order-title">{{productTitle}}</h4>
    <div class="latest-order-price-and-date">
      <p class="latest-order-price">Price: ₹{{price}}</p>
      <p class="latest-order-date">{{date}}</p>
    </div>
  </div>
</ion-card>
