<ion-content>
  <app-header></app-header>
  <div class="home">
  <main id="container">
    <app-sidenav activeLinkID="your-orders" *ngIf="screenwidth>1020"></app-sidenav>
    <section id="orders-container">
      <h2 id="your-cart-title">Your Orders</h2>
      <div class="product-row" *ngIf="!loading">
        <div class="product-row" *ngFor="let product of liveOrders">
          <app-small-product-card [img]="orderProducts.productImages"
          [productTitle]="orderProducts.productName" [price]="orderProducts.productPrice" [productId]="orderProducts.productId"
          [date]="product.shippingDetail.orderDate" *ngFor="let orderProducts of product.products"></app-small-product-card>
        </div>
      </div>
      <div *ngIf="loading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
      <img loading="lazy" src="./assets/NotFound.gif" alt="" *ngIf="liveOrders.length<=0 || liveOrders==undefined">
    </section>
    <app-sidenav activeLinkID="your-orders" *ngIf="screenwidth<1024"></app-sidenav>
  </main>
</div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>