<div class="sidenav">
<aside id="side-nav-container">
  <div id="logout" >
      <img loading="lazy" [src]="authService.getUserPhoto()"
          alt="Profile Pic" class="circular-profile-pic" style="width:50px;height:50px">
      <a (click)="authService.SignOut()" id="logout-link">Logout</a>
  </div>
  <nav id="side-nav">
      <ul id="side-nav-ul">
          <li id="account" class="side-nav-li"><a class="side-nav-a" routerLink="/account"><ion-icon
                      name="person"></ion-icon>Account</a></li>
          <li id="your-orders" class="side-nav-li"><a class="side-nav-a" routerLink="/orders"><ion-icon
                      name="cube"></ion-icon>Orders</a></li>
          <li id="buy-again" class="side-nav-li"><a class="side-nav-a" routerLink="/buyagain"><ion-icon
                      name="cart"></ion-icon>Buy</a></li>
          <li id="wishlist" class="side-nav-li"><a class="side-nav-a" routerLink="/wishlist"><ion-icon
                      name="heart"></ion-icon>Wishlist</a></li>
          <li id="your-cart" class="side-nav-li"><a class="side-nav-a" routerLink="/cart"><ion-icon name="cart"></ion-icon>Cart</a></li>
          <li id="referrals" class="side-nav-li"><a class="side-nav-a" routerLink="/referral"><ion-icon
                      name="color-wand"></ion-icon>Referrals</a>
          </li>
          <li id="support" class="side-nav-li"><a class="side-nav-a" routerLink="/help"><ion-icon
                      name="help-circle"></ion-icon>Support</a></li>
      </ul>
  </nav>
</aside>
</div>