<aside id="side-nav-container">
  <div id="logout">
      <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Profile Pic" class="circular-profile-pic" style="width:50px;height:50px">
      <a href="#" id="logout-link">Logout</a>
  </div>
  <nav id="side-nav">
      <ul id="side-nav-ul">
          <li id="account" class="side-nav-li"><a class="side-nav-a" href="/accountpage"><i
                      class="fa fa-user side-nav-icon"></i>Account</a></li>
          <li id="your-orders" class="side-nav-li"><a class="side-nav-a" href="/yourorderspage"><i
                      class="fa fa-cube side-nav-icon"></i>Your Orders</a></li>
          <li id="buy-again" class="side-nav-li"><a class="side-nav-a" href="/buyagainpage"><i
                      class="fa fa-shopping-cart side-nav-icon"></i>Buy Again</a></li>
          <li id="wishlist" class="side-nav-li"><a class="side-nav-a" href="/wishlistpage"><i
                      class="fa fa-heart side-nav-icon"></i>Wishlist</a></li>
          <li id="your-cart" class="side-nav-li"><a class="side-nav-a" href="#"><i class="fa fa-shopping-cart side-nav-icon"></i>Your
                  Cart</a></li>
          <li id="referrals" class="side-nav-li"><a class="side-nav-a" href="#"><i
                      class="fa fa-magic side-nav-icon"></i>Referrals</a>
          </li>
          <li id="support" class="side-nav-li"><a class="side-nav-a" href="#"><i
                      class="fa fa-question-circle side-nav-icon"></i>Support</a></li>
      </ul>
  </nav>
</aside>