<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>account</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>cart</ion-label>
    </ion-tab-button>

    <ion-tab-button  href="/wishlist">
      <ion-icon name="heart"></ion-icon>
      <ion-label>wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button  href="/shop">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>