ion-tabs{
    position: -webkit-sticky !important; /* Safari */
    position: sticky !important;
    bottom: 0%;
    margin-bottom: -600px;
}

ion-tab-button{
    --color:var(--ion-color-primary-tint);
}