<ion-content>
  <app-header></app-header>
  <div>
    <div class="header">
      <h1>404</h1>
      <h2>Page named {{pageName}} not found</h2>
      <div class="quickLinks">
        <ion-button routerLink="." fill="outline" color="primary">
          Home
        </ion-button>
        <ion-button routerLink="../account" fill="outline" color="danger">
          Account
        </ion-button>
        <ion-button routerLink="../shop" fill="outline" color="warning">
          Shop
        </ion-button>
        <ion-button routerLink="../orders" fill="outline" color="success">
          Orders
        </ion-button>
      </div>
    </div>
    <img src="./assets/404-Webpage.gif" alt="">
  </div>
  
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>