ion-row{
    justify-content: space-between;
    align-items: center;
}
ion-card{
    border: 3px solid tomato;
    padding:10px;
    border-radius:20px;
    box-shadow:1px 2px 10px rgba(0, 0, 0, 0.137);
    transition : all 0.4s ease-in;
}
ion-card:hover{
    box-shadow:1px 20px 10px rgba(0, 0, 0, 0.26)
}

.actions{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
.actions > button{
    margin-bottom: 10px;
    margin-top: 10px;
    padding:5px 20px;
    font-size: 20px;
    color:white;
    border-radius: 20px;
    transition : all 0.4s ease-in;

}
.actions > button:hover{
    box-shadow:5px 10px 10px -4px rgba(0, 0, 0, 0.26);
}
.actions > button:nth-child(1){
    background-color: #6AB9FF;
}
.actions > button:nth-child(2){
    background-color: #FCD17A;
}
.actions > button:nth-child(3){
    background-color: #FF6584;
}
ion-avatar{
    margin-left: 20px;
    width:100px;
    height:100px;
}
ion-chip{
    font-size: 20px;
}








