<div class="row">
  <div class="col-sm-12" *ngIf="type=='santa'">
    <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
      <li (click)="countStar(star)" class="img" [ngClass]="{'selected': (star <= value)}" *ngIf="!readonly">
        <img loading="lazy" [ngStyle]="{'height':size,'width':'auto'}" src="./assets/ratingIcons/{{star}}.png" alt="">
      </li>
      <li class="img" [ngClass]="{'selected': (star <= value)}" *ngIf="readonly">
        <img loading="lazy" [ngStyle]="{'height':size,'width':'auto'}" src="./assets/ratingIcons/{{star}}.png" alt="">
      </li>
    </ul>
  </div>
  <div class="col-sm-12" *ngIf="type=='stars'">
    <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
      <li (click)="countStar(star)" [ngClass]="{'selected': (star <= value)}" *ngIf="!readonly">
        <i class="ri-star-fill"></i>
      </li>
      <li [ngClass]="{'selected': (star <= value)}" *ngIf="readonly">
        <i class="ri-star-fill"></i>
      </li>
    </ul>
  </div>
</div>