<footer>
  <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="98.887" viewBox="0 0 1440 98.887">
    <path id="path2" d="M1.185,234.067l26.7,9.875c26.6,10.06,80.3,29.532,133.3,29.671,53.3-.139,107-19.611,160-24.71,53.3-5.1,107,5.1,160,12.378,53.3,7.557,107,12.193,160,14.835,53.3,2.457,107,2.457,160,0,53.3-2.643,107-7.279,160-19.8,53.3-12.517,107-31.989,160-32.128,53.3.139,107,19.61,160,27.167,53.3,7.279,107,2.643,133,0l27-2.457v74.177H1.185Z" transform="translate(-1.185 -224.192)" fill="#9081ff"/>
  </svg>

  <div class="content">
    <div class="footer-left">
      <h3>For Customers</h3>
      <ul class="customerslinks">
        <a href="#"><li>Orders</li></a>
        <a href="#"><li>Edit Address</li></a>
        <a href="#"><li>Account</li></a>
        <a href="#"><li>Logout</li></a>
        <a href="#"><li>User</li></a>
        <div class="footer-icons">
          <br>
          <h4 style="color: white;font-family: Raleway;font-size: 20px">Follow Us</h4>
          <a href="https://www.facebook.com/swayambhu.innovations"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/_Swayambhu_/"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/swayambhu-innovations/"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/swayambhu-innovations"><i class="fa fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/__.swayambhu.__/"><i class="fa fa-instagram"></i></a>
        </div>
      </ul>
    </div>
    <div class="footer-center">
      <h3>For Customers</h3>
      <ul class="QuickLinks">
        <a href="#"><li>Cart</li></a>
        <a href="#"><li>Contact Us</li></a>
        <a href="#"><li>About Us</li></a>
        <a href="#"><li>Terms and Conditions</li></a>
        <a href="#"><li>Privacy Policy</li></a>
        <a href="#"><li>Refund and Return Policy</li></a>
      </ul>
    </div>
    <div class="footer-right">
      <img class="footerlogo" src="assets/icon.png" >
      <p class="footer-company-about">
        <span>About Us</span>
        <br>
        <br>
        Here at Hello Santa, we are determined to deliver the best quality product to your loved ones. Made with love, empathy and perfection, we give all our products the artistic touch and warm feelings to make them a beautiful gift for all occasions.
        <br>
        <br>
        <button class="button">Call Us To Know More</button>
      </p>
    </div>
  </div>
  <img class="lovebysanta" src="assets/wave.png" >
  <div class="credits" style="text-align: right; padding-right: 40px; font-family: Raleway">
    made with<i class="fa fa-heart" style="font-size: 30px; color: #FF6584;"></i> Hello Santa
  </div>
</footer>
