
body {
  font-family: Lato, sans-serif;
}

footer {
  width:100vw;
  height: fit-content;
  position:relative;
  bottom:0px;
}
footer .credits {
  background-color:#675CE0;
  margin: 0px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;

}
footer .content {
  background-color:#9081FF;
  width: 100vw;
  height: 310px;
  margin: 0px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100vw;
  height: auto;
}
footer .lovebysanta{
  background-color:#9081FF;
  width: 100vw;
  height: 80px;
}

.content h3 {
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin: 0;
}


.content .footer-left,
.content .footer-center,
.content .footer-right {
  display: inline-block;
  vertical-align: top;
}

.content .footer-left {
  width: 20%;
  padding-top: 45px;
  text-align: left;
}

.footer-left a{
  color: white;
}

.footer-left .customerslinks{
  padding-top: 10px;
  padding-left: 100px;
  font-family: Raleway;
}
.footer-left .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-left .footer-icons {
  margin-top: 0px;
}

.content .footer-center {
  width: 40%;
  padding-top: 85px;
  text-align: left;
}
.footer-center a{
  color: white;
}

.footer-center .QuickLinks{
  font-family: Raleway;
  position: absolute;
  top: 58%;
  left: 41%;
  transform: translate(-50%, -50%);
}

.content .footer-right {
  position: relative;
  text-align: center;
  color: white;
  width: 40%;
  right: 150px;
}

.footer-right .footerlogo{
  float: right;
  height: 400px;
  width: auto;
  -ms-transform: rotate(-6deg); /* IE 9 */
  transform: rotate(-6deg);

}

.content .footer-company-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  font-family: Raleway;
  margin: 0;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.content .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: Raleway;
  margin-bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-company-about .button {
  background-color: #fdfdfd;
  border-radius: 25px;
  color: #9081FF;
  font-size: 16px;
  font-family: Raleway;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}
.mobile{
  display:none;
}
.desktop{
  display:block;
}
@media (max-width: 767px) {
  /* Target devices narrower than 768px. */
  h4{
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size: 25px;
  }
  .mobile{
    display:block;
  }
  .desktop{
    display:none;
  }
  footer.mobile > div > div{
    position: relative;
    height:fit-content;
    top:50%;
    transform: translateY(-50%);
  }
  footer.mobile > div{
    display:flex;
    flex-direction: column;
    background-color: #9081FF;
    width: 100%;
    height:90vh;
    align-items: center;
  } 
  ul{
    color:white;
    padding-left: 0%;
    text-align: center;
  }
  ul > li > a{
    color:white;
  }
  footer.mobile > div > div > div{
    text-align: center;
  }
  footer.mobile > div > div > div > a > ion-icon{
    color:white;
    font-size: 40px;
  } 
}
