<ion-content>
  <ion-toolbar>
    <ion-title>BLOG Page</ion-title>
    <ion-button (click)="presentModal()" slot="end">
      Add Blog
    </ion-button>
  </ion-toolbar>
  <div class="blog" *ngIf="blogs!=undefined && blogs.length > 0 && blogs.length>=1">
    <h1>Latest BLOG</h1>
    <ion-row>
      <img loading="lazy" [src]="blogs[0].blogImage" class="topBlogImage">
      <div>
        <h2>{{blogs[0].blogTitle}}</h2>
        <ion-row>
          <ion-chip color="danger" outline="true" class="blogTag" *ngFor="let tag of blogs[0].blogTags">
            {{tag}}
          </ion-chip>
        </ion-row>
        <ion-label class="blogDate">{{blogs[0].blogDate.toString().split('T')[0]}}</ion-label>
        <p class="blogDescription">{{blogs[0].blogExcerpt}}</p>
      </div>
    </ion-row>
  </div>
  <div class="blogList" *ngIf="blogs!=undefined && blogs!=[] && blogs.length>=1">
    <h1>All POSTS</h1>
    <div class="mainTable">
      <table>
        <thead>
          <tr class="thead">
            <th>Featured Image</th>
            <th>Post Title</th>
            <th>Post Date</th>
            <th>Edit</th>
            <th>Remove</th>
            <th>Publish</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs">
            <td>
              <img loading="lazy" [src]="blog.blogImage" class="thumbnailImage" alt="">
            </td>
            <td class="mainData">
              <ion-label>{{blog.blogTitle}}</ion-label><br>
              <p>{{blog.blogExcerpt}}</p>
            </td>
            <td>
              <ion-label>{{blog.blogDate.toString().split('T')[0]}}</ion-label>
            </td>
            <td>
              <button class="editButton" (click)="editBlog(blog.blogId)"><ion-icon name="brush"></ion-icon></button>
            </td>
            <td>
              <button class="removeButton" (click)="deleteBlog(blog.blogId)"><ion-icon name="close-circle"></ion-icon></button>
            </td>
            <td>
              <button class="publishButton" (click)="publishBlog(blog.blogId)"><ion-icon name="cloud-upload"></ion-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ion-spinner *ngIf="blogs==undefined"></ion-spinner>
  <h1 *ngIf="blogs.length<1" class="uk-align-center uk-text-center">No data available for blogs</h1>
</ion-content>