<ion-content>
  <ion-toolbar>
    <ion-title>BLOG Page</ion-title>
    <ion-button (click)="presentModal()" slot="end">
      Add Blog
    </ion-button>
  </ion-toolbar>
  <div class="blog">
    <h1>Latest BLOG</h1>
    <ion-row>
      <img src="/assets/sunset.jpg" class="topBlogImage">
      <div>
        <h2>A sophisticated blog title</h2>
        <ion-row>
          <button class="blogTag">
            Tech
          </button>
          <button class="blogTag">
            Tech
          </button>
          <button class="blogTag">
            Tech
          </button>
        </ion-row>
        <ion-label class="blogDate">20-09-2021</ion-label>
        <p class="blogDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt
          commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui
          mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
      </div>
    </ion-row>
  </div>
  <div class="blogList">
    <h1>All POSTS</h1>
    <div class="mainTable">
      <table>
        <thead>
          <tr class="thead">
            <th>Featured Image</th>
            <th>Post Title</th>
            <th>Post Date</th>
            <th>Edit</th>
            <th>Remove</th>
            <th>Publish</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="/assets/sunset.jpg" class="thumbnailImage" alt="">
            </td>
            <td class="mainData">
              <ion-label>Another sophisticated post title</ion-label><br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo
                nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
                magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
            </td>
            <td>
              <ion-label>20-09-2021</ion-label>
            </td>
            <td>
              <button class="editButton"><ion-icon name="brush"></ion-icon></button>
            </td>
            <td>
              <button class="removeButton"><ion-icon name="close-circle"></ion-icon></button>
            </td>
            <td>
              <button class="publishButton"><ion-icon name="cloud-upload"></ion-icon></button>
            </td>
          </tr>
          <tr>
            <td>
              <img src="/assets/sunset.jpg" class="thumbnailImage" alt="">
            </td>
            <td class="mainData">
              <ion-label>Another sophisticated post title</ion-label><br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo
                nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
                magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
            </td>
            <td>
              <ion-label>20-09-2021</ion-label>
            </td>
            <td>
              <button class="editButton"><ion-icon name="brush"></ion-icon></button>
            </td>
            <td>
              <button class="removeButton"><ion-icon name="close-circle"></ion-icon></button>
            </td>
            <td>
              <button class="publishButton"><ion-icon name="cloud-upload"></ion-icon></button>
            </td>
          </tr>
          <tr>
            <td>
              <img src="/assets/sunset.jpg" class="thumbnailImage" alt="">
            </td>
            <td class="mainData">
              <ion-label>Another sophisticated post title</ion-label><br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo
                nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
                magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
            </td>
            <td>
              <ion-label>20-09-2021</ion-label>
            </td>
            <td>
              <button class="editButton"><ion-icon name="brush"></ion-icon></button>
            </td>
            <td>
              <button class="removeButton"><ion-icon name="close-circle"></ion-icon></button>
            </td>
            <td>
              <button class="publishButton"><ion-icon name="cloud-upload"></ion-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>