<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
<ion-list class="list">
  <ion-radio-group name="price" value="MinToMax">
    <ion-list-header>
      <ion-label>Price Options</ion-label>
    </ion-list-header>
    <ion-item class="listoptions">
      <ion-label>Minimum to Maximum</ion-label>
      <ion-radio slot="start" color="primary" value="MinToMax"></ion-radio>
    </ion-item>
    <ion-item class="listoptions">
      <ion-label>500-1000</ion-label>
      <ion-radio slot="start" color="primary" value="500-1000"></ion-radio>
    </ion-item>
    <ion-item class="listoptions">
      <ion-label>1000-5000</ion-label>
      <ion-radio slot="start" color="primary" value="1000-5000"></ion-radio>
    </ion-item>
    <ion-item class="listoptions">
      <ion-label>5000-10000</ion-label>
      <ion-radio slot="start" color="primary" value="5000-10000"></ion-radio>
    </ion-item>
    <ion-item class="listoptions">
      <ion-label>Above 10000</ion-label>
      <ion-radio slot="start" color="primary" value="Above10000"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
</ion-content>