<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
  <h3 style="color: tomato; text-align: center; font-weight: bold">
    Category Filter
  </h3>
  <ion-list class="list">
    <ion-item class="listoptions" *ngFor="let category of categories">
      <ion-label>{{ category }}</ion-label>
      <ion-checkbox
      (ionChange)="addCategory($event)"
        mode="ios"
        slot="start"
        color="primary"
        [value]="category"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
  <h3 style="color: tomato; text-align: center; font-weight: bold">
    Subcategory Filter
  </h3>
  <br>
  <ion-list class="list">
    <ion-item class="listoptions" *ngFor="let subcategory of subcategories">
      <ion-label>{{ subcategory }}</ion-label>
      <ion-checkbox
        mode="ios"
        slot="start"
        color="primary"
        [value]="subcategory"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
