* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#container {
    width: 95%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
}

app-sidenav {
    width: 20%;
}

#orders-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px;
    width: 78%;
    padding: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
