<ion-content>
  <app-header></app-header>
  <div class="home">
  <div id="container">
    <app-sidenav activeLinkID="your-orders" *ngIf="screenwidth>1020"></app-sidenav>
    <section id="orders-container">
      <h2 id="your-cart-title">Buy Again</h2>
      <div *ngIf="!loading">
        <div class="product-row" *ngIf="liveOrders">
          <div class="product-row" *ngFor="let product of liveOrders">
            <app-product-full-card [img]="orderProducts.productImages"
            [productTitle]="orderProducts.productName" [price]="orderProducts.productPrice" [productId]="orderProducts.productId"
             *ngFor="let orderProducts of product.products"></app-product-full-card>
          </div>
        </div>
      </div>
      <div *ngIf="loading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
      <img loading="lazy" src="./assets/NotFound.gif" alt="" *ngIf="liveOrders.length<=0 || liveOrders==undefined">
    </section>
    <app-sidenav activeLinkID="your-orders" *ngIf="screenwidth<1024"></app-sidenav>
  </div>
</div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>