.category-card, .category-img {
  border-radius: 20px;
}

.category-card {
  background-color: #ffffff;
  width: 225px;
  margin: 0em 0.75em;
  box-shadow: rgba(196, 17, 17, 0.2) 0px 2px 8px 0px;
}

.category-details {
  color: #FFAB00;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.category-title {
  font-family: 'Poppins';
  font-size: 1.2rem;
  text-align: center;
  color: #7a7a7a;
}

@media only screen and (max-width: 600px) {
  .category-card {
    width: 100px;
  }
  .category-title {
    font-size: 0.5rem;
  }
  .category-details {
    padding: 0.2rem;
  }
}