<ion-card class="category-card " uk-scrollspy-class="uk-animation-slide-top">
  <a routerLink="../product" [queryParams]="{productId:this.productId}">
    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
      <img [src]="img[0].image" alt="">
      <img class="uk-transition-scale-up uk-position-cover" [src]="img[1].image" alt="">
    </div>
    <div class="category-details">
      <h4 class="category-title">{{categoryTitle}}</h4>
    </div>
  </a>
  <div class="order-price-and-add-to-cart">
    <p class="order-price">From:<span>₹{{price}}</span></p>
    <div class="uk-animation-toggle" tabindex="0">
      <button *ngIf="authService.isJustLoggedIn" (click)="addToWishlist()" class="order-add-to-cart animation-scale-up">
        <ion-icon [name]="has() ? 'heart' : 'heart-outline'" #icon></ion-icon>
      </button>
    </div>
  </div>
</ion-card>