
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 25px 0px 10px;
}

.header a {
  float: left;
  color: #6D5DE3;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 25px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

img {
  padding-bottom: 10px;
  width: 220px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  padding-top: 20px;
  padding-right: 25px;
}

/* styling search bar */
.search input[type=text]{
  width:47vw;
  height:7vh;
  background-color: white;
  border-radius:25px;
  border: none;
  font-size: 20px;
  text-align: left;
}

.search{
  float:left;
  margin:7px;
  color: white;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 100px;
}

.search button{
  background-color: #675CE0;
  color: #f2f2f2;
  float: right;
  padding: 10px 10px;
  margin-right: 16px;
  font-size: 25px;
  border-radius:25px;
  border: none;
  cursor: pointer;
}

.nav{
  color: #6D5DE3;
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
  font-size: 20px;
}
.nav a{
  display:inline-block;
  padding:10px 80px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
