<div class="header">
  <a href="#default" class="logo"><img src="assets/logo.png" alt="Paris"></a>
  <div class="search">
    <input type="text" placeholder=" Search Anything..." name="search">
    <button>
      <ion-icon name="search" style="font-size:30px;"></ion-icon>
    </button>
  </div>
  <div class="headButtons">
    <button>
      <ion-avatar>
        <img [src]="image" />
      </ion-avatar>
    </button>
    <button class="onlyIcon">
      <ion-icon name="cart"></ion-icon>
    </button>
    <button class="onlyIcon">
      <ion-icon name="calendar-number"></ion-icon>
    </button>
  </div>
</div>

<div>
  <ul class="nav">
    <div style="float: left">
      <li><button uk-toggle="target: #offcanvas-push"><ion-icon name="menu"></ion-icon></button></li>
    </div>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">Shop</a></li>
    <li><a href="/work/">Wishlist</a></li>
    <li><a href="/clients/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/AdminPanel/Dashboard">Admin Panel</a></li>
    <li><a href="/VendorPanel/Dashboard">Vendor Panel</a></li>
    <div style="float: right">
      <li><a href="/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
    </div>
  </ul>
</div>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" ><ion-icon name="close"></ion-icon></button>
      <ul>
        <li><a href="">Login</a></li>
        <li><a href="">Account</a></li>
        <li><a href="">Vendor Panel</a></li>
        <li><a href="">Admin Panel</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Cart</a></li>
      </ul>
      <button class="bottomAvatar">
        <ion-avatar>
          <img [src]="image" />
        </ion-avatar>
      </button>
  </div>
</div>
