
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
<div class="header">
  <a href="#default" class="logo"><img src="assets/logo.png" alt="Paris"></a>
  <div class="search">
    <form action="#">
      <input type="text"
             placeholder=" Search Anything..."
             name="search" >
      <button>
        <i class="fa fa-search"
           style="font-size: 20px;">
        </i>
      </button>
    </form>
  </div>
  <div class="header-right">
    <div >
      <a class="ssolink" href="#"><i class="fa fa-user" style="font-size: 40px; color: #6D5DE3;"></i></a>
      <a class="ssolink" href="#"><i class="fa fa-shopping-cart" style="font-size: 40px; color: #6D5DE3;"></i></a>
      <a class="ssolink" href="#"><i class="fa fa-calendar" aria-hidden="true" style="font-size: 40px; color: #6D5DE3;"></i></a>
    </div>
  </div>
</div>

<div>
  <ul class="nav">
    <div style="float: left"><li><a href="/"><i class="fa fa-bars" aria-hidden="true"></i></a></li></div>
    <li><a href="/AdminPanel/Dashboard">Home</a></li>
    <li><a href="/about/">Shop</a></li>
    <li><a href="/work/">Wishlist</a></li>
    <li><a href="/clients/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
    <div style="float: right"><li><a href="/"><i class="fa fa-user" aria-hidden="true"></i></a></li></div>
  </ul>
</div>
