
<div class="headerdesk">
<div class="header" id="">
  <a routerLink="/" class="logo"><img loading="lazy" src="assets/logo.svg" alt="Hello Santa"></a>
  <div class="search">
    <input type="text" placeholder=" Search Anything..." name="search" id="searchInput"
      (change)="presentSearchResult($event)">
    <button>
      <ion-icon name="search" style="font-size:30px;"></ion-icon>
    </button>
  </div>
  <div class="headButtons">
    <button *ngIf="authService.isJustLoggedIn" (click)="presentUserinfo($event)">
      <ion-avatar>
        <img loading="lazy" [src]="image" referrerpolicy="no-referrer" />
      </ion-avatar>
    </button>
    <button class="onlyIcon" *ngIf="authService.isJustLoggedIn" (click)="presentCartinfo($event)">
      <span *ngIf="cartItems.length > 0" [matBadge]="cartItems.length" matBadgePosition='above after'
        matBadgeColor="warn" matBadgeOverlap="false">
        <ion-icon name="cart"></ion-icon>
      </span>
      <ion-icon *ngIf="cartItems.length <= 0" name="cart"></ion-icon>
    </button>
    <a routerLink="../calendar">
      <button class="onlyIcon" *ngIf="authService.isJustLoggedIn">
        <ion-icon name="calendar-number"></ion-icon>
      </button>
    </a>
    <a routerLink="../referral">
      <button class="onlyIcon" *ngIf="authService.isJustLoggedIn">
        <span *ngIf="coins > 0" [matBadge]="coins" matBadgePosition='above after'
          matBadgeColor="warn" matBadgeOverlap="false">
          <ion-icon name="wallet"></ion-icon>
        </span>
        <ion-icon *ngIf="coins <= 0 || coins==undefined" name="wallet"></ion-icon>
      </button>
    </a>
    <ion-button routerLink="../login/" *ngIf="!authService.isJustLoggedIn">
      Log In
    </ion-button>
    <ion-button routerLink="../signup/" *ngIf="!authService.isJustLoggedIn">
      Register
    </ion-button>
  </div>
</div>
<div class="links">
  <ul class="nav">
      <li><button uk-toggle="target: #offcanvas-push" >
          <ion-icon name="menu"></ion-icon>
        </button></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/shop/">Shop</a></li>
    <div uk-dropdown class="dog">
      <ul class="uk-nav uk-dropdown-nav " style="display:block">
          <li><a routerLink="/specificProducts" [queryParams]="{category:category}" *ngFor="let category of categories">{{category}}</a></li>
      </ul>
    </div>
    <li *ngIf="this.authService.isJustLoggedIn"><a routerLink="/wishlist">Wishlist</a></li>
    <li><a routerLink="/help/">Contact</a></li>
    <li><a routerLink="/bloghome/">Blog</a></li>
    <li *ngIf="this.authService.getCurrenAccessLevel == 'Admin'"><a routerLink="/AdminPanel/Dashboard">Admin Panel</a></li>
    <li *ngIf="this.authService.getCurrenAccessLevel == 'Vendor'"><a routerLink="/VendorPanel/Dashboard">Vendor Panel</a></li>

  </ul>
</div>
</div>
<div id="offcanvas-push" uk-offcanvas="overlay: true;" container="true" esc-close="true" bg-close="true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button">
      <ion-icon name="close"></ion-icon>
    </button>
    <ul>
      <li *ngIf="!this.authService.isJustLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="this.authService.getCurrenAccessLevel == 'Vendor'"><a routerLink="/VendorPanel/Dashboard">Vendor Panel</a>
      </li>
      <li *ngIf="this.authService.getCurrenAccessLevel == 'Admin'"><a routerLink="/AdminPanel/Dashboard">Admin Panel</a></li>
      <li *ngIf="this.authService.isJustLoggedIn"><a routerLink="/account">Account</a></li>
      <li *ngIf="this.authService.isJustLoggedIn"><a routerLink="/orders">Your Orders</a></li>
      <li *ngIf="this.authService.isJustLoggedIn"><a routerLink="/buyagain">Buyagain</a></li>
      <li *ngIf="this.authService.isJustLoggedIn"><a routerLink="/calendar">Calendar</a></li>
      <li><a routerLink="/aboutus">About us</a></li>
      <li><a routerLink="/help">Contact Us</a></li>
      <li><a routerLink="/disclaimer">Disclaimer</a></li>
      <li><a routerLink="/privacypolicy">Privacypolicy</a></li>
      <li><a routerLink="/termsandconditions">Terms&conditions</a></li>
      <li><a routerLink="/refund">Refundandreturn</a></li>
    </ul>
    <div class="bottomAvatar">
      <ion-row>
        <button *ngIf="authService.isJustLoggedIn">
          <ion-avatar>
            <img loading="lazy" [src]="image" />
          </ion-avatar>
        </button>
        <ion-button (click)="authService.SignOut()" *ngIf="authService.isJustLoggedIn">
          Log Out
        </ion-button>
        <ion-button routerLink="../login/" *ngIf="!authService.isJustLoggedIn">
          Log In
        </ion-button>
        <ion-button routerLink="../signup/" *ngIf="!authService.isJustLoggedIn">
          Register
        </ion-button>
      </ion-row>
    </div>
  </div>
</div>
<div class="headerMobile">
  <button uk-toggle="target: #offcanvas-push">
    <ion-icon name="menu"></ion-icon>
  </button>
  <a class="img" routerLink="/">
  <img loading="lazy" src="./assets/logo-light.svg" alt="Hello Santa Logo">
</a>
  <button (click)="presentSearch($event)">
    <ion-icon name="search"></ion-icon>
  </button>
</div>