<ion-content>
  <div class="header">
    <ion-title>Add A Product</ion-title>
  </div>
  <div *ngIf="showProgress">
    <ion-progress-bar [color]="progressColor" [value]="progressValue" [type]="progressType"></ion-progress-bar>
  </div>
  <form [formGroup]="basicDetail" (ngSubmit)="addBasicDetailProduct()" method="POST">
    <ng-template matStepLabel>Product Basic Details</ng-template>
    <ion-item>
      <ion-label>Total Product Images</ion-label>
      <ion-input type="number" required="true" placeholder="Total product images." id="mainProdImage"
        [value]="imagesNumList" min=2 max=10 #mainImgCount></ion-input>
    </ion-item>
    <ion-card *ngFor="let prodImg of genList(mainImgCount.value);let i = index" [attr.data-index]="i" >
      <img loading="lazy" id="productImage{{prodImg}}">
      <br>
      <ion-input type="file" required="true" accept="image/png, image/jpeg"
        (change)="loadProdImage($event,'productImage'+prodImg.toString(),i)"></ion-input>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" placeholder="Product Name" required="true" formControlName="productName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product description</ion-label>
      <ion-textarea placeholder="Product Description" auto-grow="true" required="true" spellcheck formControlName="productDescription">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Short Description</ion-label>
      <ion-textarea placeholder="Short Description" required="true" spellcheck formControlName="shortDescription">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SEO Description</ion-label>
      <ion-textarea placeholder="SEO Description" required="true" spellcheck formControlName="seoDescription">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Display Price</ion-label>
      <ion-input type="number" min=0 value=0 placeholder="Product Price" required="true" formControlName="productPrice">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Select Categories</ion-label>
      <ion-select [value]="selectedCategories" multiple="true" placeholder="Select Pizza">
        <ion-select-option [value]="category" *ngFor="let category of allCategories">{{category}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Select Subcategories</ion-label>
      <ion-select [value]="selectedSubcategories" multiple="true" placeholder="Select Pizza">
        <ion-select-option [value]="category" *ngFor="let category of allSubCategories">{{category}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Vendor Id</ion-label>
      <ion-select multiple="true" placeholder="Select Vendors" [value]="selectedVendors"
        (ionChange)="addToVendors($event)">
        <ion-select-option [value]="vendor.id" *ngFor="let vendor of allVendors">
          {{vendor.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Stock</ion-label>
      <ion-input type="number" placeholder="Total Stock" required="true" formControlName="totalStock"></ion-input>
    </ion-item>
    <ion-row class="header">
      <ion-button type="reset" [disabled]="isLoading || !basicDetail.valid">
        Reset
      </ion-button>
      <ion-button (click)="checkFields()">
        Check Form
      </ion-button>
      <ion-button type="submit" [disabled]="isLoading || !basicDetail.valid">
        Submit
      </ion-button>
    </ion-row>
  </form>
</ion-content>