.order-card,
.order-img {
  border-radius: 20px;
}

.order-img {
  height: 150px;
}

.order-card {
  width: 200px;
  margin: 1em 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.order-details {
  color: #5c5b5a;
  padding: 1em;
}
.order-details > div {
  padding-left: 10px;
  padding-right: 10px;
}
.details {
  margin-top: 20px;
}
.order-title {
  font-family: "Poppins";
  font-size: 1rem;
  color: #777777;
}
.order-details {
  box-shadow: none;
  margin: 0%;
  padding-left: 10px;
  padding-right: 10px;
}
.order-price-and-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-size: 0.75rem;
  padding-left: 20px;
  padding-right: 20px;
}

.order-price {
  font-family: "Poppins";
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-right: 0.2em;
  color: #5ac179;
}

.order-price > span {
  font-size: 1rem;
}
.order-add-to-cart {
  background-color: white; /* Green */
  border-radius: 10px;
  color: var(--ion-color-primary);
  margin-left: 2px;
  padding: 3px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .order-img {
    height: auto;
  }

  .order-card {
    width: 160px;
    margin: 0.5em 0.25em;
  }
  .order-details {
    padding: 1em;
  }

  .order-title {
    font-size: 1rem;
    margin-top: 0%;
    line-height: 1;
  }

  .order-description {
    font-size: 12px;
    margin-top: 5px;
    line-height: 1;
  }

  .order-price-and-add-to-cart {
    margin-top: -5px;
    margin-bottom: -15px;
    padding-bottom: 10px;
    font-size: 1rem;
  }

  .order-price {
    font-size: 0.8rem;
    margin-top: 0rem;
    margin-right: 0.2em;
  }
  .order-add-to-cart {
    margin: 0 0 0 5px;
    padding: 3px 4px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
  }
}
