
.order-card, .order-img {
  border-radius: 20px;
}

.order-card {
  width: 300px;
  margin: 1em 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.order-details {
  color: #FFAB00;
  padding: 1em;
}

.order-title {
  font-family: 'Poppins';
  font-size: 1.5rem;
  color: #FFAB00;
}

.order-price-and-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.25rem;
}

.order-price {
  font-family: 'Poppins';
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-right: 0.2em;
  color: #5AC179;

}

.order-add-to-cart {
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin-left:10px;
  padding: 3px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}
.order-add-to-cart1 {
  background-color: #FFF4DE; /* Green */
  border-radius: 10px;
  border: 5px solid #FFAC03;
  color: #FFB010;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .order-card {
    width: 160px;
    margin: 0.5em 0.25em;
  }
  .order-details {
    padding: 1em;
  }
  
  .order-title {
    font-size: 1rem;
    margin-top: 0%;
  }

  .order-description{
    font-size: 0.6rem;
    margin-top: 5px;
  }
  
  .order-price-and-add-to-cart {
    margin-top: -25px;
    margin-bottom: -15px;
    font-size: 1rem;
  }
  
  .order-price {
    font-size: 0.7rem;
    margin-top: 0.8rem;
    margin-right: 0.2rem;
  }
  .order-add-to-cart {

    margin: 0 0 0 5px;
    padding: 3px 4px;
    font-size: 0.5rem;
    border-radius: 5px;
    border: 2px solid #9081FF;
  }
  .order-add-to-cart1 {
    margin: 0 0 0 0;
    border-radius: 5px;
    padding: 5px 3px;
    font-size: 0.6rem;
    border: 2px solid #FFAC03;
  }
  }