
.order-card, .order-img {
  border-radius: 20px;
}

.order-card {
  width: 300px;
  margin: 1em 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.order-details {
  color: #FFAB00;
  padding: 1em;
}

.order-title {
  font-family: 'Poppins';
  font-size: 1.5rem;
  color: #FFAB00;
}

.order-price-and-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.25rem;
}

.order-price {
  font-family: 'Poppins';
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-right: 0.2em;
  color: #5AC179;

}

.order-add-to-cart {
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin-left:10px;
  padding: 3px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}
.order-add-to-cart1 {
  background-color: #FFF4DE; /* Green */
  border-radius: 10px;
  border: 5px solid #FFAC03;
  color: #FFB010;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}
