<ion-content>
  <img loading="lazy" src="../../assets/yellow.png" class="bg">
  <div class="box">
    <div class="inner-box" align="center">
      <img loading="lazy" src="assets/logo.png" height="60px" width="280px" align="center" class="image">
      <p class="para">Complete initial setup</p>
      <div class="select" align="center">
        <p class="para4" style="color: #FFAB01;top: 50%;left: 50%;font-size: 20px;font-family: Raleway;font-weight: bolder;">Select Your Birthday</p>
        <input type="date" value="Select your birthday" placeholder="Select your birthday" class="input1">
        <br>
        <br>
        <input type="submit" class="input3" style="color: white">
      </div>
      <br>
      <div class="thirdbox">
        <p class="para2" style="color: #FFAB01">Connect facebook to see
          all friends special events</p>
        <input type="submit" value="Connect Now" class="input"  style="color: white">
      </div>
      <br>
      <div class="thirdbox">
        <p class="para2" style="color: #FFAB01">Connect Google to sync all
          your calendar events</p>
        <input type="submit" value="Connect Now" class="input"  style="color: white">
      </div>
      <input type="submit" value="Connect Now" class="input4"  style="color: white">
      </div>
    </div>
</ion-content>