<ion-content>
  <ion-list>
    <ion-radio-group name="sortMethod" value="LW" (ionChange)="modalController.dismiss({sortMethod:$event})">
      <ion-list-header>
        <ion-label>Sorty By:</ion-label>
      </ion-list-header>
      <ion-item class="listoptions">
        <ion-label>Price Low-High</ion-label>
        <ion-radio value="LH"></ion-radio>
      </ion-item>
      <ion-item class="listoptions">
        <ion-label>Price High-Low</ion-label>
        <ion-radio value="HL"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>