<ion-card>
  <ion-item>
    <ion-avatar>
      <img [src]="image" />
    </ion-avatar>
    &nbsp;&nbsp;
    <ion-label>{{username}}</ion-label>
  </ion-item>
  <star-rating class="uk-text-center uk-margin-small-top" [value]="stars" [totalstars]="5" [readonly]="true" size="25px" checkedcolor="#9081FF" uncheckedcolor="#d0caff">
  </star-rating>
  <ion-card-header>
    <ion-card-subtitle>{{title}}</ion-card-subtitle>
    <ion-card-title>{{commentDate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{body}}
  </ion-card-content>
</ion-card>