

.home{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1920px;
    height: auto;
}

#container {
    width: 95%;
    margin: 4em auto;
}

#container2 {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}
ion-content > div > div> div{
    height:80vh;
}
ion-content > div > div > div > ion-spinner{
    width: 40px;
    height:40px;
    color:var(--ion-color-primary);
}
ion-item{
    width:200px;
    margin: 0 auto;
}
ion-item > button {
    border-radius: 10px;
    padding:5px;
    background-color: var(--ion-color-primary);
    color:#fff;
}
ion-item > button > ion-icon {
    font-size: 20px;
}
ion-item > ion-label {
    text-align: center;
}
#orders-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
#orders-container > div{
    width:100%;
}
.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }



#product-images-and-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-images {
    width: 50%;
    display: flex;
    margin-right: 1em;
    padding:20px;
}

#product-images-list {
    width: 15%;
    margin-right: .5em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
}

.product-images-list-item {
    display: block;
    object-fit: cover;
    margin-bottom: .5em;
    border-radius: 10px;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.2);
}

#product-image-preview {
    width: 70%;
    max-height: 500px;  
    border-radius: 25px;
}

#product-details {
    width: 50%;
}

#product-name {
    color: #6D5CE5;
    font-size: 2rem;
    font-family: 'Poppins';
    line-height: 1.25em;
}

#product-feature-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 2.5;
}

.product-feature-button {
    margin-right: 1em;
    padding: .5em 1em;
    font-size: 0.8rem;
    color: #6D5CE5;
    border: 2px solid #6D5CE5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50px;
}
.product-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2em;
}
#product-price{
    color: #5AC179;
    font-size: 2rem;
    font-weight: 700;
    margin: 1em 0;
    text-align: left;
}

#product-filters {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    padding: 5px;
    overflow-x: auto;
    overflow-y: visible;
}
#productFilterSelections{
    overflow-x: auto;
    overflow-y: visible;
}
.product-filter {
    padding: 1em;
    border-radius: 50px;
    font-family: 'Poppins';
    width: 23%;
    color: #6D5CE5;
    font-size: 1.2em;
    font-weight: 700;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

#product-types-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;
    display: none;
}

#product-types-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

#product-types {
    display: flex;
    justify-content: space-between;
}

#product-action-buttons {
    display: flex;
    justify-content: center;
    margin: 1em 100px;
}

.product-action-button {
    color: #fff;
    padding: .5em 1em;
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin: 0 .5em;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.headingproducts{
    font-family: Poppins;
    text-align: center;
    padding: 80px;
    font-weight: bold;
    font-size: 3rem;
}

#product-buy-now {
    background-color: #6D5CE5;
}

#product-add-to-cart {
    background-color: #FFAB00;
}
button[disabled]{
    opacity: .5;
}
#product-description {
  height: auto;
  width: 90vw;
  font-family: Poppins;
  text-align: left;
  font-size: 20px;
  margin:2.5%;
  padding: 50px;
  background: rgba(255, 255, 255, .7);
  box-shadow: #9081ff3b 10px 20px 30px 0px;
  border-radius: 20px;
  border: 3px solid #9081FF;
}
#product-description > ion-card {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: #9081ff3b 7px 5px 20px 0px;
    transition: box-shadow .5s ease-in-out;
    padding:10px;
    width:500px;
}

.ratings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.review-image{
    width: 800px;
    height: auto;
    margin: auto;
font-size: 15px; 
text-align: center;
}
.title{
    font-size: 50px; text-align: center; margin: auto;
}
.title1{
    font-size: 25px; text-align: center; margin: auto;color: rgb(0, 0, 0);
}
#product-description > img{
    width:500px;
    height:auto;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    filter: saturate(0%);
    opacity: 0.4;
    transition: all .5s ease-in-out;
}
#product-description > img:hover{
    filter: saturate(100%);
    opacity: 1;
}
#product-description > ion-card:hover{
    box-shadow: #9081ff3b 7px 12px 40px 10px;
}
#product-description-title, #similar-products-title {
    font-size: 2rem;
    color: #6D5CE5;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 1em;
}

#similar-products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
}

.similar-product {
    width: 20%;
    font-family: 'Poppins';
    text-align: center;
    font-size: 1.25rem;
}

.similar-product-image {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 25px;
}

.similar-product-price {
    font-size: 1.5rem;
    color: #6D5CE5;
    font-weight: 700;
    margin: 1em 0;
}
ion-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#product-name> span{
    font-size: 17px;
    line-height:0.4px;
    color: rgba(0, 0, 0, 0.671);
    margin-bottom: 10px;
}
.textSel > span:nth-child(1){
    font-size: 20px;
    color:var(--ion-color-primary)
}
.textSel > span:nth-child(1){
    font-size: 15px;
    color:var(--ion-color-success)
}
.selectionPrice{
    color: var(--ion-color-success);
}
.selectionTitle{
    color: var(--ion-color-primary);
    font-size: 15px;
}
.selectionChoiceCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
    height:150px;
    padding: 5px;
    text-align:center;
    margin-left: 10px;
    box-shadow: rgba(148, 116, 255, 0.349) 0px 2px 8px 0px;
    transition: all .5s ease-in-out;
}
.selectionChoiceCard:hover{
    transform: scale(1.1);
    box-shadow: rgba(148, 116, 255, 0.349) 5px 5px 8px 2px;
}
.selectionChoiceCard > img {
    width:auto;
    height:60px;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
ion-radio-group{
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 1024px) {

    .home{
        margin: 0 auto;
        min-width:300px;
        max-width: 800px;
        zoom: 100%;
      }
    .ratings > img{
        width:80vw;
        margin:auto 0;
    }
    .review-image{
        width: 100px;
        height: auto;
        margin: auto;
    font-size: 20px; 
    text-align: center;
    }
    .title{
        font-size: 20px; text-align: center; margin-left: 40px;color: black;
    }
    .title1{
        font-size: 15px; text-align: center; margin: auto; color: black;
    }
    #container2 {
      margin-top: 50px;
      width: 99%;
    }
    #container{
        margin-top: 10px;
    }
    #product-images-and-details {
        align-items: flex-start;
        flex-direction: column;
    }
    #product-images {
        width: 100vw;
        display: flex;
        margin-right: 0% !important;
        flex-direction: column;
        padding: 0% !important;
    }
    
    .product-row{
        display: flex;
        flex-wrap: nowrap;
        // flex-direction: row;
        overflow-y: auto;
        padding:5px;
        justify-content:normal;
    }
    #product-images-list {
        width: 100vw;
        display: flex;
        flex-direction: row;
        overflow-y: auto;
        margin-top: 10px;
        max-height: fit-content;
    }
    
    .product-images-list-item {
        display: block;
        object-fit: cover;
        width:100px;
        height:auto;
        margin-bottom: .2em;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    #product-image-preview {
        display: block;
        width: 95vw;
        object-fit: cover;
        height: auto;
        border-radius: 15px;
    }
    
    .headingproducts{
        padding: 20px;
        font-size: 1.5rem;
    }

    #product-details {
        margin: 10% 0%;
        width: 100%;
    }
    #product-name {
        color: #6D5CE5;
        font-size: 1.5rem;
        font-family: 'Poppins';
        line-height: 1;
    }
    #product-description {
        font-size: 1rem;
        margin:2.5%;
        padding: 15px;

      }

      #product-action-buttons {
        margin: 1em 10px;
    }
    
    .product-action-button {
        padding: .5em 0.8em;
        font-family: 'Poppins';
        font-size: 1rem;
        margin: 0 0.75em;
        border-radius: 25px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    #product-filters {
        display: flex;
        justify-content: space-between;
        margin: 2em 0.5em;
        padding: 5px;
        overflow-x: auto;
        overflow-y: visible;
    }
    #productFilterSelections{
        overflow-x: auto;
        overflow-y: visible;
    }
    .product-filter {
        padding: 1em;
        border-radius: 50px;
        font-family: 'Poppins';
        width: 50%;
        color: #6D5CE5;
        font-size: 0.75em;
        font-weight: 700;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: none;

    }

    ion-item{
        margin: 0 0.25em;
    }

    #orders-container {
        padding: 0em;
      }
      #product-price{
        color: #5AC179;
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0.25em 1.25em;
        text-align: left;
    }
  }