<ion-content>
    <app-header></app-header>
    <ion-spinner *ngIf="!productData"></ion-spinner>
    <main id="container" *ngIf="productData">
        <section id="product">
            <div id="product-images-and-details">
                <div id="product-images">
                    <div id="product-images-list">
                        <img [src]="item.image" (click)="selectedImage=item.image" class="product-images-list-item"
                            [alt]="item.imageName" *ngFor="let item of productData.productImages">
                    </div>
                    <img [src]="selectedImage" alt="Product Image Description" id="product-image-preview">
                </div>
                <div id="product-details">
                    <h2 id="product-name">{{productData.productName}}<br><span>{{productData.shortDescription}}</span>
                    </h2>
                    <div id="product-feature-buttons">
                        <button class="product-feature-button" *ngFor="let catText of category">{{catText}}</button>
                        <button class="product-feature-button"
                            *ngFor="let subcatText of subcategory">{{subcatText}}</button>
                    </div>
                    <p id="product-price">Price: &#8377; <span *ngIf="productPrice==0">{{displayPrice}}</span> <span
                            *ngIf="productPrice!=0">{{productPrice}}</span></p>
                    <div id="product-action-buttons">
                        <button id="product-buy-now" class=product-action-button (click)="buyNow()">Buy Now</button>
                        <button id="product-add-to-cart" class=product-action-button (click)="addToCart()">Add to
                            Cart</button>
                    </div>
                    <div></div>
                    <div id="product-filters">
                        <button class="product-filter"
                            (click)="selectedExtraType=extra.type;selectedExtraTitle=extra.sectionTitle"
                            *ngFor="let extra of productData.extraData">
                            <span *ngIf="extra.type=='faceInput'">Image Faces</span>
                            <span *ngIf="extra.type=='extraInfo'">Extra Info</span>
                            <span
                                *ngIf="extra.type!='faceInput' && extra.type!='extraInfo'">{{extra.sectionTitle}}</span>
                        </button>
                    </div>
                    <div *ngFor="let item of productData.extraData">
                        <ion-row *ngIf="item.sectionTitle == selectedExtraTitle && item.type=='textSel'">
                            <ion-radio-group [name]="item.sectionTitle" [value]="extrasData[item.sectionTitle]"
                                required (ionChange)="updateData($event,item.isRelative,item.sectionTitle)"
                                id="imgSel{{item.sectionTitle}}">
                                <ion-card class="selectionChoiceCard" *ngFor="let single of item.values">
                                    <span class="selectionTitle">{{single.title}}</span><br>
                                    <span class="selectionPrice"> &#8377;{{single.priceAddon}}</span>
                                    <ion-radio [value]="single"></ion-radio>
                                </ion-card>
                            </ion-radio-group>
                        </ion-row>
                        <ion-row *ngIf="item.sectionTitle == selectedExtraTitle && item.type=='img'">
                            <ion-card class="selectionChoiceCard" *ngFor="let single of item.values"
                                id="selImg{{single.imageTitle}}{{item.sectionTitle}}">
                                <img [src]="single.image" />
                                <ion-label class="uk-align-center uk-text-center">{{single.imageTitle}}</ion-label>
                                <ion-label class="uk-align-center uk-text-center">&#8377;{{single.priceAddon}}
                                </ion-label>
                                <ion-radio [value]="single"></ion-radio>
                            </ion-card>
                        </ion-row>
                    </div>
                </div>
            </div>
            <div id="product-description">
                <h4 id="product-description-title">Description</h4>
                <div [innerHTML]="productData.productDescription"></div>
            </div>
        </section>
        <section id="product-description">
            <h1>Ratings</h1>
            <ion-card>
                <h3>Add your own review</h3>
                <form [formGroup]="form" (ngSubmit)="addComment()">
                    <ion-item>
                        <ion-label position="floating">Review Title</ion-label>
                        <ion-input type="text" formControlName="commentTitle" placeholder="Title"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Review Description</ion-label>
                        <ion-textarea formControlName="commentBody"></ion-textarea>
                    </ion-item>
                    <star-rating (rate)="changeRatingStar($event)"
                        class="uk-align-center uk-text-center uk-margin-small-top" [value]="0" [totalstars]="5"
                        checkedcolor="goldenrod" size="25px">
                    </star-rating>
                    <ion-button type="submit" shape="round" [disabled]="!form.valid">
                        Submit
                    </ion-button>
                </form>
            </ion-card>
            <div class="ratings uk-align-center uk-text-center">
                <app-comment-card [image]="comment.userImage" [stars]="comment.stars" [body]="comment.commentBody"
                    [title]="comment.commentTitle" [commentDate]="comment.commentDate" [username]="comment.userName"
                    *ngFor="let comment of comments"></app-comment-card>
            </div>
        </section>
        <div id="container2">
            <section id="orders-container" *ngIf="recommendationProducts!=[]">
                <div>
                    <h1 class="headingproducts uk-text-center">More Products like This</h1>
                    <div class="product-row uk-text-center uk-align-center">
                        <app-product-full-card *ngFor="let product of recommendationProducts"
                            [img]="product.productImages[0].image" [productTitle]="product.productName"
                            [productDescription]="product.seoDescription" [price]="product.productPrice">
                        </app-product-full-card>
                    </div>
                </div>
            </section>
            <ion-spinner *ngIf="recommendationProducts==[]"></ion-spinner>
        </div>
    </main>
    <app-footer></app-footer>
</ion-content>