* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

#container {
    width: 95%;
    margin: 4em auto;
}

#container2 {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}


#orders-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  width: 100%;
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.order-card, .order-img {
  border-radius: 20px;
}

.order-card {
  width: 20%;
  margin: 1em 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.order-details {
  color: #FFAB00;
  padding: 1em;
}

.order-title {
  font-family: 'Poppins';
  font-size: 1.5rem;
  color: #FFAB00;
}

.order-price-and-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.25rem;
}

.order-price {
  margin-right: 1em;
  color: #5AC179;
}

.order-add-to-cart {
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin: 0 0 0 0;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}


#product-images-and-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-images {
    width: 50%;
    display: flex;
    margin-right: 1em;
}

#product-images-list {
    width: 15%;
    margin-right: .5em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
}

.product-images-list-item {
    display: block;
    object-fit: cover;
    margin-bottom: .5em;
    border-radius: 25px;
}

#product-image-preview {
    display: block;
    width: 70%;
    object-fit: cover;
    max-height: 500px;
    border-radius: 25px;
}

#product-details {
    width: 50%;
}

#product-name {
    color: #6D5CE5;
    font-size: 2rem;
    font-family: 'Poppins';
    line-height: 1.25em;
}

#product-feature-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-feature-button {
    margin-right: 1em;
    padding: .5em 1em;
    font-size: 1.1rem;
    color: #6D5CE5;
    border: 2px solid #6D5CE5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50px;
}

#product-price{
    color: #5AC179;
    font-size: 2rem;
    font-weight: 700;
    margin: 1em 0;
    text-align: center;
}

#product-filters {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.product-filter {
    padding: .5em;
    border-radius: 50px;
    font-family: 'Poppins';
    width: 23%;
    color: #6D5CE5;
    font-weight: 700;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

#product-types-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;
    display: none;
}

#product-types-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

#product-types {
    display: flex;
    justify-content: space-between;
}

#product-action-buttons {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.product-action-button {
    color: #fff;
    padding: .5em 1em;
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin: 0 .5em;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#product-buy-now {
    background-color: #6D5CE5;
}

#product-add-to-cart {
    background-color: #FFAB00;
}

#product-description {
  height: auto;
  width: 90vw;
  font-family: Poppins;
  text-align: left;
  font-size: 20px;
  margin:2.5%;
  padding: 50px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 50px;
  border: 5px solid #9081FF;
}

#product-description-title, #similar-products-title {
    font-size: 2rem;
    color: #6D5CE5;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 1em;
}

#similar-products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
}

.similar-product {
    width: 20%;
    font-family: 'Poppins';
    text-align: center;
    font-size: 1.25rem;
}

.similar-product-image {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 25px;
}

.similar-product-price {
    font-size: 1.5rem;
    color: #6D5CE5;
    font-weight: 700;
    margin: 1em 0;
}
