
.blog-card, .blog-img {
  border-radius: 20px;
}

.blog-card {
  width: 300px;
  margin: 1em 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.blog-details {
  color: #FFAB00;
  padding: 1em;
}

.blog-title {
  font-family: 'Poppins';
  font-size: 1.2rem;
  color: #5c5b5a;
}
.blog-description{
  font-family: 'Poppins';
  font-size: 1rem;
  color: #777777;
}

a{
  color: white;
}

@media only screen and (max-width: 1024px) {
  .blog-card {
    width: 160px;
    margin: 0.5em 0.25em;
  }
  .blog-details {
    padding: 1em;
  }

  .blog-title {
    font-size: 1rem;
    margin-top: 0%;
    line-height: 1;
  }

  .blog-description{
    font-size: 0.6rem;
    margin-top: 5px;
    line-height: 1;
  }

  .blog-button {
    font-size: 1rem;
  }

  .read-more-button {
    margin: 0 0 0 10px;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #9081FF;
  }
  }
