.home {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1920px;
zoom: 80%;
}

.text1 {
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  color: #6d5de3;
  padding-top: 5%;
}

.text2 {
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  color: #6d5de3;
  padding-top: 3%;
}
.text3 {
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ada2ff;
}

.text4 {
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ada2ff;
  padding-top: 3%;
}

.text5 {
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ada2ff;
}

.image-support {
  float: right;
  width: 400px;
  height: auto;
  padding-right: 30px;
}

.line7 {
  background-color: #6d5de3;
  width: 90%;
  height: 5px;
  margin: auto;
}
.inner-box {
  height: 50vh;
  width: 60%;
  font-family: Poppins;
  text-align: left;
  font-size: 20px;
  margin: 2% 20% 0% 20%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 5px solid #9081ff;
}

.inner-box2 {
  height: auto;
  width: 60%;
  font-family: Poppins;
  text-align: left;
  font-size: 20px;
  margin: 0% 20% 0% 20%;
  padding: 50px;
  padding-left: 15%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 5px solid #9081ff;
}

.inner-box3 {
  height: auto;
  width: 57%;
  font-family: Poppins;
  text-align: left;
  font-size: 20px;
  margin: 2% 20% 5% 20%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 5px solid #9081ff;
}
.union {
  padding-top: 50px;
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
  color: #6d5de3;
}
#subject {
  outline: none;
  height: 60%;
  width: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 5px solid #9081ff;
  align-items: center;
  margin-right: 0%;
  padding: 20px;
}
#fname {
  outline: none;
}

.insta {
  width: 500px;
  height: auto;
}
.whatsapp {
  width: 400px;
  height: auto;
}
.linkedin {
  width: 350px;
  height: auto;
}
.facebook {
  width: 300px;
  height: auto;
}
.twitter {
  width: 300px;
  height: auto;
}
ion-card {
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 5px solid #9081ff;
}
ion-item {
  border-bottom: 2px solid #6d5de3;
}
ion-textarea {
  border: 2px solid #9081ff;
  border-radius: 15px;
}

  ion-button{
    margin: 5% 45%;
  }

@media only screen and (max-width: 1366px) {
  .inner-box3 {
    height: auto;
    width: 60%;
    font-family: Poppins;
    text-align: left;
    font-size: 20px;
    margin: 2% 20% 5% 20%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: 5px solid #9081ff;
  }
  .union {
    font-size: 3rem;
  }
  .insta {
    width: 400px;
    height: auto;
  }
  .whatsapp {
    width: 230px;
    height: auto;
  }
  .linkedin {
    width: 250px;
    height: auto;
  }
  .facebook {
    width: 200px;
    height: auto;
  }
  .twitter {
    width: 400px;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home {
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
    zoom: 100%;
  }
  .inner-box3 {
    height: auto;
    width: 90%;
    font-family: Poppins;
    text-align: left;
    font-size: 20px;
    margin: 2% 5% 5% 5%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: 5px solid #9081ff;
  }

  .insta {
    width: 300px;
    height: auto;
  }
  .whatsapp {
    width: 300px;
    height: auto;
  }
  .linkedin {
    width: 200px;
    height: auto;
  }
  .facebook {
    width: 200px;
    height: auto;
  }
  .twitter {
    width: 300px;
    height: auto;
  }
  ion-card {
    margin: 5%;
    padding: 20px;
    width: fit-content;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 3px solid #9081ff;
  }
  .text1 {
    font-family: Poppins;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: #6d5de3;
    padding-top: 5%;
  }

  .text2 {
    font-family: Poppins;
    text-align: center;
    font-weight: bolder;
    font-size: 10px;
    color: #6d5de3;
    padding-top: 5%;
  }
  .text3 {
    font-family: Poppins;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #ada2ff;
  }

  .text4 {
    font-family: Poppins;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #ada2ff;
    padding-top: 5%;
  }

  .text5 {
    font-family: Poppins;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #ada2ff;
  }
  ion-button{
    margin: 5% 35%;
  }

  .image-support {
    float: right;
    width:50vw;
    height: 180px;
    padding-right: 2px;
  }

  .line7 {
    background-color: #6d5de3;
    width: 90%;
    height: 2px;
    margin: auto;
  }
  .inner-box {
    height: 50vh;
    width: 90%;
    font-family: Poppins;
    text-align: left;
    font-size: 20px;
    margin: 2% 5% 0% 5%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 3px solid #9081ff;
  }

  .inner-box2 {
    height: auto;
    width: 90%;
    font-family: Poppins;
    text-align: left;
    font-size: 10px;
    margin: 0% 5% 0% 5%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 3px solid #9081ff;
  }
}
