<ion-content>
  <app-header></app-header>
  <div class="home">
    <h1 class="heading">TERMS & CONDITION DECLARATION OF THE PLATFORM</h1>
    <div class="uk-panel">
      <div class="inner-box" align="center">
        <p class="c10 title" id="h.myavsvkfyehy">
          <span class="c7 c15">Terms and Conditions:</span>
        </p>
        <h2 class="c0" id="h.vet60gllbkd7"><span class="c3">OVERVIEW</span></h2>
        <p class="c1"><span class="c2">Dear browsers, vendors, customers, and merchants,</span></p>
        <p class="c1"><span>Welcome to </span><span class="c13 c7">Hello Santa!</span></p>
        <p class="c1 c4"><span class="c7 c13"></span></p>
        <p class="c1"><span>This website is operated by </span><span class="c7">Hello Santa,
            a</span><span>&nbsp;</span><span class="c7">DearSanta LLP Product.</span><span>&nbsp;Throughout the site,
            the terms </span><span class="c7">&ldquo;we&rdquo;, &ldquo;us&rdquo; and &ldquo;our&rdquo; refer to
            DearSanta LLP.</span><span class="c2">&nbsp;DearSanta LLP offers this website, including all information,
            tools and services available from this site to you, the user, conditioned upon your acceptance of all terms,
            conditions, policies and notices stated here.</span></p>
        <p class="c1"><span>These terms and conditions govern your use of Hello Santa and the services provided by it.
            By visiting our site, </span><span class="c12"><a class="c6"
              href="https://www.google.com/url?q=https://hellosanta.in/&amp;sa=D&amp;source=editors&amp;ust=1640601562769000&amp;usg=AOvVaw1um_7HRAjA7L2rIijl_2ns">https://hellosanta.in/</a></span><span
            class="c8">,</span><span>&nbsp;</span><span>and/or purchasing something from us, you engage in
            our</span><span class="c7">&nbsp;&ldquo;Service&rdquo;</span><span>&nbsp;and agree to be bound by the
            following terms and conditions (&ldquo;Terms of Service&rdquo;, &ldquo;Terms&rdquo;), including those
            additional terms and conditions and policies referenced herein and/or available by hyperlink. It
            indicates</span><span>&nbsp;that you understand these Terms and Conditions and accept them as the legal
            equivalent of a signed, written contract binding you to these Terms and Conditions. </span><span
            class="c2">These Terms of Service apply to all users of the site, including without limitation users who are
            browsers, vendors, customers, merchants, and/or contributors of content.</span></p>
        <p class="c1"><span class="c2">Please read these Terms of Service carefully before accessing or using our
            website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you
            do not agree to all the terms and conditions of this agreement, you may not access the website or use any
            services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms
            of Service.</span></p>
        <p class="c1"><span class="c2">Any new features or tools added to the current store shall also be subject to the
            Terms of Service. You can review the most current version of the Terms of Service at any time on this page.
            We reserve the right to update, change or replace any part of these Terms of Service by posting updates
            and/or changes to our website. It is your responsibility to check this page periodically for changes. Your
            continued use of or access to the website following the posting of any changes constitutes acceptance of
            those changes.</span></p>
        <p class="c4 c11"><span class="c2"></span></p>
        <h2 class="c0" id="h.o52mtx2b4wu1"><span class="c3">SECTION 1 &ndash; AUTHORITY</span></h2>
        <p class="c1"><span class="c2">By agreeing to these Terms of Service, you represent that you are at least the
            age of majority in your state or province of residence, or that you are the age of majority in your state or
            province of residence, and you have given us your consent to allow any of your minor dependents to use this
            site.</span></p>
        <p class="c1"><span class="c2">You may not use our products for any illegal or unauthorized purpose, nor may
            you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to
            copyright laws). You must not transmit any worms or viruses or any code of a destructive nature. A breach or
            violation of any of the Terms will result in an immediate termination of your Services.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.x0ap5sl0bnj3"><span class="c3">SECTION 2 &ndash; GENERAL CONDITIONS</span></h2>
        <p class="c1"><span class="c2">We reserve the right to refuse service to anyone for any reason at any time. You
            understand that your content (not including credit card information) may be transferred unencrypted and
            involve (a) transmissions over various networks and (b) changes to conform and adapt to the technical
            requirements of connecting networks or devices. Credit card information is always encrypted during transfer
            over networks.</span></p>
        <p class="c1"><span class="c2">You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion
            of the Service, use of the Service, or access to the Service or any contact on the website through which the
            service is provided, without explicit permission by Hello Santa in written.</span></p>
        <p class="c1"><span class="c2">The headings used in this agreement are included for convenience only and will
            not limit or otherwise affect these Terms.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.g842y7n261f3"><span class="c3">SECTION 3 &ndash; ACCURACY, COMPLETENESS AND TIMELINESS OF
            INFORMATION</span></h2>
        <p class="c1"><span class="c2">We are not responsible if information made available on this site is not
            accurate, complete or current. The material on this site is provided for general information only. It should
            not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate,
            more complete or more timely sources of information. Any reliance on the material on this site is at your
            own risk.</span></p>
        <p class="c1"><span class="c2">This site may contain certain historical information. Historical information,
            necessarily, is not current and is provided for your reference only. We reserve the right to modify the
            contents of this site at any time, but we have no obligation to update any information on our site. You
            agree that it is your responsibility to monitor changes to our site.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.w2z0bid79hm9"><span class="c3">SECTION 4 &ndash; PERSONAL INFORMATION</span></h2>
        <p class="c1"><span>Our Privacy Policy governs your submission of personal information through the
            store</span><span class="c2">.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.mb6oj67fu0kz"><span class="c3">SECTION 5 &ndash; YOUR ACCOUNT</span></h2>
        <p class="c1"><span class="c2">If you use the website, you are responsible for maintaining the confidentiality
            of your account and password and for restricting access to your computer, and you agree to accept
            responsibility for all activities that occur under your account or password. </span></p>
        <p class="c1"><span class="c2">Hello Santa reserves the right to refuse service, terminate accounts, remove or
            edit content, or cancel orders at our sole discretion.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.yxqp4lj1jrms"><span class="c3">SECTION 6 &ndash; USERS</span></h2>
        <p class="c1"><span class="c12"><a class="c6"
              href="https://www.google.com/url?q=http://www.hellosanta.in&amp;sa=D&amp;source=editors&amp;ust=1640601562771000&amp;usg=AOvVaw0Etu-F9e3ZouDnCSHIYffI">www.hellosanta.in</a></span><span>&nbsp;can
            be used by a person who can be legally bound to contract under the Indian Contract Act, 1872. If you are a
            minor, i.e., under the age of 18 years, you may use </span><span class="c12"><a class="c6"
              href="https://www.google.com/url?q=http://www.hellosanta.in&amp;sa=D&amp;source=editors&amp;ust=1640601562771000&amp;usg=AOvVaw0Etu-F9e3ZouDnCSHIYffI">www.hellosanta.in</a></span><span
            class="c2">&nbsp;only with the involvement of a parent or guardian.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.pwtryl1m7n0v"><span class="c3">SECTION 7 &ndash; PRODUCTS, SERVICES AND PRICES</span></h2>
        <p class="c1"><span>All products listed on the website, their descriptions, and their prices are subject to
            change from time to time. </span><span>We reserve the right at any time to modify or discontinue the Service
            (or any part or content thereof) with or without notice at any given point of time. We shall not be liable
            to you or any third party for any modification, price change, suspension or discontinuance of the
            Service.</span></p>
        <p class="c1"><span>Purchase of a product on the website is subject to stock availability </span><span>and is
            subject to return or exchange only according to our </span><span class="c7">Return Policy.
          </span><span>Hello Santa</span><span class="c2">&nbsp;reserves the right, at any time, to modify, suspend, or
            discontinue the sale of any product or services with or without notice.</span></p>
        <p class="c1"><span>In the event a product or service is listed at an incorrect price or with incorrect
            information due to typographical error, error in pricing or information received from Hello Santa&rsquo;s
            vendors, Hello Santa shall have the right, post the acceptance of any order, to </span><span
            class="c7">decline or cancel any such order</span><span>, whether or not the order has been confirmed and/or
            you have been charged for such product or service. If you have already been charged for the order and Hello
            Santa cancels your order, we will </span><span class="c7">refund the amount.</span></p>
        <p class="c1"><span>The product specifications (weight, size, color etc.) mentioned with the product photos
            displayed are only approximate. There may be a slight variation in the pictures and the respective products.
            The complimentary message card, which Hello Santa provides, can either be printed or handwritten, depending
            on where the delivery is scheduled.</span></p>
        <p class="c1"><span class="c2">We reserve the right but are not obligated to limit the sales of our products or
            Services to any person, geographic region or jurisdiction. We may exercise this right on a case-by-case
            basis. We reserve the right to limit the quantities of any products or services that we offer. We reserve
            the right to discontinue any product at any time. Any offer for any product or service made on this site is
            void where prohibited.</span></p>
        <p class="c1"><span class="c2">We do not warrant that the quality of any products, services, information, or
            other material purchased or obtained by you will meet your expectations or that any errors in the Service
            will be corrected.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.qe5jy9aee8g8"><span class="c3">SECTION 8 &ndash; ORDERS: ACCEPTANCE AND CONFIRMATION</span>
        </h2>
        <p class="c1"><span class="c2">We reserve the right to refuse any order you place with us. We may limit or
            cancel quantities purchased per person, per household, or per order at our sole discretion. These
            restrictions may include orders placed by or under the same customer account, the same credit card, and/or
            orders that use the same billing and/or shipping address. If we change or cancel an order, we will notify
            you via SMS and an email to your registered mail ID.</span></p>
        <p class="c1"><span class="c2">When you make an order, you are making an offer to purchase, and such an offer is
            subject to our acceptance. Your receipt (email/SMS/push notification) of an order confirmation from us does
            not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. We
            reserve the right at any time, after receiving your order, to accept or decline or cancel your order (in
            whole or in part) for any reason whatsoever. We may require additional verifications or information before
            accepting any order. In the event of a purchase, you will be required to provide the recipient&rsquo;s name
            and shipping address accurately. You agree that if Hello Santa cancels all or a part of your order, your
            sole and exclusive remedy is either that:</span></p>
        <ul class="c9 lst-kix_uwv7uz7p631c-0 start">
          <li class="c1 c5 li-bullet-0"><span class="c2">Hello Santa will issue a credit to your credit/debit card or
              bank account in the amount charged for the canceled portion (if your account card has already been charged
              for the order) or</span></li>
          <li class="c1 c5 li-bullet-0"><span class="c2">Hello Santa will not charge your credit/debit card or bank
              account for the canceled portion of the order</span></li>
        </ul>
        <p class="c1"><span class="c2">For your convenience, Hello Santa accepts Visa, Master Card, Diners Club,
            Maestro, and American Express Credit and Debit Cards, as well as UPI and Digital Wallets. Notwithstanding
            anything contained herein, any and all payments made by the options mentioned above, either through payment
            gateway on the Hello Santa website, are subject to specific terms and conditions of such third party payment
            gateways.</span></p>
        <p class="c1"><span>Shortly after you place an order, you will receive an </span><span class="c7">Order
            Confirmation</span><span>&nbsp;e-mail and SMS, which will include all the details of your order, including
            the order number which will be required in the event you need to contact Hello Santa. If you have not
            received an Order Confirmation e-mail and SMS, please call on +91-8918014671 / 8840896079 (10:00 hours to
            20:00 hours, 7 days a week) or write to us at </span><span class="c12"><a class="c6"
              href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span class="c2">. </span></p>
        <p class="c1"><span class="c2">You will also receive a Delivery Confirmation e-mail and SMS when your order has
            been delivered.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.jqzp9vs5wgz7"><span class="c3">SECTION 9 &ndash; PAYMENT TERMS</span></h2>
        <p class="c1"><span class="c2">You agree to pay the price applicable for the product or service on our website
            at the time you submitted your order (Product Price), the delivery fees for the delivery service you select,
            if any (Delivery Fees), or any applicable taxes (defined below). You will be solely responsible for payment
            of all taxes (other than taxes based on Hello Santa&#39;s income), fees, duties, additional governmental
            charges, and any related penalties and interest arising from purchasing the products and services (Taxes)
            not withheld by Hello Santa. The price shown under any product and paid on buying that product includes the
            product&#39;s cost price, GST, and other taxes paid to the payment gateway. To know more about the taxes of
            payment gateway, refer to the Terms and Conditions of Razorpay.</span></p>
        <p class="c1"><span class="c2">Order delivery is subjected to the payment credited in Hello Santa&rsquo;s
            account. Unless we receive payment, the order will not be processed. Customers can place orders on the
            website and make payments through Debit Cards, Credit Cards, Online Payments, and Digital Wallets.</span>
        </p>
        <p class="c1"><span>Hello Santa doesn&#39;t take responsibility for any transaction processed without your
            consent and knowledge. The cardholder is solely liable for the transactions and the amount charged on his
            account. You can even call us at +91-8918014671 / 8840896079 (10:00 hours to 20:00 hours, 7 days a week) or
            mail us at </span><span class="c12"><a class="c6"
              href="mailto:connect@hellosanta.in">connect@hellosanta.in</a></span><span>&nbsp;to book an order.</span>
        </p>
        <h2 class="c0" id="h.hllvgusg9cdq"><span class="c3">SECTION 10 &ndash; ACCURACY OF BILLING AND ACCOUNT
            INFORMATION</span></h2>
        <p class="c1"><span>We reserve the right to refuse any order you place with us. We may limit or cancel
            quantities purchased per person, per household, or per order at our sole discretion. These restrictions may
            include orders placed by or under the same customer account, the same credit card, and/or orders that use
            the same billing and/or shipping address. If we change or cancel an order, we may attempt to notify you by
            contacting the e-mail and/or billing address/phone number provided when the order was made. We reserve the
            right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or
            distributors. If you have already been charged for the order and Hello Santa cancels your order, we will
          </span><span class="c7">refund the amount.</span></p>
        <p class="c1"><span class="c2">You agree to provide current, complete and accurate purchase and account
            information for all purchases made from our website. You agree to promptly update your account and other
            information, including your email address and credit card numbers and expiration dates, so that we can
            complete your transactions and contact you as needed.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.81c9ayepm6ji"><span class="c3">SECTION 11 &ndash; DUPLICATE ORDERS</span></h2>
        <p class="c1"><span class="c2">If you have placed two or more identical orders by mistake, please let us know
            about it. We will give a full refund for the duplicate order, provided that the order has not been prepared
            or delivered. If the same order has been made twice, we will contact the customer to confirm the order. If
            the customer is not contactable, we will decide on your behalf, which will be final. </span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.ykvs07jnm9yy"><span class="c3">SECTION 12 &ndash; ORDER CANCELATION</span></h2>
        <p class="c1"><span class="c2">There can be some orders which might not be accepted and can be canceled from our
            side. We reserve the right to cancel any order for any reason, like under any unforeseen circumstances that
            may come in the way of your order that may be limitations on quantity available of purchase, error in
            product(s) or pricing information, or limitations of our credit department.</span></p>
        <p class="c1"><span class="c2">Before accepting any order, we need to have some details and information from
            your side. Before canceling an order, we will contact you.</span></p>
        <p class="c1"><span class="c2">If you want to modify/cancel an order, you can reach us on +91-8918014671 /
            8840896079 (10:00 hours to 20:00 hours, 7 days a week). If the order has not been prepared or is not out for
            delivery, we will try to modify/cancel the order for you. If the order has already been prepared/dispatched,
            it cannot be canceled/modified, and you will be charged for the order. </span></p>
        <p class="c1"><span>Please read the </span><span class="c7">Returns, Refund and Shipping Policy</span><span
            class="c2">&nbsp;to know more about order cancelation and modifications policies.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.hje0d8l33m4p"><span class="c3">SECTION 13 &ndash; USER COMMENTS, FEEDBACK AND OTHER
            SUBMISSIONS</span></h2>
        <p class="c1"><span class="c2">If at our request, you send certain specific submissions (for example, contest
            entries, comments, feedback, photos, videos, blogs, social media posts, etc.) or without a request from us,
            you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by
            postal mail, or otherwise (collectively, &lsquo;comments&rsquo;), you agree that we may, at any time,
            without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments
            that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence;
            (2) to pay compensation for any comments; or (3) to respond to any comments.</span></p>
        <p class="c1"><span class="c2">We may, but have no obligation to, monitor, edit or remove content that we
            determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic,
            obscene or otherwise objectionable or violates any party&rsquo;s intellectual property or these Terms of
            Service.</span></p>
        <p class="c1"><span class="c2">You agree that your comments will not violate any right of any third party,
            including copyright, trademark, privacy, personality or other personal or proprietary rights. You further
            agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material or
            contain any computer virus or other malware that could in any way affect the operation of the Service or any
            related website. You may not use a false e-mail address, pretend to be someone other than yourself, or
            otherwise mislead third parties or us about the origin of any comments. You are solely responsible for any
            comments you make and their accuracy. We take no responsibility and assume no liability for any comments
            posted by you or any third party.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.l4bku2hbnd1n"><span class="c3">SECTION 14 &ndash; COMMUNICATIONS</span></h2>
        <p class="c1"><span class="c2">You agree to receive communications from us by e-mail, SMS, or any other
            communication made electronically, verbally or physically through post. You agree that all agreements,
            notices, disclosures and other communications that Hello Santa provides to you by e-mail or in any other
            aforementioned mediums satisfy any legal requirement that such communications be in writing.</span></p>
        <p class="c1"><span class="c2">In some cases, we will be contacting the recipient before delivery. If you wish
            we do not contact the recipient, please call our Customer Care at +91-8918014671 / 8840896079 and notify
            them about the same. </span></p>
        <p class="c1"><span>Since we are in an occasion-based gifting business, we would like to remind you of the same
            occasion in future year(s). You give your consent for us to contact you through SMS, phone call and email on
            your registered phone number and email id to assist you with our free </span><span class="c13 c7">Occasion
            Reminder Service.</span></p>
        <p class="c1 c4"><span class="c13 c7"></span></p>
        <h2 class="c0" id="h.ofezmdgklqaz"><span class="c3">SECTION 15 &ndash; FEEDBACKS AND SUGGESTIONS</span></h2>
        <p class="c1"><span>At Hello Santa, we make every effort to ensure that you receive excellent products and
            services. We strive hard not only to meet but exceed your expectations. If at any time you experience
            problems with an order or are not happy with our service, you can call us on +91-8918014671 / 8840896079
            (10:00 hours to 20:00 hours, 7 days a week) or mail us at </span><span class="c12"><a class="c6"
              href="mailto:connect@hellosanta.in">connect@hellosanta.in</a></span><span class="c2">.</span></p>
        <p class="c1"><span class="c2">Your feedback and suggestions are important to us. </span></p>
        <p class="c1"><span class="c2">Complaints need to be made within 48 hours from the time of delivery, after which
            we will not be able to register any complaints. Complaints against non-delivery need to be made within 15
            days from the delivery date, after which we will not be able to register any complaints. In case of a
            defective or a bad quality product complaint, we will replace it. We might have to get a reverse pick-up
            done for that product for quality purposes before getting redelivery done.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.jjpv2p79d5l0"><span class="c3">SECTION 16 &ndash; OPTIONAL TOOLS AND THIRD PARTY
            LINKS</span></h2>
        <p class="c1"><span class="c2">We may provide you with access to third-party tools over which we neither monitor
            nor have any control nor input. You acknowledge and agree that we provide access to such tools &rdquo;as
            is&rdquo; and &ldquo;as available&rdquo; without any warranties, representations or conditions of any kind
            and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of
            optional third-party tools.</span></p>
        <p class="c1"><span class="c2">Any use by you of optional tools offered through the site is entirely at your own
            risk and discretion, and you should ensure that you are familiar with and approve of the terms on which
            tools are provided by the relevant third-party provider(s).</span></p>
        <p class="c1"><span>We may also, in the future, offer new services and/or features through the website
            (including the release of new tools and resources). Such new features and/or services shall also be subject
            to these Terms of Service.</span></p>
        <p class="c1"><span class="c2">Certain content, products and services available via our Service may include
            materials from third parties. Third-party links on this site may direct you to third-party websites that are
            not affiliated with us. We are not responsible for examining or evaluating the content or accuracy, and we
            do not warrant and will not have any liability or responsibility for any third-party materials or websites
            or any other materials, products, or services of third parties.</span></p>
        <p class="c1"><span>We are not liable for any harm or damages related to the purchase or use of goods, services,
            resources, content, or any other transactions made in connection with any third-party websites. Please
            review the third-party&rsquo;s policies and practices carefully and make sure you understand them before you
            engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should
            be directed to the third party.</span></p>
        <h2 class="c0" id="h.adufb1762ul5"><span class="c3">SECTION 17 &ndash; PROHIBITED USES</span></h2>
        <p class="c1"><span class="c2">In addition to other prohibitions as set forth in the Terms of Service, you are
            prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to
            perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state
            regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property
            rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander,
            disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age,
            national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit
            viruses or any other type of malicious code that will or may be used in any way that will affect the
            functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to
            collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or
            scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features
            of the service or any related website, other websites, or the Internet. We reserve the right to terminate
            your use of the service or any related website for violating any of the prohibited uses.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.qlvbgceisqq3"><span class="c3">SECTION 18 &ndash; ERRORS, INACCURACIES AND OMISSIONS</span>
        </h2>
        <p class="c1"><span class="c2">Occasionally, there may be information on our site or in the service that
            contains typographical errors, inaccuracies, or omissions related to product descriptions, pricing,
            promotions, offers, product shipping charges, transit times, and availability. We reserve the right to
            correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any
            information in the Service or on any related website is inaccurate at any time without prior notice
            (including after you have submitted your order).</span></p>
        <p class="c1"><span class="c2">We undertake no obligation to update, amend or clarify information in the Service
            or on any related website, including, without limitation, pricing information, except as required by law. No
            specified update or refresh date applied in the service or on any related website should be taken to
            indicate that all information in the Service or on any related website has been modified or updated.</span>
        </p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.chkdwb5ykgm9"><span class="c3">SECTION 19 &ndash; INTELLECTUAL PROPERTY RIGHTS</span></h2>
        <p class="c1"><span class="c2">The website contains much valuable intellectual property, including but not
            limited to trademarks and copyrights used by Hello Santa and its subsidiaries, affiliates and related
            entities throughout the world. These trademarks are used to distinguish Hello Santa&rsquo;s quality products
            and services. These trademarks and related proprietary property are protected from reproduction and
            simulation under national and international laws and are not to be copied without the prior express written
            permission of Hello Santa. </span></p>
        <p class="c1"><span class="c2">The text, graphics and website&rsquo;s HTML code (including flash files,
            javascript etc.) contained in the website are the exclusive property of Hello Santa, its affiliates or
            related entities. Except where otherwise provided, the text, graphics and HTML code contained here shall not
            be copied, distributed, displayed, reproduced, adopted or transmitted in any form or by any means without
            the prior express written permission of Hello Santa.</span></p>
        <p class="c1"><span class="c2">The Website may contain links to websites not maintained by or related to Hello
            Santa. Hypertext links are provided as a service to users and are not sponsored by or affiliated with this
            website or Hello Santa. Hello Santa has not reviewed the websites hyper-linked to or from this website and
            is not responsible for the content of any other website. These links are to be accessed at the user&#39;s
            own risk and in accordance with the website&rsquo;s usage policy. Hello Santa makes no representations or
            warranties about the content, completeness, or accuracy of these links or the websites hyper-linked to the
            website. Furthermore, Hello Santa does not implicitly endorse third-party websites hyperlinked to the
            website.</span></p>
        <p class="c1"><span>The intellectual property on the website, except all User Submissions (as defined
            hereinafter), including but not limited to the text, software, scripts, graphics, photos, logos, images,
            concepts, sounds, music, videos, interactive features and anything else capable of being copyrightable under
            the Applicable Law (Content) and the trademarks, service marks and logos contained therein (Trademarks), are
            owned by/licensed to Hello Santa, subject to copyright and other intellectual property rights under the
            Applicable Laws and international conventions. Content on the Website is provided to you as-is for your
            information and personal use only and shall not be used, copied, reproduced, distributed, transmitted,
            broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the
            prior written consent of Hello Santa or the respective owners, as the case may be. Hello Santa reserves all
            rights not expressly granted in and to the Website and the Content. You agree not to engage in the use,
            copying, or distribution of any of the Content other than expressly permitted herein, including any use,
            copying, or distribution of User Submissions of third parties obtained through the Website for any
            commercial purposes. If you download or print a copy of the Content for personal use, you must retain all
            copyright and other proprietary notices contained therein. You agree not to circumvent, disable or otherwise
            interfere with security-related features of the website or features that prevent or restrict the use or
            copying of any Content or enforce limitations on use of the Website or the Content therein.</span></p>
        <h2 class="c0" id="h.3vkqsed09igk"><span class="c3">SECTION 20 &ndash; DISCLAIMER OF WARRANTIES; LIMITATION OF
            LIABILITY</span></h2>
        <p class="c1"><span class="c2">We do not guarantee, represent or warrant that your use of our service will be
            uninterrupted, timely, secure or error-free. We do not warrant that the results obtained from the use of the
            service will be accurate or reliable.</span></p>
        <p class="c1"><span class="c2">You agree that from time to time, we may remove the service for indefinite
            periods or cancel the service at any time, without any prior notice to you.</span></p>
        <p class="c1"><span class="c2">You expressly agree that your use of, or inability to use, the service is at your
            sole risk. The service and all products and services delivered to you through the service are (except as
            expressly stated by us) provided &lsquo;as is&rsquo; and &lsquo;as available&rsquo; for your use, without
            any representation, warranties or conditions of any kind, either express or implied, including all implied
            warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose,
            durability, title, and non-infringement.</span></p>
        <p class="c1"><span class="c2">In no case shall Hello Santa Group, our directors, officers, employees,
            affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any
            injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any
            kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement
            costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or
            otherwise, arising from your use of any of the service or any products procured using the service, or for
            any other claim related in any way to your use of the service or any product, including, but not limited to,
            any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of
            the service or any content (or product) posted, transmitted, or otherwise made available via the service,
            even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the
            limitation of liability for consequential or incidental damages, in such states or jurisdictions, our
            liability shall be limited to the maximum extent permitted by law.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.qi76umddxuz4"><span class="c3">SECTION 21 &ndash; INDEMNIFICATION</span></h2>
        <p class="c1"><span class="c2">You agree to indemnify, defend and hold harmless Hello Santa Group and our
            parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service
            providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including
            reasonable attorneys&rsquo; fees, made by any third party due to or arising out of your breach of these
            Terms of Service or the documents they incorporate by reference or your violation of any law or the rights
            of a third-party.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.1ri845e5mw3y"><span class="c3">SECTION 22 &ndash; SEVERABILITY</span></h2>
        <p class="c1"><span>If</span><span class="c2">&nbsp;any provision of these Terms of Service is determined to be
            unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent
            permitted by applicable law. The unenforceable portion shall be deemed to be severed from these Terms of
            Service, such determination shall not affect the validity and enforceability of any other remaining
            provisions.</span></p>
        <h2 class="c0" id="h.hisdvmjfhuaf"><span class="c3">SECTION 23 &ndash; TERMINATION</span></h2>
        <p class="c1"><span class="c2">The obligations and liabilities of the parties incurred prior to the termination
            date shall survive the termination of this agreement for all purposes. These Terms of Service are effective
            unless and until terminated by either you or us. You may terminate these Terms of Service at any time by
            notifying us that you no longer wish to use our Services or when you cease using our site.</span></p>
        <p class="c1"><span class="c2">Suppose in our sole judgment you fail, or we suspect that you have failed, to
            comply with any term or provision of these Terms of Service. In that case, we also may terminate this
            agreement at any time without notice, and you will remain liable for all amounts due up to and including the
            date of termination; and/or accordingly may deny you access to our Services (or any part thereof).</span>
        </p>
        <h2 class="c0" id="h.3c12q4b42pmx"><span class="c3">SECTION 24 &ndash; ENTIRE AGREEMENT</span></h2>
        <p class="c1"><span class="c2">The failure of us to exercise or enforce any right or provision of these Terms of
            Service shall not constitute a waiver of such right or provision. </span></p>
        <p class="c1"><span class="c2">These Terms of Service and any policies or operating rules posted by us on this
            site or in respect to The Service constitutes the entire agreement and understanding between you and us and
            govern your use of the Service, superseding any prior or contemporaneous agreements, communications and
            proposals, whether oral or written, between you and us (including, but not limited to, any previous versions
            of the Terms of Service).</span></p>
        <p class="c1"><span class="c2">Any ambiguities in interpreting these Terms of Service shall not be construed
            against the drafting party.</span></p>
        <p class="c1"><span>If</span><span>&nbsp;any provision contained in these Terms of Use is held by a court of
            competent jurisdiction to be contrary to any law, the remaining provisions of these Terms of Use will remain
            in full force and effect. No joint venture, partnership, employment, or agency relationship exists between
            you and Hello Santa due to these Terms of Use or your use of this site. The waiver by Hello Santa of one
            breach or default under these Terms of Use shall not constitute the waiver of any subsequent or other breach
            or default.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.ppml6eahjewz"><span class="c3">SECTION 25 &ndash; GOVERNING LAW</span></h2>
        <p class="c1"><span>These Terms of Service and any separate agreements whereby we provide you Services shall be
            governed by and construed in accordance with the laws of </span><span class="c13 c7">2nd Floor, Sarvottam
            Complex, M. R. Road, Siliguri, WB, 734005, India.</span></p>
        <h2 class="c0" id="h.70972iqe870t"><span class="c3">SECTION 26 &ndash; CHANGES TO TERMS OF SERVICE</span></h2>
        <p class="c1"><span class="c2">You can review the most current version of the Terms of Service at any time on
            this page.</span></p>
        <p class="c1"><span class="c2">We reserve the right, at our sole discretion, we reserve the right to update,
            change, or replace any part of these Terms of Service by posting updates and changes to our website. It is
            your responsibility to check our website periodically for changes. Your continued use of or access to our
            website or the Service following the posting of any changes to these Terms of Service constitutes acceptance
            of those changes.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.4whdvar6iuws"><span class="c3">SECTION 27 &ndash; NOTICE TO WEBMASTERS</span></h2>
        <p class="c1"><span>We have a no-tolerance policy regarding</span><span class="c2">&nbsp;the use of trademarked
            names in metatags and/or hidden text. The use of trademarked names in metatag keywords is trademark
            infringement, and the use of trademarked terms in page text, metatags, and/or hidden text for purposes of
            gaining higher rankings from search engines is unfair competition.</span></p>
        <p class="c1"><span>Linking to any Hello Santa web page is prohibited and is subject to prior permission from
            Hello Santa. Framing the Hello Santa website with links, advertisements and/or other information not
            originating from the Hello Santa website is expressly prohibited.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.kfwuilnabkyg"><span class="c3">SECTION 28 &ndash; COPYRIGHT</span></h2>
        <p class="c1"><span>Unless otherwise indicated, all content on this site, including text, graphics, images, and
            logos, is the property of Hello Santa or its content suppliers and is protected by International copyright
            laws and regulations. In addition, Hello Santa owns a copyright on this site as a collective work or
            compilation and in the selection, coordination, enhancement, and arrangement of the site&#39;s content.
            Except as explicitly provided herein, Hello Santa does not grant any explicit or implicit rights to you.
            Hello Santa actively and aggressively enforces its intellectual property rights to the fullest extent of the
            law. The content of this site is Copyrighted. All rights reserved</span><span class="c8 c14">.</span></p>
        <p class="c11 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.egftf4ye1a47"><span class="c3">SECTION 29 &ndash; TRADEMARKS</span></h2>
        <p class="c1"><span>Hello Santa</span><span class="c2">, and other names, graphics, logos, and icons identifying
            Hello Santa or its products or services are the proprietary marks of Hello Santa. These trademarks may not
            be used in connection with any product or service that is not Hello Santa, in any manner that is likely to
            confuse customers, or in any way that disparages or discredits Hello Santa. All other trademarks not owned
            by Hello Santa that appear on this site are the property of their respective owners.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.nuecqgu1iuah"><span class="c3">SECTION 30 &ndash; LICENSE</span></h2>
        <p class="c1"><span class="c2">These Terms of Use provide you with a personal, revocable, non-exclusive,
            non-transferable license to use this Site conditioned on your continued compliance with these Terms of Use.
            You may use this Site solely for your personal, non-commercial use, and you may download a single copy of
            the materials from this site only for personal, non-commercial home use, as long as you agree not to remove
            any copyright, trademark, or other proprietary notices from the materials downloaded. </span></p>
        <p class="c1"><span>Except as expressly provided herein, you may not modify, copy, distribute, broadcast,
            transmit, reproduce, publish, license, transfer, sell, mirror, frame, deep-link, or otherwise use any
            information or material obtained from or through this site without the prior written permission of the
            material&#39;s owner. As a condition of your use of this site, you warrant to Hello Santa that you will not
            use this site for any purpose that is unlawful, unauthorized, or inconsistent with these Terms of Use, and
            you agree that the license to use Hello Santa website will terminate immediately upon your violation of this
            warranty. Hello Santa reserves the right to terminate your access to this site and its content at any time,
            with or without notice, at our discretion.</span></p>
        <p class="c1 c4"><span class="c2"></span></p>
        <h2 class="c0" id="h.d77n7bkfdyo4"><span class="c3">SECTION 31 &ndash; CONTACT INFORMATION</span></h2>
        <p class="c11"><span>Questions about the Terms of Service should be sent to us at </span><span class="c12"><a
              class="c6" href="mailto:hellosanta143@gmail.com">hellosanta143@gmail.com</a></span><span
            class="c2">.</span></p>
      </div>
    </div>
    <app-accordion></app-accordion>
  </div>
  <app-footer></app-footer>
  <app-iontab *ngIf="screenwidth<1024"></app-iontab>
</ion-content>