<section id="orders-container">
  <h2 id="your-cart-title">Your Orderinfo</h2>
  <hr class="line">
  <div class="text">
  <div class="part2">
    <img src="assets/icon.png" alt="" class="img">
    <div class="text9">
      <p class="text2">Hello Santa <br><span class="text3">A DearSanta LLP Product</span></p>

      <p class="text4">Office address:<br>
        2nd Flr, Sarvottam Complex
        M. R. Road,
        Khalpara, Siliguri
        Darjeeling - 734005, WB</p>
      </div>
    </div>
    <div class="text11" >
    <p class="text4">Order-ID: {{orderid}}</p>
    <p class="text4">Shipment-ID: {{shipmentid}}</p>
    <p class="text4">Shipment-Stage: {{shipmentstage}}</p>
    <p class="text4">Order-Date: {{orderdate}}</p>
    </div>
  </div>
  <hr class="line">
  <div class="product-row" *ngFor="let product of liveOrders">
    <app-small-product-card [img]="product.productImages"
    [productTitle]="product.productName" [price]="product.productPrice" [productId]="product.productId"
    [date]="orderdate"></app-small-product-card>
  </div>
</section>