<section id="orders-container">
  <h2 id="your-cart-title">Your Orderinfo</h2>
  <div class="text">
  <div class="part2">
    <img src="assets/icon.png" alt="" class="img">
    <div class="text9">
      <p class="text2">Hello Santa <br><span class="text3">A DearSanta LLP Product</span></p>
      <br>
      <p class="text4">Office address:<br>
        2nd Flr, Sarvottam Complex
        M. R. Road,
        Khalpara, Siliguri
        Darjeeling - 734005, WB</p>
      </div>
    </div>
      <div class="text11" >
    <p class="text2">Order-ID: {{orderid}}</p>
    <br>
    <p class="text2">Shipment-ID: {{shipmentid}}</p>
    <br>
    <p class="text2">Shipment-Stage: {{shipmentstage}}</p>
    <br>
    <p class="text2">Order-Date: {{orderdate}}</p>
    </div>
    
  </div>
  <div class="product-row" *ngIf="!loading">
    <div class="product-row" *ngFor="let product of liveOrders">
      <app-small-product-card [img]="orderProducts.productImages[0].image"
      [productTitle]="orderProducts.productName" [price]="orderProducts.productPrice" [productId]="orderProducts.productId"
      [date]="product.shippingDetail.orderDate" *ngFor="let orderProducts of product.products"></app-small-product-card>
    </div>
  </div>
  <div *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</section>