#blog {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}
.home{
  margin: 0 auto;
  min-width: 978px;
  max-width: 1920px;
}
.NotFoundImage{
  position: relative;
  width: 300px;
  left:50%;
  transform: translateX(-50%);
}
.pageheading {
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 200px;
  text-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  padding-top: 7%;
  width: 100%;
  padding-bottom: 5%;
}
#blog-container {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
}

.product-row {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.button {
  background-color: #ada2ff; /* Green */
  border-radius: 10px;
  border: 5px solid #9081ff;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}
a {
  color: white;
}
.fourthbox {
  background-color: white;
  width: 45%;
  height: 60%;
  margin-left: 55%;
  margin-top: 4%;
}
img {
  float: left;
  width: 35%;
  height: 400px;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.firstheading {
  font-size: 48px;
  font-family: "Segoe Print";
  color: #6d5de3;
}
.heading-discription {
  padding-top: 50px;
  font-size: 1.2rem;
  font-family: Raleway;
  line-height: 2;
  margin-right: 10%;
  width: 80%;
  color: #ff6584;
}

.head{
font-family: Poppins;
text-align: center;
padding-top: 80px;
font-weight: bold;
font-size: 3rem;
color: #FF6584;
}
@media only screen and (max-width: 1024px) {
  .home{
    margin: 0 auto;
    min-width:300px;
    max-width: 800px;
  }
  .pageheading {
    font-size: 4rem;
  }
  .fourthbox {
    background-color: white;
    width: 90%;
    height: 10%;
    margin: 2% 2%;
    margin-top: 2%;
  }
  img {
    float:none;
    width: 90%;
    margin: 3% 4%;
  }

  .firstheading {
    font-size: 1.5rem;
    text-align: center;
  }
  .heading-discription {
    font-size: 1rem;
    margin: 3% 4%;
    width: 90%;
    text-align: center;
  }
  .button {
    padding: 5px 20px;
    margin: 0% 0% 0% 32%;
    font-size: 1rem;
  }
  #blog-container {
    width: 95%;
    margin: 2.5%;
    padding: 0.5em;
    display: block;
    flex-wrap: wrap;
  }
  .head{
    font-family: Poppins;
text-align: center;
padding-top: 80px;
font-weight: bold;
font-size: 1.5rem;
color: #FF6584;
  }
}
