<ion-content>
  <app-header></app-header>
  <div class="home">
  <h1 class="pageheading" >THE BLOG</h1>
  <div *ngIf="blogs.length>0">
    <img loading="lazy" [src]="main.blogImage" class="img">
    <hr style="background-color: #6D5DE3;width: 90%;height: 5px;margin: auto;">
    <div class="fourthbox" *ngIf="blogs.length>0">
      <p class="firstheading">{{main.blogTitle}}</p>
      <p class="heading-discription" *ngIf="screenwidth>1020" >{{main.blogExcerpt}}</p>
      <button class="button" *ngIf="screenwidth>1020"><a routerLink="/blog" [queryParams]="{id:main.blogId}">Read more</a></button>
    </div>
    <p class="heading-discription" *ngIf="screenwidth<1024" [innerHTML]="main.blogContent"></p>
    <button class="button" *ngIf="screenwidth<1024"><a routerLink="/blog" [queryParams]="{id:main.blogId}">Read more</a></button>
  </div>
  <img loading="lazy" class="NotFoundImage" src="./assets/NotFound.gif" alt="No Blog Found" *ngIf="blogs.length<=0">
  <main id="blog" *ngIf="blogs.length>0">
    <section id="blog-container">
      <h1 class="head">Read More Blogs</h1>
      <br>
      <div class="product-row">
        <app-blog-card *ngFor="let blog of blogs" [blogimg]="blog.blogImage" [blogTitle]="blog.blogTitle"
          [blogDescription]="blog.blogExcerpt" [blogId]="blog.blogId"></app-blog-card>
      </div>
    </section>
  </main>
</div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>