<ion-content>
    <app-header ></app-header>
    <h1 class="pageheading">THE BLOG</h1>
    <img src="assets/yellow.png" class="img">
    <hr style="background-color: #6D5DE3;width: 90vw;height: 5px;margin: auto;">
    <div class="fourthbox">
      <p class="firstheading">Handmade
        <br>
        Artworks</p>
      <p class="heading-discription"*ngIf="screenwidth>600"> developing technologies, everything
        is getting digitized, Lorem ipsum dolor sit
        amet, consectetur adipiscing elit.
        Curabitur cursus tincidunt commodo.
        Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu.
        Quisque nec dui mattis, fringilla magna
        in, vulputate enim. Fusce ut euismod
        ligula, id laoreet ex.</p>
        <button class="button" *ngIf="screenwidth>600"><a href="/blog">Read more</a></button>
    </div>
    <p class="heading-discription" *ngIf="screenwidth<600"> developing technologies, everything
      is getting digitized, Lorem ipsum dolor sit
      amet, consectetur adipiscing elit.
      Curabitur cursus tincidunt commodo.
      Nunc justo nisi, vestibulum facilisis porta
      vestibulum, ultrices volutpat arcu.
      Quisque nec dui mattis, fringilla magna
      in, vulputate enim. Fusce ut euismod
      ligula, id laoreet ex.</p>
      <button class="button" *ngIf="screenwidth<600"><a href="/blog">Read more</a></button>
    <main id="blog">
      <section id="blog-container">
        <h1 style="font-family: Poppins;text-align: center;padding-top: 10px;padding-bottom: 20px;font-weight: bold;font-size: 3rem;color: #FF6584">Read More Blogs</h1>
        <div class="product-row">
          <app-blog-card *ngFor="let blog of blogs" [blogimg]="blog.img" [blogTitle]="blog.name" [blogDescription]="blog.description" ></app-blog-card>
        </div>
      </section>
    </main>
    <app-footer ></app-footer>
</ion-content>