<ion-content>
    <app-header></app-header>

    <div class="uk-panel" >
      <div class="inner-box" align="center">
    <main id="container">
        <h2 id="checkout-title">Checkout</h2>
        <section id="orders-card">
          <div class="product-row">
            <app-wide-product-card *ngFor="let order of orders" [img]="order.img" [orderTitle]="order.name" [orderDescription]="order.description" [orderprice]="order.price" ></app-wide-product-card>
          </div>
        </section>
        <section id="orders-table-container">
            <table id="orders-table">
                <thead id="orders-table-head">
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Random product with data</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total Price</td>
                    </tr>
                    <tr>
                        <td>Random product with data</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total Price</td>
                    </tr>
                    <tr>
                        <td>Random product with data</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total Price</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Grand Total</td>
                        <td>3500</td>
                    </tr>
                </tfoot>
            </table>
        </section>
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" style="text-align: center;margin-left: 30%">
      <label for="vehicle1" >Send a copy of invoice to email after payment.</label><br>
      <div align="center"><button>Checkout To buy</button></div>
    </main>
      </div>
    </div>
    <app-footer></app-footer>
</ion-content>