.home{
  margin: 0 auto;
  min-width: 978px;
  max-width: 1920px;
zoom: 80%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#overlay{
  // display: none;
  position: absolute;
  top:0%;
  left:0%;
  width: 100vw;
  height:100vh;
  overflow: hidden;
  z-index: 1;
}
#overlay > *{
  position: relative;
  top:50%;
  left:50%;
  width: 100px;
  height:100px;
  transform: translate(-50%,-50%);
}
#container {
    width: 80%;
    margin: 3em auto;
}

#checkout-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 1em;
    color: #6D5DE3;
    font-weight: 700;
}


button{
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin: 3%;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

.inner-box{
  height: auto;
  width: 95%;
  font-family: Poppins;
  text-align: left;
  font-size: 20px;
  margin:2.5%;
  padding: 5px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 10px;
  border: 5px solid #9081FF;

}

ion-card{
  height: fit-content;
  width: 80%;
  font-family: Poppins;
  text-align: left;
  font-size: 50px;
  padding: 50px;
  margin: 5% 15%;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.product-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#orders-table {
    width: 100%;
    margin: 0 auto;
    font-size: 1.25rem;
    border-radius: 20px;
    font-family: 'Poppins';
    margin: 50px 0px;
}

#orders-table-head {
    color: #6D5DE3;
    font-weight: 700;
}

#orders-table th, #orders-table td {
    border: 2px solid #6D5DE3;
    padding: .5em 1em;
}

@media only screen and (max-width: 1024px) {
  .home{
    margin: 0 auto;
    min-width:300px;
    max-width: 800px;
    zoom: 100%;
  }
  #orders-table-container{
    overflow: scroll;
  }

#orders-table {
  margin: 20px 0px;
  font-size: 0.6rem;

}
ion-card{
  height: fit-content;
  width: 90%;
  font-family: Poppins;
  text-align: left;
  font-size: 10px;
  padding:10px;
  margin: 2.5% 5%;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 20px;
}
ion-item{
  font-size: 12.5px;
}
button{
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin: 3%;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
}


