<ion-content>
  <ion-list>
  <ion-item>
    <a href="/account"><ion-label>Account</ion-label></a>
  </ion-item>
  <ion-item>
    <a href="/profile"><ion-label>Profile</ion-label></a>
  </ion-item>
  <ion-item>
    <a href="/wishlist"><ion-label>Wishlist</ion-label></a>
  </ion-item>
  <ion-item>
    <a href="/orders"><ion-label>orders</ion-label></a>
  </ion-item>
  <ion-item>
    <a href="/buyagain"><ion-label>buyagain</ion-label></a>
  </ion-item>
  <ion-item>
    <a href="/trackorder"><ion-label>trackorders</ion-label></a>
  </ion-item>
  </ion-list>
</ion-content>