<ion-content>
  <ion-list>
    <ion-item *ngIf="totalCoin!=undefined">
      <ion-label slot="start">Total Coins</ion-label>
      <img src="./assets/coin.png" width="30" alt="">
      <ion-label>&nbsp;&nbsp;&nbsp; {{totalCoin}}</ion-label>
    </ion-item>
    <ion-item>
      <a routerLink="/account">
        <ion-label>Account</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a routerLink="/profile">
        <ion-label>Profile</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a routerLink="/wishlist">
        <ion-label>Wishlist</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a routerLink="/orders">
        <ion-label>Orders</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a routerLink="/buyagain">
        <ion-label>Buy Again</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a routerLink="/trackorder">
        <ion-label>Track Orders</ion-label>
      </a>
    </ion-item>
  </ion-list>
</ion-content>