<ion-content>
  <ion-list>
    <ion-item *ngIf="totalCoin!=undefined">
      <ion-label slot="start">Total Coins</ion-label>
      <ion-icon name="cash" ></ion-icon>
      <ion-label>&nbsp;&nbsp;&nbsp; {{totalCoin}}</ion-label>
    </ion-item>
    <ion-item>
      <a href="/account">
        <ion-label>Account</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a href="/profile">
        <ion-label>Profile</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a href="/wishlist">
        <ion-label>Wishlist</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a href="/orders">
        <ion-label>Orders</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a href="/buyagain">
        <ion-label>Buy Again</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a href="/trackorder">
        <ion-label>Track Orders</ion-label>
      </a>
    </ion-item>
  </ion-list>
</ion-content>