<ion-content>
  <ion-list *ngIf="products.length>0">
    <ion-item *ngFor= "let product of products">
      <ion-row>
        <ion-col>
          <ion-thumbnail>
            <img [src]="product.productImages[0].image" />
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-label>{{product.productName}}</ion-label>
          <ion-label color="success">&#8377;{{product.productPrice}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item button href="./cart">
      <ion-label>Open Cart</ion-label>
    </ion-item>
  </ion-list>
  <div class="uk-padding" *ngIf="products.length<=0">
    <img src="./assets/NotFound.gif" >
    <ion-label><strong>No items in your cart</strong></ion-label>
  </div>

</ion-content>