<ion-content>
  <ion-label>Dashboard</ion-label>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-label class="featureCardTitle">Total Orders</ion-label><br>
        <ion-label class="featureCardNumber">{{totalOrders}}K</ion-label>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-label class="featureCardTitle">Total Orders</ion-label><br>
        <ion-label class="featureCardNumber">{{totalCancelled}}</ion-label>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-label class="featureCardTitle">Total Orders</ion-label><br>
        <ion-label class="featureCardNumber">{{totalItems}}</ion-label>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-label class="featureCardTitle">Total Orders</ion-label><br>
        <ion-label class="featureCardNumber">{{growthRate}}</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-label>Latest Orders</ion-label>
    <ion-list>
      <div *ngFor="let order of liveOrders" >
        <app-ap-dashboard-order-item 
        *ngFor="let product of order.products" 
        [name]="product.productName" 
        [price]="product.productPrice"
        [orderDate]="order.shippingDetail.orderDate"
        [status]="order.shippingDetail.status"
        [moreInfo]="order.shippingDetail">
        </app-ap-dashboard-order-item>
      </div>
    </ion-list>
  </ion-card>
</ion-content>