<ion-content [ngStyle]="{'filter': (dataProvider.showOverlay) ? 'blur(10px)' : 'blur(0px)' }">
  <app-header></app-header>
  <div class="home">
  <main id="container">
    <h2 id="your-cart-title">Your Cart</h2>
    <section id="cart-container">
      <div class="product-row">
        <app-wide-product-card [productId]="order.productId" [showQuantity]="true" (changeQuantity)="quantityChanged($event)" [quantity]="order.quantity" *ngFor="let order of cartItems" [extras]="order.options" [img]="order.productImages[0].image" [orderTitle]="order.productName" [orderDescription]="order.seoDescription" [orderprice]="order.finalPrice" ></app-wide-product-card>
      </div>
      <div align="center"><button [disabled]="cartItems.length<0" (click)="moveToCheckout()">Checkout To Cart</button></div>
    </section>
  </main>
</div>
  <app-footer></app-footer>
</ion-content>
<div id="overlay" *ngIf="dataProvider.showOverlay">
  <ion-spinner name="crescent" color="tertiary"></ion-spinner>
</div>