* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#container {
    width: 95%;
    margin: 3em auto;
}

#your-cart-title {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 1em;
    color: #6D5DE3;
    font-weight: 700;
}

#cart-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px;
    padding: 2em;
}

.product-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

button{
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}
