<ion-content>
  <app-header></app-header>
  <div class="home">
    <h1 class="heading">REFUND & RETURN POLICY DECLARATION OF THE PLATFORM</h1>
    <div class="uk-panel">
      <div class="inner-box" align="center">
        <p class="c19 title" id="h.myavsvkfyehy"><span class="c4 c20">Refunds, Return and Shipping Policy</span></p>
        <h2 class="c6" id="h.vet60gllbkd7"><span class="c12 c4">OVERVIEW</span></h2>
        <p class="c7"><span class="c0">Dear browsers, vendors, customers, and merchants,</span></p>
        <p class="c7"><span>Welcome to </span><span class="c4">Hello Santa </span><span class="c0">Returns, Refund and
            Shipping Policies!</span></p>
        <p class="c3"><span class="c14 c4"></span></p>
        <p class="c7"><span class="c0">Our return and refund policy are particular and categorized based on the type of
            product ordered. Since our products are customized and personalized to every particular customer and buyer,
            we make them exclusively. There may/may not be a return/refund of the products depending upon the nature of
            the product decided solely by Hello Santa.</span></p>
        <p class="c9"><span class="c0"></span></p>
        <h2 class="c6" id="h.o52mtx2b4wu1"><span class="c4 c12">SECTION 1 &ndash; CUSTOMIZED PRODUCTS</span></h2>
        <p class="c7"><span class="c0">Customized products include - Digital and Manual Portraits, Digital and Manual
            Caricatures, Digital Frames, customized T-Shirts and Mugs, and any other personalized products. There is no
            money refund in any customized product in any circumstances and cases.</span></p>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-0 start">
          <li class="c1 li-bullet-0"><span class="c4 c14">Damaged or Defective Product: </span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-1 start">
          <li class="c7 c8 li-bullet-0"><span>In case of a damaged or defective product delivered, do let us know within
              the next 5 days of delivery. You can write to us at </span><span class="c16"><a class="c10"
                href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span>&nbsp;</span><span>or call us
              at +91-8918014671 / 8840896079 (10:00 hours to 20:00 hours, 7 days a week). Photos of damaged or defective
              products should be shared along with the mail to </span><span class="c16"><a class="c10"
                href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span class="c0">. Our
              representative will contact you and ask for some details about the product delivered or defaults therein.
              We expect your co-operation and support in completing the process, and that will allow us to resolve your
              complaint expediently.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">The company will replace the damaged and/or defective product
              with the same new product at zero extra charges in a genuine case.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">The customer should make a video while unboxing the replaced
              product to claim another replacement if the redelivered product is damaged or defective. If the video is
              not shared while reclaiming the second time for replacement, the product will not be replaced.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">In a genuine case again, the company will replace the damaged
              and/or defective product with the same new product at zero extra charges.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">In case of the recipient&#39;s improper handling of the
              product, no replacement or refund will be provided.</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-0">
          <li class="c1 li-bullet-0"><span class="c4">Product not delivered: </span><span class="c0">In case a product
              is not delivered to the given address due to any of the following reasons, then:</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-1 start">
          <li class="c7 c8 li-bullet-0"><span class="c4">Wrong address given by the customer:</span><span
              class="c0">&nbsp;The product will be delivered to the correct address after confirming the address from
              the customer, and a standard shipping charge will be levied on the customer.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c4">Mistake from the company side in address:</span><span
              class="c0">&nbsp;The product will be delivered to the correct address without extra charges.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c4">Unsuccessful Delivery: </span><span class="c0">Unsuccessful
              deliveries arising from the recipient not being present at the time of delivery at the address provided by
              the sender or the recipient refusing to accept the delivery. In such a case, free delivery will be
              attempted to the recipient&rsquo;s address twice. If still the delivery is not completed, then the
              customer/sender will be contacted for 3rd attempt, and this 3rd attempt will be charged with standard
              delivery charges and will only be attempted on confirmation from the customer/sender to the address
              reconfirmed by the customer/sender.</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-0">
          <li class="c1 li-bullet-0"><span class="c4">Cancelation of order: </span><span>Cancellation of order is
              allowed if such request is made within 5 hours after ordering the product, and Hello Santa will make a
              full refund in such cases.</span></li>
        </ul>
        <p class="c3"><span class="c0"></span></p>
        <h2 class="c6" id="h.cnrr865svjbh"><span class="c12 c4">SECTION 2 &ndash; NON-CUSTOMIZED PRODUCTS</span></h2>
        <p class="c7"><span class="c0">Non-customized products include - Digital and Manual Fan-Art, Quirky T-Shirts,
            Wacky Mugs, Candles, Bookmarks and any other pre-designed and manufactured products. Both refund and replace
            options are available for non-customized products.</span></p>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-0">
          <li class="c1 li-bullet-0"><span class="c14 c4">Damaged or Defective Product: </span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-1 start">
          <li class="c7 c8 li-bullet-0"><span>In case of a damaged or defective product delivered, do let us know within
              the next 5 days of delivery. You can write to us at </span><span class="c16"><a class="c10"
                href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span>&nbsp;or call us at
              +91-8918014671 / 8840896079 (10:00 hours to 20:00 hours, 7 days a week). Photos of damaged or defective
              products should be shared along with the mail to </span><span class="c16"><a class="c10"
                href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span class="c0">. Our
              representative will contact you and ask for some details about the product delivered or defaults therein.
              We expect your co-operation and support in completing the process, and that will allow us to resolve your
              complaint expediently. </span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">The company will replace the damaged and/or defective product
              with the same new product at zero extra charges in a genuine case.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">The customer should make a video while unboxing the replaced
              product to claim another replacement if the redelivered product is damaged or defective. If the video is
              not shared while reclaiming the second time for replacement, the product will not be replaced.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">In a genuine case again, the company will replace the damaged
              and/or defective product with the same new product at zero extra charges.</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">In case of the recipient&#39;s improper handling of the
              product, no replacement or refund will be provided.</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-0">
          <li class="c1 li-bullet-0"><span class="c4">Product not delivered: </span><span class="c0">In case a product
              is not delivered to the given address due to any of the following reasons, then:</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-1 start">
          <li class="c7 c8 li-bullet-0"><span class="c14 c4">Wrong address given by the customer:</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-2 start">
          <li class="c7 c17 li-bullet-0"><span class="c4">Redeliver -</span><span class="c0">&nbsp;The product will be
              delivered to the correct address after confirming the address from the customer, and a standard shipping
              charge will be levied on the customer.</span></li>
          <li class="c7 c17 li-bullet-0"><span class="c4">Refund - </span><span class="c0">The total amount will be
              refunded as a special coupon which the customers can use for any of their next orders. If a customer wants
              a refund to their bank account/source of payment, then minimum charges consisting of convenience, payment
              gateway, return shipping, and internet handling charges amounting to 10% of the total amount of the order
              will be levied on the customer and the rest of the amount will be transferred to their bank/source of
              payment.</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-1">
          <li class="c7 c8 li-bullet-0"><span class="c14 c4">Mistake from the company side in address:</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-2 start">
          <li class="c7 c17 li-bullet-0"><span class="c4">Redeliver - </span><span class="c0">The product will be
              delivered to the correct address without extra charges.</span></li>
          <li class="c7 c17 li-bullet-0"><span class="c4">Refund - </span><span class="c0">The total amount will be
              refunded either to their Hello Santa wallet or their source of payment/bank account as per the
              customer&#39;s choice.</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-1">
          <li class="c7 c8 li-bullet-0"><span class="c14 c4">Unsuccessful Delivery: </span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-2 start">
          <li class="c7 c17 li-bullet-0"><span class="c4">Redeliver - </span><span class="c0">Unsuccessful deliveries
              arising from the recipient not being present at the time of delivery at the address provided by the sender
              or the recipient refusing to accept the delivery. In such a case, the customer/sender will be contacted
              before the 2nd attempt, and this 2nd attempt will be charged with standard delivery charges and will only
              be attempted on confirmation from the customer/sender to the address reconfirmed by the
              customer/sender.</span></li>
          <li class="c7 c17 li-bullet-0"><span class="c4">Refund - </span><span class="c0">The total amount will be
              refunded as a special coupon which the customers can use for any of their next orders. If a customer wants
              a refund to their bank account/source of payment, then minimum charges consisting of convenience, payment
              gateway, return shipping, and internet handling charges amounting to 10% of the total amount of the order
              will be levied on the customer and the rest of the amount will be transferred to their bank/source of
              payment.</span></li>
        </ul>
        <ul class="c2 lst-kix_9ju4f4o1mnxd-0">
          <li class="c1 li-bullet-0"><span class="c4">Product not wanted after delivery: </span><span class="c0">The
              total amount will be refunded as a special coupon which the customers can use for any of their next
              orders. Suppose a customer wants a refund to their bank account/payment source, in that case, minimum
              charges consisting of convenience, payment gateway and internet handling charges amounting to 10% of the
              total amount of the order will be levied on the customer, and the rest of the amount will be transferred
              to their bank/source of payment.</span></li>
          <li class="c1 li-bullet-0"><span class="c4">Cancelation of order: </span><span class="c0">Cancellation of
              order is allowed if such request is made within 5 hours after ordering the product, and Hello Santa will
              make a full refund in such cases.</span></li>
        </ul>
        <p class="c3"><span class="c0"></span></p>
        <h2 class="c6" id="h.d9fdqax7ealp"><span class="c12 c4">SECTION 3 &ndash; REFUNDS</span></h2>
        <p class="c7"><span class="c0">The refund is initiated only after we get back the product. We can refund 100% of
            the amount as a special discount coupon which can be used on your next order or 90% of the amount to the
            original payment method.</span></p>
        <p class="c7"><span class="c0">To be eligible for a return or refund, your item must be unused and in the same
            condition that you received it. It must also be in the original packaging. Once we receive the returned
            product, we will notify you of the approval or rejection of your refund. If you are approved, then your
            refund will be processed.</span></p>
        <p class="c7"><span>Hello Santa will process online refund</span><span class="c0">&nbsp;on confirmation over
            mail or phone call to the customer or recipient. Once processed by Hello Santa, the refund might take 10 to
            15 business days to reflect in your account. There are certain situations where only partial refunds are
            granted: (if applicable)</span></p>
        <ul class="c2 lst-kix_qpcuz0x3tkmn-0 start">
          <li class="c1 li-bullet-0"><span class="c0">Any item not in its original condition is damaged or missing parts
              for reasons not due to our error.</span></li>
        </ul>
        <p class="c7"><span class="c0">Late or missing refunds (if applicable): </span></p>
        <ul class="c2 lst-kix_odn7jx4bbzlw-0 start">
          <li class="c1 li-bullet-0"><span class="c0">If you haven&rsquo;t received a refund yet, check your bank
              account again.</span></li>
          <li class="c1 li-bullet-0"><span class="c0">Then contact your credit card company; it may take some time
              before your refund is officially posted.</span></li>
          <li class="c1 li-bullet-0"><span class="c0">Next, contact your bank. There is often some processing time
              before a refund is posted.</span></li>
          <li class="c1 li-bullet-0"><span>If you&rsquo;ve done all of this and you still have not received your refund
              yet, please contact us at </span><span class="c16"><a class="c10"
                href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span class="c0">.</span></li>
        </ul>
        <p class="c7"><span class="c0">Only regular-priced items may be refunded. Sale items cannot be refunded or may
            be refunded only after deducting a certain amount consisting of convenience, payment gateway and internet
            handling charges.</span></p>
        <p class="c3"><span class="c0"></span></p>
        <h2 class="c6" id="h.lfbrblaln5c"><span class="c4">SECTION 4 &ndash; RETURNS</span></h2>
        <p class="c7"><span>Customized products </span><span>are exempt from being returned.</span></p>
        <p class="c11"><span class="c0">To complete your return, we require a receipt or proof of purchase. Once your
            return is received and inspected, we will email you that we have received your returned item.</span></p>
        <p class="c11"><span class="c0">Exchanges (if applicable):</span></p>
        <ul class="c2 lst-kix_csd9xfeqwde6-0 start">
          <li class="c5 li-bullet-0"><span>We only replace items if they are defective or damaged. If you need to
              exchange it for the same thing, send us an email at </span><span class="c16"><a class="c10"
                href="mailto:support@hellosanta.in">support@hellosanta.in</a></span><span class="c0">.</span></li>
        </ul>
        <p class="c9"><span class="c0"></span></p>
        <h2 class="c6" id="h.xamehh15dk94"><span class="c4">SECTION 5 &ndash; SUBSTITUTION</span></h2>
        <p class="c7"><span class="c0">In a situation where a product (non-customized product) that you have ordered is
            out of stock or unavailable, we will contact you to give an option of an alternate product. If we are unable
            to get in touch with you, we will proceed with sending you the alternate product since we know that you are
            sending it to your loved one(s) on a special occasion, and we would not want anything to dampen the spirit
            of the occasion.</span></p>
        <p class="c3"><span class="c0"></span></p>
        <h2 class="c6" id="h.7eurnrx89pwd"><span class="c4">SECTION 6 &ndash; SHIPPING AND DELIVERY POLICY</span></h2>
        <ul class="c2 lst-kix_2jyuutmu3ocj-0 start">
          <li class="c1 li-bullet-0"><span class="c0">The correct address and contact number of the recipient are a must
              for placing the order. Estimated delivery time depends on the product&#39;s availability and the
              destination to which you want the product to be delivered. You acknowledge that the requested delivery
              time is non-binding.</span></li>
          <li class="c1 li-bullet-0"><span class="c0">Delivery may take longer due to: </span></li>
        </ul>
        <ul class="c2 lst-kix_2jyuutmu3ocj-1 start">
          <li class="c7 c8 li-bullet-0"><span class="c0">Bad weather </span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">Political disruptions</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">Holidays and strikes</span></li>
          <li class="c7 c8 li-bullet-0"><span class="c0">Other unforeseen circumstances</span></li>
        </ul>
        <ul class="c2 lst-kix_2jyuutmu3ocj-0">
          <li class="c1 li-bullet-0"><span class="c0">In such cases, we will proactively reach out to you. Please check
              your e-mails and SMS regularly for updates.</span></li>
          <li class="c1 li-bullet-0"><span class="c0">Once the product is shipped, a total of 3 delivery attempts is
              made at the address given by the customer, after which the product is returned to the origin. The product
              will be shipped again to the address reconfirmed by the customer, which would be free of cost in case of a
              customized product but chargeable if the product is non-customized. If the delivery is still unsuccessful,
              the product is returned to the origin. Further shipping the product to any address requested by the
              customer is all chargeable with standard delivery charges. In case if the recipient is not available,
              he/she can inform the delivery person to deliver the order to the gate/reception/neighbor. </span></li>
          <li class="c1 li-bullet-0"><span class="c0">Proof of delivery will be provided in case of any dispute in
              delivery. If there is no one available at the shipping addresses to accept your order at the time of
              delivery, the order will not be considered late. Hence, no refunds, cancellations, or liability can be
              made in such cases. We will surely try our best as mentioned below - </span></li>
        </ul>
        <ul class="c2 lst-kix_2jyuutmu3ocj-1 start">
          <li class="c7 c8 li-bullet-0"><span class="c0">Call the recipient to schedule an appropriate delivery time.
            </span></li>
        </ul>
        <ul class="c2 lst-kix_2jyuutmu3ocj-0">
          <li class="c1 li-bullet-0"><span class="c0">Notwithstanding anything contained in the Shipping Disclaimer or
              the Terms and Conditions, if the order is made to deliver through any courier agency or any third party,
              Hello Santa does not make any representation or warranty in relation to the delivery of such order. The
              products will be delivered through any courier company, and the delivery made by them are subject to the
              Terms and Conditions of such courier companies.</span></li>
          <li class="c1 li-bullet-0"><span class="c0">The date of delivery is an estimate and not exact. Your order may
              be delivered a day prior or a day after the chosen date of delivery. You acknowledge that the requested
              delivery date is non-binding. The estimated delivery date depends on the product&#39;s availability and
              the destination to which you want the product to be shipped. </span></li>
          <li class="c1 li-bullet-0"><span class="c0">Our courier partners do not call prior to delivering an order, so
              we recommend that you provide an address where someone will be present to receive the package.</span></li>
          <li class="c1 li-bullet-0"><span class="c0">The delivery cannot be redirected to any other address.</span>
          </li>
          <li class="c1 li-bullet-0"><span class="c0">All courier orders are carefully packed and shipped from our
              warehouse. Soon after the order has been dispatched, you will receive a tracking number that will help you
              trace your order. </span></li>
          <li class="c1 li-bullet-0"><span>Before major occasions, we suggest placing your order at least 10 days in
              advance.</span></li>
        </ul>
      </div>
    </div>
    <app-accordion></app-accordion>
  </div>
  <app-footer></app-footer>
  <app-iontab *ngIf="screenwidth<1024"></app-iontab>
</ion-content>