<ion-content [ngStyle]="{'filter': (dataProvider.showOverlay) ? 'blur(10px)' : 'blur(0px)' }">
  <div class="home">
    <img loading="lazy" src="../../assets/loginn-05.jpg" class="bg">
    <div class="login-root">
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="formbg-outer uk-position-center-right">
          <div class="formbg">
            <a href="http://hellosanta.in/" rel="dofollow"><img loading="lazy" src="assets/logo.png" class="logo"></a>
            <span class="padding-bottom--15" style="text-align:center;">Create your account</span>
            <ion-slides mode="md" pager="false" [options]="slideOpts" scrollbar="false" #slides>
              <ion-slide >
                <form [formGroup]="stepOne" action="">
                  <input class="input" type="text" name="email" autocomplete="email"
                    placeholder="Email Or Phone Number" inputmode="text" required #email formControlName="email">
                  <button [disabled]="!stepOne.valid" [hidden]="!stepOne.valid" [ngClass]="!stepOne.valid ? 'disabled' : ''"
              class="submitButton" id="submitSignup" type="submit">Continue</button>
                </form>
              </ion-slide>
              <ion-slide>
                <form [formGroup]="stepTwo" (ngSubmit)="submitStepTwo()">
                  <div *ngIf="!emailType">
                    <ion-title>OTP Sent to your number {{this.email.value}}</ion-title>
                    <br>
                    <div *ngIf="windowRef.confirmationResult">
                      <hr>
                      <ion-item class="input" lines="none">
                        <ion-label for="code" position="floating">Enter your Verification Code Here</ion-label><br>
                        <input type="text" name="code" formControlName="otp" placeholder="6 Digit OTP">
                      </ion-item>
                      <br>
                      <ion-progress-bar color="primary" [value]="resendProgress" *ngIf="timeleft>0"></ion-progress-bar>
                      <br *ngIf="timeleft>0">
                      <ion-label *ngIf="timeleft>0" style="font-size:15px;">Wait <strong>{{timeleft}}</strong> seconds to resend OTP</ion-label>
                      <br *ngIf="timeleft>0">
                      <ion-button class="resendButton" (click)="sendLoginCode()" *ngIf="timeleft<=0" [disabled]="timeleft>0">
                        <ion-icon name="timer"></ion-icon>Resend OTP
                      </ion-button>
                      <br *ngIf="timeleft<=0">
                    </div>
                    <ion-item *ngIf="windowRef.confirmationResult==undefined || windowRef.confirmationResult==false">
                      <ion-label>Sending OTP</ion-label>
                      <ion-spinner name="crescent"></ion-spinner>
                    </ion-item>
                    <br>
                  </div>
                  <ion-item class="input" lines="none" *ngIf="emailType">
                    <input [type]="passwordType ? 'password' : 'text'" autocomplete="password" placeholder="Password"
                      inputmode="text" required #password formControlName="password">
                    <button (click)="passwordType=!passwordType" type="button">
                      <ion-icon slot="end" [name]="passwordType ? 'eye-off' : 'eye'"></ion-icon>
                    </button>
                  </ion-item>
                  <button [disabled]="!stepTwo.valid" [ngClass]="!stepTwo.valid ? 'disabled' : ''" class="submitButton" type="submit">Continue</button>
                </form>
              </ion-slide>
              <ion-slide>
                <form [formGroup]="stepThree" (ngSubmit)="finalSubmit()">
                  <input class="input" type="text" autocomplete="name" [disabled]="" autofocus placeholder="Full Name"
                    inputmode="text" required formControlName="name" #name>
                  <input class="input" type="text" placeholder="referralCode" name="referCode" formControlName="referralCode">
                  <ion-item class="input">
                    <ion-label>Date Of Birth</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY" formControlName="dob"></ion-datetime>
                  </ion-item>
                  <!-- <ion-label>{{stepThree.errors}}</ion-label> -->
                  <button [disabled]="!stepThree.valid" [ngClass]="!stepThree.valid ? 'disabled' : ''" class="submitButton" type="submit">Continue</button>
                </form>
              </ion-slide>
            </ion-slides>
            <hr class="uk-divider-icon">
            <div class="field">
              <button class="ssolink" href="#" (click)="authService.GoogleAuth()">
                <ion-icon name="logo-google"></ion-icon>
              </button>
              <button class="ssolink" href="#">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
              <button class="ssolink" href="#" hidden>
                <ion-icon name="logo-apple"></ion-icon>
              </button>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <span>Already have an account? <a href="/login">login</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
              <span><a href="#">© Hello Santa</a></span>
              <span><a href="#">Contact</a></span>
              <span><a href="#">Privacy & terms</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div id="overlay" *ngIf="dataProvider.showOverlay">
  <ion-spinner name="crescent" color="tertiary"></ion-spinner>
</div>