<ion-content [ngStyle]="{'filter': (dataProvider.showOverlay) ? 'blur(10px)' : 'blur(0px)' }">
  <img src="../../assets/loginn-05.jpg" class="bg">
  <div class="login-root">
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="formbg-outer uk-position-center-right">
        <div class="formbg">
          <a href="http://hellosanta.in/" rel="dofollow"><img src="assets/logo.png" class="logo"></a>
          <span class="padding-bottom--15" style="text-align:center;">Create your account</span>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" action="">
            <input type="text" autocomplete="name" autofocus placeholder="Full Name" inputmode="text" required
              formControlName="name" #name>
            <input type="text" autocomplete="email" placeholder="Email Address" inputmode="text" required #email
              formControlName="email">
            <input type="password" autocomplete="password" placeholder="Password" inputmode="text" required #password
              formControlName="password">
            <input type="text" placeholder="referralCode" name="referCode" formControlName="referralCode">
            <button (click)="presentModal()" style="background-color: rgb(247, 152, 223); padding: 10px 20px; border-radius: 25px; margin: 10px 0px;">Setup Information</button>
            <button [disabled]="isLoading || !form.valid" [ngClass]="isLoading || !form.valid ? 'disabled' : ''"
              class="button" type="submit">Continue</button>
          </form>
          <hr class="uk-divider-icon">
          <div class="field">
            <button class="ssolink" href="#" (click)="authService.GoogleAuth()">
              <ion-icon name="logo-google"></ion-icon>
            </button>
            <button class="ssolink" href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button class="ssolink" href="#">
              <ion-icon name="logo-apple"></ion-icon>
            </button>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <span>Already have an account? <a href="/login">login</a></span>
          <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <span><a href="#">© Hello Santa</a></span>
            <span><a href="#">Contact</a></span>
            <span><a href="#">Privacy & terms</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div id="overlay" *ngIf="dataProvider.showOverlay">
  <ion-spinner name="crescent" color="tertiary"></ion-spinner>
</div>