img.bg {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  // padding-bottom: 10px;
  width: 300px;
}

.button {
  background-color: #FF6584; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 75px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

a {
  color: #5469d4;
  text-decoration: unset;
  text-align: center;
}
.login-root {
  background: rgba(255, 255, 255, 0.404);
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.flex-flex {
  display: flex;
}

.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}

.padding-bottom--15 {
  padding-bottom: 15px;
  color:#FF6584;
}

.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: fit-content;
  max-width: fit-content;
  background: #ffffff91;
  opacity: 80%;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  border-radius: 25px;
}
span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}

.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}


input , .input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  min-width: 200px;
  min-height: 44px;
  outline: none;
  font-weight: 600;
  color:#FF6584;
  border: solid 1px white;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.input{
  border-radius: 40px;
}
input:active,input:focus{
  border:2px solid #FF6584; 
  outline: none;
}
.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.ssolink {
  display: block;
  text-align: center;
}
.ssolink > ion-icon{
  font-weight: 600;
  font-size: 40px; 
  color: #FF6584;
}
.footer-link span {
  font-size: 14px;
  text-align: center;
}
.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}
.disabled{
  opacity: 0.5;
}
form{
  display: flex;
  flex-direction: column;
  padding-left:50px;
  padding-top: 10px;
  padding-right: 50px;
  justify-content: space-evenly;
  height:400px;
}
.field{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.uk-divider-icon::after, .uk-divider-icon::before {
  border-bottom: 1px solid #FF6584 !important;
}
.uk-divider-icon{
  background-image:url("/assets/circle.svg")
}
.avatar{
  border-radius:50px;
  width:100px;
  height:100px;
  margin: 0 auto;
  object-fit: cover;
  box-shadow:5px 10px 20px rgba(0, 0, 0, 0.3);
}

.dialog{
  height:300px;
}
.box-root{
  margin-top: 100px;
}
@media only screen and (max-width:500px){
  img{
    width:200px;
  }
  .bg{
    object-position: 30% 30%;
    object-fit: cover;
    height:100vh !important;
  }
  .login-root{
    // width:80vw;
    margin: 0 auto;
  }
  input{
    min-width: 50px;
    max-width:200px;
    box-shadow:5px 10px 20px rgba(0, 0, 0, 0.075);
    border:2px solid #FF6584;
  }
  .formbg{
    padding-top:5px;
    width:300px;
    background: #ffffffec;
  }
  form > input:nth-child(1){
    font-size: 15px;
  }
  .button{
    margin:0%;
  }

}
#overlay{
  // display: none;
  position: absolute;
  top:0%;
  left:0%;
  width: 100vw;
  height:100vh;
  overflow: hidden;
  z-index: 1;
}
#overlay > *{
  position: relative;
  top:50%;
  left:50%;
  width: 100px;
  height:100px;
  transform: translate(-50%,-50%);
}