img{
    margin-top: -20px;
    margin-left: -20px;
    width:200px;
    border-top-left-radius: 20px;
    height:150px;
    object-fit: contain;
}
ion-card{
    width: 350px;
    height:min-content;
    transition: height 0.3s ease-in-out;
}
ion-card:hover{
    --buttonDisplay:fit-content;
}
ion-row{
    flex-wrap: nowrap;
}
ion-card{
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.2);
}
.mainTitle{
    font-size:20px;
    color:#6AB9FF;
    font-weight: 600;
}
.title{
    font-size:12px;
    font-weight:700;
    color:#9081FF;
}
.data{
    font-size:20px;
    color:#9081FF;
}
.dataContainer{
    margin-left: 20px;
}
ion-row{
    justify-content: space-evenly;
}
ion-row > button > ion-icon{
    color: #FF6584;
}
ion-row > button > *{
    font-size:25px;
}
ion-row > button{
    padding:10px;
    border-radius:20px;
    transition:all 0.5s ease-in-out;
}
ion-row > button:hover{
    box-shadow: 5px 5px 15px rgba(255, 131, 131, 0.2);
}
p{
    margin-bottom: 0px;
}






