img{
    margin-top: -20px;
    margin-left: -20px;
    width:200px;
    border-top-left-radius: 20px;
}
ion-card{
    width: 350px;
    height:270px
}
ion-row{
    flex-wrap: nowrap;
}
ion-card{
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.2);
}
.mainTitle{
    font-size:20px;
    color:#6AB9FF;
    font-weight: 600;
}
.title{
    font-size:12px;
    font-weight:700;
    color:#9081FF;
}
.data{
    font-size:20px;
    color:#9081FF;
}
.dataContainer{
    margin-left: 20px;
}












