<ion-app [@routeAnimations]="prepareRoute(outlet)" class="content">
    <div>
        <p>Website in beta mode. <button (click)="presentAlertPrompt()">Click here to report a bug.</button></p>
    </div>
    <div *ngIf="authService.isJustLoggedIn">
        <div class="emailnotVerified" *ngIf="!authService.isEmailVerified">
            <p>Please verify your email</p>
        </div>
    </div>
    <ion-router-outlet #outlet="outlet" [ngStyle]="{'top': authService.isLoggedIn ? '30px' : '80px' }"></ion-router-outlet>
</ion-app> 
