
div {
  width: 100vw;
  height:30px;
  background-color: var(--ion-color-primary-tint);
  color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
}
div > *{
  color:white;
  margin:0;
}
div > p > button {
  font-weight:700;
}
ion-router-outlet {
  position: absolute;
  top:40px;
}
@keyframes moveBg {
  0%{
    background-position:0 0;
  }
  50%{
    background-position:400% 0;
  }
  100%{
    background-position:0 0;
  }
}
.emailnotVerified{
  width:100vw;
  position: absolute;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  top:30px;
  background-image: linear-gradient(120deg,
  var(--ion-color-primary),
  var(--ion-color-primary-tint),
  var(--ion-color-primary-shade),
  var(--ion-color-primary),
  var(--ion-color-primary-tint),
  var(--ion-color-primary-shade),
  var(--ion-color-primary),
  var(--ion-color-primary-tint),
  var(--ion-color-primary-shade),
  var(--ion-color-primary),
  var(--ion-color-primary-tint),
  var(--ion-color-primary-shade),
  var(--ion-color-primary),
  var(--ion-color-primary-tint),
  var(--ion-color-primary-shade),
  var(--ion-color-primary),
  var(--ion-color-primary-tint),
  var(--ion-color-primary-shade),
  );
  background-size: 400% 400%;
  animation: moveBg 600s linear infinite;
  color:white;
  height:50px;
  text-align: center;
}
.emailnotVerified > *{
  color:white;
  font-weight:700;
  font-size: 25px;
}