ion-row{
    justify-content: space-around;
}
ion-img{
    width:100px;
    height:auto;
}
ion-item{
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}
ion-item:hover{
    box-shadow:5px 3px 20px rgba(0,0, 0, 0.2);
}
ion-toolbar{
    box-shadow:2px 1px 5px rgba(0,0,0,0.3)
}









