<ion-content>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-button (click)="addProducts()" shape="round" slot="start">
      Add Products
    </ion-button>
    <ion-label slot="end">Pretty View</ion-label>
    <ion-toggle slot="end" checked #switch></ion-toggle>
  </ion-toolbar>
  <ion-row uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100" *ngIf="switch.checked && allProds!=[]">
    <div *ngFor="let item of allProds">
      <app-product 
      [totalCancelled]="item.totalCancels"
      [image]="item.productImages[0].image"
      [description]="item.seoDescription"
      [name]="item.productName"
      [price]="item.productPrice"
      [totalSales]="item.totalSales"
      [id]="item.productId"
      [category]="item.productCategory"
      [subcategory]="item.productSubcategory"
      ></app-product>
    </div>
  </ion-row>
  <ion-row uk-scrollspy="target: > ion-item; cls: uk-animation-fade; delay: 50" *ngIf="!switch.checked && allProds!=[]">
    <ion-item *ngFor="let item of allProds">
      <ion-img size="small" [src]="item.productImages[0].image"></ion-img>&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label color="secondary">{{item.productName}}</ion-label>
      <ion-label>{{item.seoDescription}}</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label color="success"><strong>Total Sales: &nbsp;</strong>{{item.totalSales}}</ion-label>
      <ion-chip color="primary">
        <ion-label><strong>Price:&nbsp;</strong>&#8377;&nbsp;{{item.productPrice}}</ion-label>
      </ion-chip>
      <button slot="end" (click)="deleteItem()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button slot="end" (click)="editItem()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>
  </ion-row>
  <div id="overlay" *ngIf="allProds==[] || allProds==undefined">
    <ion-spinner name="crescent" color="tertiary"></ion-spinner>
  </div>
</ion-content>