
  .inner-box{
    height: auto;
    width: 80vw;
    font-family: Poppins;
    text-align: left;
    font-size: 20px;
    margin:10%;
    padding: 50px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 5px solid #9081FF;
  
  }
  