<ion-content>
  <app-header></app-header>
  <div class="home">
  <div class="headerContainer">
    <div class="distImages" *ngIf="screenwidth>600">
      <img class="first" src="assets/img1.png">
      <img class="second" src="assets/img2.png">
      <img class="third" src="assets/img3.png">
      <img class="fourth" src="assets/img4.png">
    </div>
    <div class="fourthbox">
      <p class="firstheading">Handmade
        <br>
        Artworks
      </p>
      <p class="heading-discription"> developing technologies, everything
        is getting digitized, Lorem ipsum dolor sit
        amet, consectetur adipiscing elit.
        Curabitur cursus tincidunt commodo.
        Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu.
        Quisque nec dui mattis, fringilla magna
        in, vulputate enim. Fusce ut euismod
        ligula, id laoreet ex.</p>
    </div>
  </div>
  <ion-toolbar *ngIf="screenwidth<600">
    <ion-button (click)="showFilterModal()" expand="full" fill="clear" slot="start">
      Filter&nbsp;&nbsp;&nbsp;<ion-icon name="filter-circle"></ion-icon>
    </ion-button>
    <ion-button (click)="presentsort()" expand="full" fill="clear" slot="end">
      Sort&nbsp;&nbsp;&nbsp;<ion-icon name="funnel"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <div class="headerContainer">
    <div class="searchbox" *ngIf="screenwidth>600">
      <ion-button (click)="resetFilter()" style="margin:10px 20px;" expand="block" shape="round">
        Reset Filters
      </ion-button>
      <div class="search-inner-box">
        <h3 style="color: rgb(255, 99, 71);text-align: center;font-weight: bold;">Price Filters</h3>
        <br>
        <ion-list class="list">
          <ion-item class="listoptions">
            <ion-checkbox slot="start" value="500-1000" mode="ios" (ionChange)="addFilter($event,'price')"></ion-checkbox>
            <ion-label>500-1000</ion-label>
          </ion-item>
          <ion-item class="listoptions">
            <ion-checkbox slot="start" value="1000-5000" mode="ios" (ionChange)="addFilter($event,'price')"></ion-checkbox>
            <ion-label>1000-5000</ion-label>
          </ion-item>
          <ion-item class="listoptions">
            <ion-checkbox slot="start" value="5000-10000" mode="ios" (ionChange)="addFilter($event,'price')"></ion-checkbox>
            <ion-label>5000-10000</ion-label>
          </ion-item>
          <ion-item class="listoptions">
            <ion-checkbox slot="start" value="Above10000" mode="ios" (ionChange)="addFilter($event,'price')"></ion-checkbox>
            <ion-label>Above 10000</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="search-inner-box">
        <h3 style="color: tomato;text-align: center;font-weight: bold;">Category Filter</h3>
        <br>
        <ion-list class="list">
          <ion-item class="listoptions" *ngFor="let category of categories">
            <ion-label>{{category}}</ion-label>
            <ion-checkbox mode="ios" slot="start" color="primary" [value]="category" (ionChange)="addFilter($event,'category')"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
      <div class="search-inner-box">
        <h3 style="color: tomato;text-align: center;font-weight:bold">Subcategory Filter</h3>
        <br>
        <ion-list class="list">
          <ion-item class="listoptions" *ngFor="let subcategory of subcategories">
            <ion-label>{{subcategory}}</ion-label>
            <ion-checkbox mode="ios" slot="start" color="primary" [value]="subcategory" (ionChange)="addFilter($event,'subcategory')"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div id="container2">
      <section id="orders-container">
        <div class="product-row" *ngIf="allDigitalProds">
          <app-product-full-card *ngFor="let product of allDigitalProds" [img]="product.productImages[0].image"
            [productTitle]="product.productName" [productDescription]="product.seoDescription"
            [price]="product.productPrice" [productId]="product.productId"></app-product-full-card>
          <div *ngIf="allDigitalProds.length==0">
            <p>Nothing to show</p>
          </div>
        </div>
        <ion-spinner *ngIf="allDigitalProds==undefined" color="primary"></ion-spinner>
      </section>
    </div>
  </div>
</div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<600"></app-iontab>
</ion-content>