
<ion-content>
  <app-header ></app-header>
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body">Item 1</div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 4</div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 5</div>
  </div>
  <ion-button expand="block" (click)="calendarModal()">Open Calendar</ion-button>
<app-accordion></app-accordion>
  <app-footer ></app-footer>
</ion-content>
