ion-card{
    box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
    border-radius: 20px;
    margin: 0 auto;
    width:fit-content;
    min-width: 600px;
}
ion-icon{
    margin-left: 5px;
}
ion-icon[name="create"]{
    color:var(--ion-color-primary);
    font-size: 30px;
}
ion-icon[name="trash-bin"]{
    color:var(--ion-color-danger);
    font-size: 30px;
}
ion-icon[name="add"]{
    color:var(--ion-color-success);
    font-size: 30px;
}
ion-content > div {
    margin-top:50px;
}
.item {
    --border-color: transparent;
    --highlight-color-focused:transparent;
    --highlight-color-valid:transparent;
    --highlight-color-invalid:transparent;
}