
<ion-content>
  <app-header ></app-header>
  <h1 style="font-size: 3em; text-align: center;">Your events panel</h1>
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body card1">Item 1
      <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">
      Item 1
      <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3
      Item 1
      <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 4
      Item 1
      <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 5
      Item 1
      <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    </div>
  </div>
  <ion-button expand="block" (click)="openCalendar()">Open Calendar</ion-button>
<app-accordion></app-accordion>
  <app-footer ></app-footer>
</ion-content>
