<ion-content>
  <app-header></app-header>
  <div class="home">
    <h1 class="title">Your events panel</h1>
    <ion-card *ngIf="screenwidth>1020">
      <form [formGroup]="eventForm" (ngSubmit)="addEvent()">
        <ion-item>
          <ion-input type="text" formControlName="eventTitle" placeholder="Event Name" #eventName></ion-input>
          <ion-select value="birthday" multiple="false" (ionChange)="setEventType($event)" formControlName="eventType"
            placeholder="Type" #eventType>
            <ion-select-option value="birthday">Birthday</ion-select-option>
            <ion-select-option value="Anniversary">Anneversary</ion-select-option>
          </ion-select>
          <ion-item>
            <ion-label>Repeat</ion-label>
            <ion-select value="yearly" multiple="false" placeholder="Repeat interval" formControlName="periodicType">
              <ion-select-option value="yearly">Yearly</ion-select-option>
              <ion-select-option value="monthly">Monthly</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="item">
            <ion-label>Start Date</ion-label>
            <ion-datetime display-format="DD.MM.YYYY" formControlName="startDate" #startDate></ion-datetime>
          </ion-item>
          <ion-item class="item">
            <ion-label>End Date</ion-label>
            <ion-datetime display-format="DD.MM.YYYY" formControlName="endDate" value="startDate.value" #endDate></ion-datetime>
          </ion-item>
          <button type="submit">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-item>
      </form>
      <hr class="uk-divider-icon" style="margin: 0 0 !important;">
      <ion-list>
        <ion-item *ngFor="let event of events">
          <ion-label>{{event.title}}</ion-label>
          <ion-badge color="primary" mode="ios" *ngIf="event.periodicType=='yearly'">Yearly</ion-badge>
          <ion-badge color="primary" mode="ios" *ngIf="event.periodicType=='monthly'">Monthly</ion-badge>
          <ion-chip color="secondary" mode="md" outline="false">
            <ion-label>{{event.type}}</ion-label>
          </ion-chip>
          <ion-chip color="primary" mode="md" outline="true">
            <ion-label>{{event.startDate}}</ion-label>
          </ion-chip>
          <ion-chip color="primary" mode="md" outline="true">
            <ion-label>{{event.endDate}}</ion-label>
          </ion-chip>
          <button (click)="removeEvent(event)">
            <ion-icon name="trash-bin"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="screenwidth<1024">
      <form [formGroup]="eventForm" (ngSubmit)="addEvent()">
        <ion-input type="text" formControlName="eventTitle" placeholder="Event Name" #eventName></ion-input>
        <ion-select value="birthday" multiple="false" (ionChange)="setEventType($event)" formControlName="eventType"
          placeholder="Type" #eventType>
          <ion-select-option value="birthday">Birthday</ion-select-option>
          <ion-select-option value="Anniversary">Anneversary</ion-select-option>
        </ion-select>
        <ion-item class="item">
          <ion-label>All Day</ion-label>&nbsp;&nbsp;
          <ion-checkbox id="allValueDay" (ionChange)="setCheckValue($event)" formControlName="allDay"></ion-checkbox>
        </ion-item>
        <ion-item class="item">
          <ion-label>Start Date</ion-label>
          <ion-datetime display-format="DD.MM.YYYY" formControlName="startDate" #startDate></ion-datetime>
        </ion-item>
        <ion-item class="item">
          <ion-label>End Date</ion-label>
          <ion-datetime display-format="DD.MM.YYYY" formControlName="endDate" #endDate></ion-datetime>
        </ion-item>
        <ion-button type="submit" color="success" expand="full">
          <ion-label>Add</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </form>
      <hr class="uk-divider-icon">
      <ion-list>
        <ion-card *ngFor="let event of events">
          <ion-card-header>
            <ion-title>{{event.title}}</ion-title><br>
          </ion-card-header>
          <ion-chip color="primary" mode="ios" *ngIf="event.allDay">All Day</ion-chip>
              <ion-chip color="primary" mode="ios" *ngIf="!event.allDay">Specific</ion-chip>
              <ion-chip color="secondary" mode="md" outline="false">
                <ion-label>{{event.type}}</ion-label>
              </ion-chip><br>
            <div>
              <ion-chip color="primary" mode="md" outline="true">
                {{event.startDate}}
              </ion-chip><br>
              <ion-chip color="primary" mode="md" outline="true">
                {{event.endDate}}
              </ion-chip><br>
            </div>
            <ion-button (click)="removeEvent(event)" shape="round" color="danger" expand="full">
              <ion-icon name="trash-bin"></ion-icon>
            </ion-button>
        </ion-card>
      </ion-list>
    </ion-card>
    <div *ngIf="events.length>0">
      <ion-toolbar>
        <h2 class="uk-text-center">{{viewTitle}}</h2>
      </ion-toolbar>
      <calendar [sliderOptions]="options" [eventSource]="calendarEvents" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step">
      </calendar>
    </div>
    <app-accordion></app-accordion>
  </div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>