<ion-header translucent>
  <ion-toolbar style="margin:5px;">
    <button (click)="modalController.dismiss()">
      <ion-icon name="close" style="font-size: 30px;"></ion-icon>
    </button>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="results">
  <div *ngIf="results==[]">
    <ion-spinner name="crescent"></ion-spinner>
    <h3 class="uk-text-center">Searching {{keyword}}...</h3>
  </div>
  <div *ngIf="!searchable">
    <h3 class="uk-text-center">Search Anything</h3>
  </div>
  <ion-list *ngIf="results && searchable">
    <ion-item button *ngFor="let result of results" [href]="result.href">
      <ion-thumbnail>
        <img [src]="result.image" />
      </ion-thumbnail>
      <ion-col>
        <ion-label>{{result.text}}</ion-label>
        <ion-chip *ngIf="result.type=='blog'" outline="true" color="primary">Blog Post</ion-chip>
        <ion-chip *ngIf="result.type=='product'" outline="true" color="secondary">Product</ion-chip>
      </ion-col>
    </ion-item>
    <ion-col *ngIf="results.length==0" class="uk-text-center">
      <p class="uk-text-center">No Results Found</p><br>
      <img src="./assets/NotFound.gif" alt="Floating empty boxes">
    </ion-col>
  </ion-list>
</ion-content>