<ion-content>
  <div class="header">
    <ion-title>Add A Product</ion-title>
  </div>
  <div *ngIf="showProgress">
    <ion-progress-bar [color]="progressColor" [value]="progressValue" [type]="progressType"></ion-progress-bar>
  </div>
  <mat-stepper #stepper [linear]="true">
    <mat-step [completed]="basicDetail.valid" [stepControl]="basicDetail" [editable]="true">
      <form [formGroup]="basicDetail" (ngSubmit)="addBasicDetailProduct(stepper)" method="POST">
        <ng-template matStepLabel>Product Basic Details</ng-template>
        <ion-item>
          <ion-label>Total Product Images</ion-label>
          <ion-input type="number" required="true" placeholder="Total product images." id="mainProdImage" value=2 min=2
            max=10 #mainImgCount></ion-input>
        </ion-item>
        <ion-card *ngFor="let prodImg of genList(mainImgCount.value)">
          <img id="productImage{{prodImg}}">
          <br>
          <ion-input type="file" required="true" accept="image/png, image/jpeg"
            (change)="loadProdImage($event,'productImage'+prodImg.toString())"></ion-input>
        </ion-card>
        <ion-item>
          <ion-label position="floating">Product Name</ion-label>
          <ion-input type="text" placeholder="Product Name" required="true" formControlName="productName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product description</ion-label>
          <ion-textarea placeholder="Product Description" required="true" spellcheck
            formControlName="productDescription">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Short Description</ion-label>
          <ion-textarea placeholder="Short Description" required="true" spellcheck formControlName="shortDescription">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">SEO Description</ion-label>
          <ion-textarea placeholder="SEO Description" required="true" spellcheck formControlName="seoDescription">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Image Reference Required</ion-label>
          <ion-checkbox mode="ios" color="primary" formControlName="imageReference"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Display Price</ion-label>
          <ion-input type="number" min=0 value=0 placeholder="Product Price" required="true"
            formControlName="productPrice">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product Base Width</ion-label>
          <ion-input type="number" [value]="0" formControlName="baseWidth" placeholder="Base width"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product Base Height</ion-label>
          <ion-input type="number" [value]="0" formControlName="baseHeight" placeholder="Base height"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product Base Breadth</ion-label>
          <ion-input type="number" [value]="0" formControlName="baseBreadth" placeholder="Base Breadth"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product Base Weight</ion-label>
          <ion-input type="number" [value]="0" formControlName="baseWeight" placeholder="Weight in KG"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Select Categories</ion-label>
          <ion-card class="longList">
            <ion-card-header>
              <ion-card-title>Select Categories</ion-card-title>
            </ion-card-header>
            <ion-list>
              <ion-item *ngFor="let category of allCategories">
                <ion-label>{{category}}</ion-label>
                <ion-checkbox color="primary" slot="start" (ionChange)="addToCatgories(category,$event)"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card class="longList">
            <ion-card-header>
              <ion-card-title>Select Subcategories</ion-card-title>
            </ion-card-header>
            <ion-list>
              <ion-item *ngFor="let category of allSubCategories">
                <ion-label>{{category}}</ion-label>
                <ion-checkbox color="primary" (ionChange)="addToSubcatgories(category,$event)" slot="start">
                </ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-label>Vendor Id</ion-label>
          <ion-select multiple="true" placeholder="Select Vendors" (ionChange)="addToVendors($event)">
            <ion-select-option [value]="vendor.id" *ngFor="let vendor of allVendors">
              {{vendor.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Total Stock</ion-label>
          <ion-input type="number" placeholder="Total Stock" value="20" required="true" formControlName="totalStock"></ion-input>
        </ion-item>
        <ion-row class="header">
          <ion-button type="reset" [disabled]="isLoading || !basicDetail.valid">
            Reset
          </ion-button>
          <ion-button (click)="checkFields()">
            Check Form
          </ion-button>
          <ion-button type="submit" [disabled]="isLoading || !basicDetail.valid">
            Next
          </ion-button>
        </ion-row>
      </form>
    </mat-step>
    <mat-step  [completed]="customisationsForm.valid"  [stepControl]="customisationsForm" [editable]="true">
      <ng-template matStepLabel>Product Customisations</ng-template>
      <form [formGroup]="customisationsForm" (ngSubmit)="customisationSubmit(stepper)">
        <ion-item>
          <ion-label>Customisations</ion-label>
          <ion-input type="number" min=1 max=10 [value]="1" id="customsCount" placeholder="Customisation Count"
            formControlName="customisationsCount" required="true" ></ion-input>
          <button (click)="increaseValue()" type="button" class="addButton">
            <ion-icon slot="end" name="add-circle"></ion-icon>
          </button>
          <button (click)="decreaseValue()" type="button" class="addButton">
            <ion-icon slot="end" name="remove-circle"></ion-icon>
          </button>
        </ion-item>
        <ion-card *ngFor="let item of genList(customisationsCount.value)">
          <ion-radio-group name="price" value="imgSel" id="radio{{item}}" #option required="true">
            <ion-list-header>
              <ion-label>Price Options</ion-label>
            </ion-list-header>
            <ion-item class="listoptions">
              <ion-label>Image Options</ion-label>
              <ion-radio slot="start" color="primary" value="imgSel"></ion-radio>
            </ion-item>
            <ion-item class="listoptions">
              <ion-label>Text Input</ion-label>
              <ion-radio slot="start" color="primary" value="textSel"></ion-radio>
            </ion-item>
            <ion-item class="listoptions">
              <ion-label>Face Count</ion-label>
              <ion-radio slot="start" color="primary" value="faceCount"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-card *ngIf="option.value=='imgSel'">
            <h3>Image Selection</h3>
            <ion-card-content>
              <ion-input id="imgInput{{item}}" type="number" min=1 max=10 value=1 name="selImgCount" required="true"
                placeholder="Images Count" #imageCount></ion-input>
              <ion-item>
                <ion-label>Section Title</ion-label>
                <ion-input type="text" placeholder="Section Title" required="true" id="sectionImgTitle{{item}}">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-checkbox id="imgCheck{{item}}"></ion-checkbox>
                <ion-label>&nbsp;&nbsp;&nbsp; Relative Customisation</ion-label>
              </ion-item>
              <ion-card *ngFor="let imgIndex of genList(imageCount.value)">
                <img id="image{{item}}{{imgIndex}}" width="300">
                <input required="true" accept="image/png, image/jpg, image/jpeg"
                  (change)="loadFile($event,'image'+item.toString()+imgIndex.toString())" type="file">
                <br>
                <ion-item>
                  <ion-label position="floating">Image Title</ion-label>
                  <ion-input required="true" type="text" placeholder="Image Title" id="imgTitle{{item}}{{imgIndex}}">
                  </ion-input>
                </ion-item>
              </ion-card>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="option.value=='textSel'">
            <h3>Text Selection</h3>
            <ion-card-content>
              <ion-input id="textInput{{item}}" type="number" min=1 max=10 value=1 name="selImgCount" required="true"
                placeholder="Texts Count" #imageCount></ion-input>
              <ion-item>
                <ion-label>Section Title</ion-label>
                <ion-input type="text" placeholder="Section Title" required="true" id="sectionTextTitle{{item}}">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-checkbox id="textCheck{{item}}"></ion-checkbox>
                <ion-label>&nbsp;&nbsp;&nbsp; Relative Customisation</ion-label>
              </ion-item>
              <ion-card *ngFor="let textIndex of genList(imageCount.value)">
                <ion-item>
                  <ion-label position="floating">Title</ion-label>
                  <ion-input required="true" type="text" id="textSelTitle{{item}}{{textIndex}}"></ion-input>
                </ion-item>
              </ion-card>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="option.value=='quantitySel'">
            <h3>Quantity Selection</h3>
            <ion-card-content>
              <ion-item>
                <ion-label>Section Title</ion-label>
                <ion-input type="text" placeholder="Section Title" required="true" id="sectionNumTitle{{item}}">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Number Text</ion-label>
                <ion-input required="true" type="text" id="quantityMax{{item}}"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="option.value=='faceCount'">
            <h3>Face Selection</h3>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Maximum Faces</ion-label>
                <ion-input required="true" type="number" [value]="4" id="faceInputMaximum{{item}}"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-item>
            <ion-label>Customisations</ion-label>
            <ion-input type="number" min=1 max=10 [value]="1" id="customsCount" placeholder="Customisation Count"
              formControlName="customisationsCount" required="true" ></ion-input>
            <button (click)="increaseValue()" type="button" class="addButton">
              <ion-icon slot="end" name="add-circle"></ion-icon>
            </button>
            <button (click)="decreaseValue()" type="button" class="addButton">
              <ion-icon slot="end" name="remove-circle"></ion-icon>
            </button>
          </ion-item>
        </ion-card>
        <ion-item>
          <ion-button type="submit">
            Next
          </ion-button>
        </ion-item>
      </form>
    </mat-step>
    <mat-step [editable]="true">
      <ng-template matStepLabel>Prices & Dimensions</ng-template>
      <form (ngSubmit)="submitPrices(stepper)">
        <ion-card *ngFor="let item of permutations; let i = index" [attr.data-index]="i">
          <ion-item>
            <ion-chip *ngFor="let inside of item" color="primary" mode="ios">Permutations {{inside.title}}</ion-chip>
          </ion-item>
          <ion-item>
            <ion-label>Possible</ion-label>
            <ion-checkbox #possible [checked]="true" id="isPossible{{i}}"></ion-checkbox>
          </ion-item>
          <ion-card-content *ngIf="possible.checked">
            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input required="true" type="number" [value]="0" id="price{{i}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Length</ion-label>
              <ion-input required="true" type="number" [value]="0" id="Length{{i}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Width</ion-label>
              <ion-input required="true" type="number" [value]="0" id="Width{{i}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Breadth</ion-label>
              <ion-input required="true" type="number" [value]="0" id="Breadth{{i}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Weight</ion-label>
              <ion-input required="true" type="number" [value]="0" id="Weight{{i}}"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let value of addons let i = index" [attr.data-index]="i">
          <div *ngIf="value=='textSel' || value=='imgSel'">
            <div *ngFor="let item of value.values let j = index" [attr.data-index]="j">
              <ion-chip color="primary" mode="ios" outline="true">
                <ion-label>{{item.title}}</ion-label>
              </ion-chip>
              <ion-card-content>
                <ion-item>
                  <ion-label>Price</ion-label>
                  <ion-input required="true" type="number" [value]="0" id="addonPrice{{i}}{{j}}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Length</ion-label>
                  <ion-input required="true" type="number" [value]="0" id="addonLength{{i}}{{j}}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Width</ion-label>
                  <ion-input required="true" type="number" [value]="0" id="addonWidth{{i}}{{j}}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Breadth</ion-label>
                  <ion-input required="true" type="number" [value]="0" id="addonBreadth{{i}}{{j}}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Weight</ion-label>
                  <ion-input required="true" type="number" [value]="0" id="addonWeight{{i}}{{j}}"></ion-input>
                </ion-item>
              </ion-card-content>
            </div>
          </div>
        </ion-card>
        <ion-button type="submit">
          Complete Product Information
        </ion-button>
      </form>
    </mat-step>
  </mat-stepper>
</ion-content>