<ion-content>
  <div class="header">
    <ion-title>Edit Product</ion-title>
  </div>
  <form [formGroup]="form" (ngSubmit)="editProduct()" method="POST">
    <ion-input type="number" required="true" placeholder="Total product images." formControlName="productImagesCount" id="mainProdImage" value=2 min=2 max=10
      #mainImgCount></ion-input>
    <ion-card *ngFor="let prodImg of genList(mainImgCount.value)">
      <img loading="lazy" id="productImage{{prodImg}}">
      <br>
      <ion-input type="file" required="true" accept="image/png, image/jpeg"
        (change)="loadProdImage($event,'productImage'+prodImg.toString())"></ion-input>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" placeholder="Product Name" required="true" formControlName="productName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product description</ion-label>
      <ion-textarea placeholder="Product Description" required="true" spellcheck formControlName="productDescription">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Short Description</ion-label>
      <ion-textarea placeholder="Short Description" required="true" spellcheck formControlName="shortDescription">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SEO Description</ion-label>
      <ion-textarea placeholder="SEO Description" required="true" spellcheck formControlName="seoDescription">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Price</ion-label>
      <ion-input type="number" min=0 value=0 placeholder="Product Price" required="true" formControlName="productPrice">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vendor Id</ion-label>
      <ion-input type="text" placeholder="Vendor id" required="true" formControlName="vendorId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Stock</ion-label>
      <ion-input type="number" placeholder="Total Stock" required="true" formControlName="totalStock"></ion-input>
    </ion-item>
    <ion-row class="header">
      <ion-button type="reset" [disabled]="isLoading || !form.valid">
        Reset
      </ion-button>
      <ion-button (click)="checkFields()">
        Check Form
      </ion-button>
      <ion-button type="submit" [disabled]="isLoading || !form.valid">
        Finish
      </ion-button>
    </ion-row>
  </form>
</ion-content>