<ion-content>
  <app-header></app-header>
  <div class="home">
  <main id="container">
    <app-sidenav activeLinkID="wishlist" *ngIf="screenwidth>1020"></app-sidenav>
    <section id="orders-container">
      <h2 id="your-cart-title">Your Wishlist</h2>
      <div class="product-row">
        <app-product-full-card *ngFor="let order of wishlist" 
        [img]="order.productImages[0].image" 
        [productTitle]="order.productName"
        [price]="order.productPrice"
        [productId]="order.productId"
        [category]="order.category"
        [subcategory]="order.subcategory"
        ></app-product-full-card>
      </div>
    </section>
    <app-sidenav activeLinkID="wishlist" *ngIf="screenwidth<1024"></app-sidenav>
  </main>
</div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>