<ion-content [ngStyle]="{'filter': (dataProvider.showOverlay) ? 'blur(10px)' : 'blur(0px)' }">
  <app-header></app-header>
  <div class="home">
  <main id="container">
    <app-sidenav activeLinkID="profile" *ngIf="screenwidth>1020"></app-sidenav>
      <section id="profile-container">
          <div id="img-name-and-email">
            <img [src]="authService.getUserPhoto()"
            alt="Profile Pic" class="circular-profile-pic" style="width:100px;height:100px">
              <div id="name-and-email">
                  <h2 id="name">{{userName}}</h2>
                  <p id="email">{{userEmail}}</p>
                  <ion-item button lines="none">
                    <input type="file" name="file" (change)="changeImage($event)" id="file" class="inputfile" />
                    <label for="file">Choose a file</label>
                  </ion-item>
              </div>
          </div>
          <h3>Just change the required fields, it will be updated automatically.</h3>
          <form action="" id="edit-form">
              <div class="form-input-div">
                  <input type="text" class="form-input" (change)="changeField($event,'firstName')" id="first-name" placeholder="Full Name" >
              </div>
              <div class="form-input-div">
                  <input type="date" class="form-input" (change)="changeField($event,'dob')" id="date-of-birth" placeholder="Date of Birth" >
              </div>
              <div class="form-input-div">
                  <input type="tel" class="form-input" (change)="changeField($event,'mobile')" id="mobile" placeholder="Mobile">
              </div>
              <div class="form-input-div">
                  <ion-select class="form-input" id="gender" (change)="changeField($event,'gender')" placeholder="Gender">
                      <ion-select-option value="M">Male</ion-select-option>
                      <ion-select-option value="F">Female</ion-select-option>
                      <ion-select-option value="O">Prefer not to say</ion-select-option>
                  </ion-select>
              </div>
              <div class="form-input-div">

                  <input type="text" class="form-input" (change)="changeField($event,'country')" id="country" placeholder="Country">
              </div>
          </form>
      </section>
      <app-sidenav activeLinkID="profile" *ngIf="screenwidth<1024"></app-sidenav>
  </main>
</div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<1024"></app-iontab>
</ion-content>
<div id="overlay" *ngIf="dataProvider.showOverlay">
    <ion-spinner name="crescent" color="tertiary"></ion-spinner>
    <p class="text-align-center">{{uploadPercent}}</p>
</div>