* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.home{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1920px;
  zoom: 80%;
  }
#container {
    width: 95%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
}

app-sidenav {
    width: 20%;
}
img{transition:all .5s ease-in-out;}
img:hover{
    opacity: 0.8;
    filter: saturate(0%);
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}
.inputfile + label {
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    padding:5px;
    border-radius:5px;
    background-color: var(--ion-color-primary);
    display: inline-block;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label:hover {
    background-color: var(--ion-color-primary-tint);
}

#profile-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    width: 78%;
    padding: 4em;
}

#img-name-and-email {
    display: flex;
    align-items: center;
    font-family: 'Raleway';
}

.circular-profile-pic {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#name-and-email {
    margin-left: 1em;
}

#name {
    font-size: 2rem;
    color: #6D5CE5;
    margin: 0;
}

#email {
    color: #ADA2FF;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

#edit-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
}

.button1{
    background-color: #ADA2FF; /* Green */
    border-radius: 10px;
    border: 5px solid #9081FF;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 3%;
    margin-left: 40%;
    font-family: Poppins;
    font-size: 1.3rem;
    cursor: pointer;
  }

.form-input-div {
    margin: .75em;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 1.1rem;
    font-family: 'Poppins';
    color: #6D5CE5;
    font-weight: 700;
}

.form-input {
    border-bottom: 1px solid #ADA2FF;
    font-size: 1rem;
    padding: .25em .5em;
    font-family: 'Poppins';
    background-color: none;
    color: #6D5CE5;
}
select {outline: none; }
#overlay{
    // display: none;
    position: absolute;
    top:0%;
    left:0%;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    z-index: 1;
  }
  #overlay > *{
    position: relative;
    top:50%;
    left:50%;
    width: 100px;
    height:100px;
    transform: translate(-50%,-50%);
  }
a{
    color: white;
  }

  @media only screen and (max-width: 1024px){
    .home{
        margin: 0 auto;
        min-width:300px;
        max-width: 800px;
        zoom: 100%;
      }
    #profile-container {
        width: 98%;
        padding: 1em;
    }
    .form-input-div {
        margin: .75em;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .form-label {
        font-size: 1.1rem;
        font-family: 'Poppins';
        color: #6D5CE5;
        font-weight: 700;
    }
    
    .form-input {
        border-bottom: 1px solid #ADA2FF;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        font-size: 1rem;
        padding: .25em .5em;
        font-family: 'Poppins';
        background-color: #fff;
        color: #6D5CE5;
        outline: none;
    }
    .button1{
        padding: 5px 20px;
        font-size: 1rem;
        margin-left: 35%;
      }
      #name {
        font-size: 1.2rem;
        color: #6D5CE5;
        margin: 0;
    }
    
    #email {
        color: #ADA2FF;
        font-size: 0.7em;
        font-weight: 600;
        margin: 0;
    }
      #container {
        width: 90%;
        margin: 3em auto;
        display: block;
        justify-content: space-between;

    }

    #profile-container {
        width: 98%;
        padding: 1em;
        margin: 20px 0px;
    }
  }