<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Customize</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-text color="primary">
        <h1>Home Page Banners</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
      </ion-text>
      <ion-button slot="end" color="primary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <h1>Awesome text</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
      </ion-text>
      <ion-button slot="end" color="primary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <h1>Awesome text</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
      </ion-text>
      <ion-button slot="end" color="primary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <h1>Awesome text</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
      </ion-text>
      <ion-button slot="end" color="primary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <h1>Awesome text</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
      </ion-text>
      <ion-button slot="end" color="primary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>