<h3>Add your own review</h3>
<form [formGroup]="form" (ngSubmit)="addComment()">
    <ion-item>
        <ion-label position="floating">Review Title</ion-label>
        <ion-input type="text" formControlName="commentTitle" placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Review Description</ion-label>
        <ion-textarea formControlName="commentBody" maxlength="500"></ion-textarea>
    </ion-item>
    <star-rating (rate)="changeRatingStar($event)" class="uk-align-center uk-text-center uk-margin-small-top"
        [value]="0" [totalstars]="5" checkedcolor="#9081FF" size="25px" uncheckedcolor="#d0caff">
    </star-rating>
    <ion-button type="submit" shape="round" [disabled]="!form.valid">
        Submit
    </ion-button>
</form>