<ion-content>
    <app-header></app-header>
  <div class="inner-box">
    <ion-button (click)="generateInvoice()">
      Generate Invoice
    </ion-button>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper >
    <mat-step label="Order Placed" state="complete" [stepControl]="" #step1>
      <p>Your order has been Placed</p>
    </mat-step>
    <mat-step label="Order Confirmed" state="cancel"  #step2 >
      <p>Your order has been confirmed</p>
    </mat-step>
    <mat-step label="Order Status" state="inprocess" #step3>
      <p>Your order Status</p>
    </mat-step>
    <mat-step label="Order Delivered" state="inprocess" #step4>
      <p>Your order has been delivered</p>
    </mat-step>
    <ng-template matStepperIcon="complete">
      <mat-icon>check_circle</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="cancel">
      <mat-icon>cancel</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="inprocess">
      <mat-icon>published_with_changes</mat-icon>
    </ng-template>
  </mat-stepper>
  </div>
    <app-accordion></app-accordion>
    <app-footer ></app-footer>
</ion-content>
