<ion-content>
    <app-header></app-header>
    <main id="container">
      <app-sidenav activeLinkID="account" *ngIf="screenwidth>600"></app-sidenav>
      <section id="account-container">
        <div id="img-name-and-email">
          <img
            src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Profile Pic" class="circular-profile-pic" style="width:100px;height:100px">
          <div id="name-and-email">
            <h2 id="name">Satyajeet Ray</h2>
            <p id="email">username@host.com</p>
            <a href="profilepage">Edit Profile</a>
          </div>
        </div>
        <div id="statistic-cards">
          <div class="statistic-card" id="total-orders-card">
            <p class="card-title">Total Orders</p>
            <p class="card-number">12</p>
          </div>
          <div class="statistic-card" id="referrals-card">
            <p class="card-title"> Total Referrals</p>
            <p class="card-number">42</p>
          </div>
          <div class="statistic-card" id="total-cashback-card">
            <p class="card-title">Total Cashback</p>
            <p class="card-number">12</p>
          </div>
          <div class="statistic-card" id="total-orders-2-card">
            <p class="card-title">Total Orders</p>
            <p class="card-number">12</p>
          </div>
        </div>
        <div id="latest-orders">
          <div class="product-row">
            <app-small-product-card *ngFor="let product of products" [img]="product.img" [productTitle]="product.name" [price]="product.price" [date]="product.date"></app-small-product-card>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
</ion-content>
