<ion-content>
    <app-header></app-header>
    <main id="container">
      <app-sidenav activeLinkID="account" *ngIf="screenwidth>600"></app-sidenav>
      <section id="account-container">
        <div id="img-name-and-email">
          <img
            [src]="userImage"
            alt="Profile Pic" class="circular-profile-pic" style="width:100px;height:100px">
          <div id="name-and-email">
            <h2 id="name">{{userName}}</h2>
            <p id="email">{{userEmail}}</p>
            <a href="profilepage">Edit Profile</a>
          </div>
        </div>
        <div id="statistic-cards">
          <div class="statistic-card" id="total-orders-card">
            <p class="card-title">Total Orders</p>
            <p class="card-number">{{totalOrders}}</p>
          </div>
          <div class="statistic-card" id="referrals-card">
            <p class="card-title"> Total Referrals</p>
            <p class="card-number">{{totalRefers}}</p>
          </div>
          <div class="statistic-card" id="total-cashback-card">
            <p class="card-title">Total Cashback</p>
            <p class="card-number">{{totalCashback}}</p>
          </div>
          <div class="statistic-card" id="total-orders-2-card">
            <p class="card-title">Total Sales</p>
            <p class="card-number">{{totalSales}}</p>
          </div>
        </div>
        <div id="latest-orders" *ngIf="liveOrders.length>0">
          <div class="product-row">
            <app-small-product-card *ngFor="let product of liveOrders" [img]="product.productImage" [productTitle]="product.productName" [price]="product.productPrice" [date]="product.purchaseDate"></app-small-product-card>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
</ion-content>
