<ion-content [ngStyle]="{'filter': (dataProvider.showOverlay) ? 'blur(10px)' : 'blur(0px)' }">
  <div class="home">
  <img src="../../assets/login-03.jpg" class="bg">
  <div class="login-root ">
      <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="formbg-outer uk-position-center-right">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <a href="http://hellosanta.in/" rel="dofollow"><img src="assets/logo.png"></a>
              <span class="padding-bottom--15">Log-in to your account</span>
              <form>
                <div class="padding-bottom--24">
                  <label for="email">Email</label>
                  <input class="input" type="email" name="email" required #email>
                </div>
                <div class="padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="password">Password</label>
                    <div class="reset-pass">
                      <a href="#">Forgot your password?</a>
                    </div>
                  </div>
                  <ion-item class="input" lines="none">
                    <input [type]="passwordType ? 'password' : 'text'" autocomplete="password" placeholder="Password" inputmode="text" required #password>
                    <button (click)="passwordType=!passwordType"><ion-icon slot="end" [name]="passwordType ? 'eye-off' : 'eye'"></ion-icon></button>
                  </ion-item>
                </div>
                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                  <label for="checkbox">
                    <input type="checkbox" name="checkbox"> Stay signed in for a week
                  </label>
                </div>
                <button class="button" (click)="authService.SignIn(email.value.toString(),password.value.toString())">Login</button>
              </form>
              <div class="field">
                <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                  <button class="ssolink" (click)="authService.GoogleAuth()"><ion-icon name="logo-google" ></ion-icon></button>
                  <button class="ssolink" ><ion-icon name="logo-facebook" ></ion-icon></button>
                  <button class="ssolink" ><ion-icon name="logo-apple" ></ion-icon></button>
                </div>
              </div>
                <span class="signup">Don't have an account? <a href="/signup">Sign-Up</a></span>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <div class="listing  flex-flex center-center">
              <span><a href="#">Hello Santa</a></span>
              <span><a href="#">Contact</a></span>
              <span><a href="#">Privacy & terms</a></span>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</ion-content>
<div id="overlay" *ngIf="dataProvider.showOverlay">
  <ion-spinner name="crescent" color="tertiary"></ion-spinner>
</div>