<ion-content>
  <img src="../../assets/yellow.png" class="bg">
  <div class="formbg">
    <img src="assets/logo.png">
    <h1>Sign In</h1>
    <form method="POST">
      <input type="email" name="email"><br>
      <input type="password" name="password">
      <button>Sign In</button>
      <a href="#">Forgot your password?</a>
    </form>
    <button (click)="authService.GoogleAuth()">
      <ion-icon name="logo-google"></ion-icon>
    </button>
    <button>
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <button>
      <ion-icon name="logo-apple"></ion-icon>
    </button>
  </div>
  <div class="footer-link padding-top--24">
    <span>Don't have an account? <a href="/signinpage">Sign-in</a></span>
    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
      <span><a href="#">© Hello Santa</a></span>
      <span><a href="#">Contact</a></span>
      <span><a href="#">Privacy & terms</a></span>
    </div>
  </div>
</ion-content>