<ion-content>
    <img src="../../assets/yellow.png" class="bg">
    <div class="login-root">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
          <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          </div>
          <div class="formbg-outer">
            <div class="formbg">
              <div class="formbg-inner padding-horizontal--48">
                <a href="http://hellosanta.in/" rel="dofollow"><img src="assets/logo.png"></a>
                <span class="padding-bottom--15">Log-in to your account</span>
                <form id="stripe-login" method="POST">
                  <div class="field padding-bottom--24">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                  </div>
                  <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="password">Password</label>
                      <div class="reset-pass">
                        <a href="#">Forgot your password?</a>
                      </div>
                    </div>
                    <input type="password" name="password">
                  </div>
                  <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                    <label for="checkbox">
                      <input type="checkbox" name="checkbox"> Stay signed in for a week
                    </label>
                  </div>
                  <button class="button">Login</button>
                </form>
                <div class="field">
                  <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                    <button class="ssolink" (click)="authService.GoogleAuth()"><ion-icon name="logo-google" ></ion-icon></button>
                    <button class="ssolink" ><ion-icon name="logo-facebook" ></ion-icon></button>
                    <button class="ssolink" ><ion-icon name="logo-apple" ></ion-icon></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-link padding-top--24">
              <span>Don't have an account? <a href="/signinpage">Sign-in</a></span>
              <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                <span><a href="#">© Hello Santa</a></span>
                <span><a href="#">Contact</a></span>
                <span><a href="#">Privacy & terms</a></span>
              </div>
            </div>
          </div>
        </div>
    </div>
</ion-content>