<ion-content>
  <app-header ></app-header>
  <div class="home">
<div class="uk-cover-container uk-height-large">
  <img [src]="blogimg" alt="" uk-cover>
</div>
<div class="uk-panel">
  <button class="button1"><a href="/bloghome">&lt;&lt; Back</a></button>
  <button class="button2"><a href="/bloghome">Next &gt;&gt;</a></button>
</div>
<div class="uk-panel" >
    <div class="inner-box">
      <h1 class="heading">{{blogtitle}}</h1>
      <div class="mainContent" [innerHTML]="blogcontent"></div>
    </div>
  </div>
  <div class="uk-panel">
    <button class="button3"><a href="/bloghome">&lt;&lt; Back</a></button>
    <button class="button4"><a href="/bloghome">Next &gt;&gt;</a></button>
  </div>
  </div>
  <app-footer></app-footer>
  <app-iontab  *ngIf="screenwidth<600"></app-iontab>
</ion-content>