/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%; /* set height to 100% of viewport*/
    -webkit-tap-highlight-color: transparent;
    --ion-font-family: 'Poppins', sans-serif;
}
.star::before{
    content: url('/assets/star.svg') !important;
}
.simpleCenter{
    margin:0 auto;
}
.center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
button{
    background:transparent;
    margin: 0%;
    padding:0%;
}

input{
    border:none;
}
input:focus{
    border: none;
}
.uk-offcanvas-overlay::before{
    background-color: rgba(0, 0, 0, 0.52) !important;
}
.searchResult .popover-content{
    width:770px;
}
.ap-ship-popover .popover-content{
    width:300px;
}
.order-info .popover-content{
    width:fit-content;
}
.cartlist .popover-content{
    width:fit-content;
}
.commentBox .popover-content{
    width:400px;
    padding: 20px;
}
.addSocialMediaLinks .popover-content{
    width:400px;
}
.addProductModal .modal-wrapper{
    --width:60vw;
}
.addEditProductModal .modal-wrapper{
    --width:60vw;
}

#product-image-preview > .ngxImageZoomContainer {
    width: 500px !important;
    height: 500px !important;
}
.ngxImageZoomLensEnabled{
    border: 2px dashed #9e91ff !important;
}
.monthview-datetable{
    width:90vw;
    border: 2px solid var(--ion-color-primary);
}
app-header{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position:absolute;
    position: sticky;
    top:0px;
    z-index: 999;
}
@media screen and (max-width: 500px){
    .addProductModal .modal-wrapper{
        --width:100vw;
    }
    #product-image-preview  {
        display:none;
    }
    .searchResult .popover-content{
        position: absolute;
        left: 0px;
        width:100vw;
    }
}
