<ion-content>
  <app-header></app-header>
  <div class="home">
    <div class="container">
      <div class="box1">
        <img class="image1" src="assets/ABOUTUS.png" alt="">
        <div class="box1 uk-flex-middle" uk-grid>
          <div class="uk-width-2-3@m content2">
           <span class="title2"><b>Who We Are</b></span>
           <br>
           <br>
           We, at Hello Santa, are a group of young professionals with a common vision of spreading joy and happiness all around. With the goal of bringing a smile to everyone’s face, we are here to deliver a bundle of surprises and excitement wrapped in shimmery hopes.
          </div>

      </div>
        <div class="box1 uk-flex-middle" uk-grid>
          <div class="uk-width-2-3@m content1">
           <span class="title1"><b> Story Behind Our Name</b></span>
           <br>
           <br>
            Our name is related to what we do. We want to build a brand which is easy to remember and directly highlight our work.
          </div>
          <div class="uk-width-1-3@m uk-flex-last">
              <img class="image2" src="assets/icon.png" alt="Image">
          </div>
      </div>

      </div>

      <div class="box2">
        <div class="container1">
          <div class="card1">
              <div class="content">
                  <h3>Card one</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                      incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                      .</p>
                      <a href="#">Read More</a>
              </div>
          </div>
          <div class="card2">
              <div class="content">
                  <h3>Card Three</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                      incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                      .</p>
                      <a href="#">Read More</a>
              </div>
          </div>
          <div class="card3">
              <div class="content">
                  <h3>Card Two</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                      incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                      .</p>
                      <a href="#">Read More</a>
              </div>
          </div>
      </div>

      <div class="boxtwo">
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-card-default uk-card-body">Item 1</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
      </div>
      <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body">Item 1</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
    </div>
    <div class="uk-flex uk-flex-center">
      <div class="uk-card uk-card-default uk-card-body">Item 1</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
  </div>
      </div>
      <div class="boxthree">
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-card-default uk-card-body">Item 1</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
          <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
      </div>
      <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body">Item 1</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
    </div>
    <div class="uk-flex uk-flex-center">
      <div class="uk-card uk-card-default uk-card-body">Item 1</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 2</div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-left">Item 3</div>
  </div>
      </div>
      </div>

      <div class="box3">

      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <app-iontab *ngIf="screenwidth < 600"></app-iontab>
</ion-content>
