* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.home{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1920px;
    zoom: 80%;
}
.container{
    width: 95%;
    margin: 3em auto;
}
.box1{
    box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
    border-radius: 20px;
    width: 90%;
    padding: 4em;
    margin: 5% auto;
}
.image1{
    width:80%;
    margin: 2.5% 10%;
}
.title1{font-size: 2.5rem;}
.content1{
    font-family: raleway;
    color: black;
    text-align: left;
    line-height: 1.5em;
    width: 60%;
    font-size: 2em;
}
.title2{font-size: 2.5rem;}
.content2{
    font-family: raleway;
    color: black;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    font-size: 1.75em;
}

.box2{
    box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
    border-radius: 20px;
    width: 90%;
    padding: 4em;
    margin: 5% auto;
}
.title3{font-size: 3rem;}
.center{text-align: center;}
.content3{
    font-family: raleway;
    color: black;
    text-align: left;
    line-height: 1.5em;
    padding: 0.5rem 10em;
    width: 100%;
    font-size: 1.5em;
}

.box3{
    box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
    border-radius: 20px;
    width: 90%;
    padding: 4em;
    margin: 5% auto;
}

.image4{
    width:80%;
    margin: 2.5% 10%;
}
.title4{font-size: 1.75rem;}
.content4{
    font-family: raleway;
    color: black;
    text-align: left;
    line-height: 1.5em;
    width: 60%;
    font-size: 1.25em;
}
.image5{
    width:80%;
    margin: 2.5% 10%;
}
.title5{font-size: 1.75rem;}
.content5{
    font-family: raleway;
    color: black;
    text-align: right;
    line-height: 1.5em;
    width: 60%;
    font-size: 1.25em;
}
.home{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1920px;
    zoom: 80%;
  }

  @media only screen and (max-width: 1024px) {
    
    .home{
        margin: 0 auto;
        min-width: 300px;
        max-width: 800px;
        zoom: 100%;
      }
      .container{
        width: 95%;
        margin: 1.5em auto;
    }
    .box1{
        box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
        border-radius: 20px;
        width: 90%;
        padding: 0.5em;
        margin: 5% auto;
    }
    .image1{
        width:80%;
        margin: 2.5% 10%;
    }
    .title1{font-size: 1rem;}
    .content1{
        font-family: raleway;
        color: black;
        text-align: center;
        line-height: 1em;
        padding: 0.5em;
        width: 100%;
        font-size: 1em;
    }
    .image2{
        width:80%;
        margin: 2.5% 10%;
    }
    .title2{font-size: 1rem;}
    .content2{
        font-family: raleway;
        color: black;
        text-align: center;
        line-height: 1.75em;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.75em;
    }
    
    .box2{
        box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
        border-radius: 20px;
        width: 90%;
        padding: 1em;
        margin: 5% auto;
    }
    .title3{font-size: 1rem;}
    .center{text-align: center;}
    .content3{
        font-family: raleway;
        color: black;
        text-align: left;
        line-height: 1.5em;
        padding: 0.5rem 0em;
        width: 100%;
        font-size: 0.75em;
    }
    
    .box3{
        box-shadow: 5px 10px 20px rgba(143, 95, 255, 0.4);
        border-radius: 20px;
        width: 90%;
        padding: 0.5em;
        margin: 5% auto;
    }
    
    .image4{
        width:80%;
        margin: 2.5% 10%;
    }
    .title4{font-size: 1rem;}
    .content4{
        font-family: raleway;
        color: black;
        text-align: left;
        line-height: 1.5em;
        width: 100%;
        padding: 0.5em;
        font-size: 0.75em;
    }
    .image5{
        width:80%;
        margin: 2.5% 10%;
    }
    .title5{font-size: 1rem;}
    .content5{
        font-family: raleway;
        color: black;
        text-align: right;
        line-height: 1.5em;
        width: 100%;
        padding: 0.5em;
        font-size: 0.75em;
    }
    }