<ion-content>
  <app-header></app-header>
  <div class="home">
    <div class="container">
      <div class="box1">
        <img loading="lazy" class="image1" src="assets/ABOUTUS.png" alt="" />
        <div class="box1 uk-flex-middle" uk-grid>
          <div class="uk-width-2-3@m content2">
            <span class="title2"><b>Who We Are</b></span>
            <br />
            <br />
            We, at Hello Santa, are a group of young professionals with a common
            vision of spreading joy and happiness all around. With the goal of
            bringing a smile to everyone’s face, we are here to deliver a bundle
            of surprises and excitement wrapped in shimmery hopes.
          </div>
        </div>
        <div class="box1 uk-flex-middle" uk-grid>
          <div class="uk-width-2-3@m content1">
            <span class="title1"><b> Story Behind Our Name</b></span>
            <br />
            <br />
            Our name is related to what we do. We want to build a brand which is
            easy to remember and directly highlight our work.
          </div>
          <div class="uk-width-1-3@m uk-flex-last">
            <img
              loading="lazy"
              class="image2"
              src="assets/icon.png"
              alt="Image"
            />
          </div>
        </div>
      </div>
      <div class="box2">
      <div class="box2 uk-flex-middle" uk-grid>
        <div class="uk-width-2-3@m content3">
          <div class="center">
            <span class="title3"><b>OUR VISION</b></span>
          </div>
          <br />
          <br />
          We have a common vision of building an easy place to look when someone
          thinks of gifting something to his/her loved ones. <br />
          In today’s world, when friendship is taken by social media goals and
          relationships take the form of long distance. When we are becoming
          social on social media but not to our surroundings, Giving something
          to the person who is important to us keeps the feeling alive. <br />
          <br /><br />
          But the problem is what to gift?<br />
          Our vision is to take down this problem and provide the best suited
          gifting solution. <br />
          <br /><br />
          In addition to this, we wanted to make the gift unique that can only
          resemble someone special. To fulfill this, we started building a
          community which will solve this problem. From here we started building
          an artist community. <br />
          Art is not something which can be drawn on paper only. Every eye
          pleasing thing can be considered as art and with this idea we are
          bound to deliver unique and hassle free gifting experience. <br />
          <br />
        </div>
      </div>
    </div>
      <div class="box3">
        <div class="box1 uk-flex-middle" uk-grid>
          <div class="uk-width-2-3@m content4">
            <span class="title4"
              ><b>Are you Dedicated, Hardworking, and Fun? Join Us!</b></span
            >
            <br />
            <br />
            We are a group of creative people, if you think you have the same
            enthusiasm towards arts or crafts or any other way you could
            possibly be helpful for the brand of Hello Santa, Don't think much
            and click the button below and contact us. We will reach you within
            24 working hours. # Build a contact us form associated with
            <a>connect@hellosanta.in.</a> 
            <br />
          </div>
          <div class="uk-width-1-3@m uk-flex-last">
            <img
              loading="lazy"
              class="image4"
              src="assets/icon.png"
              alt="Image"
            />
          </div>
        </div>
        <div class="box1 uk-flex-middle" uk-grid>
          <div class="uk-width-1-3@m uk-flex">
            <img
              loading="lazy"
              class="image5"
              src="assets/icon.png"
              alt="Image"
            />
          </div>
          <div class="uk-width-2-3@m content5">
            <span class="title5"
              ><b>Are You a Shopkeeper and want to Partner with Us?</b></span
            >
            <br />
            <br />
            If you are a shopkeeper and want to partner with Hello Santa Brand,
            You are welcome to do so. Do contact us using the button below and
            we will surely reach you within 24 working hours. # Build a contact
            us form associated with <a>connect@hellosanta.in.</a> 
            <br />
          </div>
        </div>
      </div>
    </div>
    <app-accordion></app-accordion>
  </div>
  <app-footer></app-footer>
  <app-iontab *ngIf="screenwidth < 600"></app-iontab>
</ion-content>
