<ion-content>
    <app-header></app-header>
    <main id="container">
      <app-sidenav activeLinkID="account"></app-sidenav>
      <section id="account-container">
        <div id="img-name-and-email">
          <img
            src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Profile Pic" class="circular-profile-pic" style="width:100px;height:100px">
          <div id="name-and-email">
            <h2 id="name">Satyajeet Ray</h2>
            <p id="email">username@host.com</p>
            <a href="profilepage">Edit Profile</a>
          </div>
        </div>
        <div id="statistic-cards">
          <div class="statistic-card" id="total-orders-card">
            <p class="card-title">Total Orders</p>
            <p class="card-number">12</p>
          </div>
          <div class="statistic-card" id="referrals-card">
            <p class="card-title">Referrals</p>
            <p class="card-number">42</p>
          </div>
          <div class="statistic-card" id="total-cashback-card">
            <p class="card-title">Total Cashback</p>
            <p class="card-number">12</p>
          </div>
          <div class="statistic-card" id="total-orders-2-card">
            <p class="card-title">Total Orders</p>
            <p class="card-number">12</p>
          </div>
        </div>
        <div id="latest-orders">
          <div class="latest-order-card">
            <img
              src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="[[ Same as the product name ]]" class="latest-order-img">
            <div class="latest-order-details">
              <h4 class="latest-order-title">Digital Caricature</h4>
              <div class="latest-order-price-and-date">
                <p class="latest-order-price">₹2300</p>
                <p class="latest-order-date">09-2020</p>
              </div>
            </div>
          </div>
          <div class="latest-order-card">
            <img
              src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="[[ Same as the product name ]]" class="latest-order-img">
            <div class="latest-order-details">
              <h4 class="latest-order-title">Digital Caricature</h4>
              <div class="latest-order-price-and-date">
                <p class="latest-order-price">₹2300</p>
                <p class="latest-order-date">09-2020</p>
              </div>
            </div>
          </div>
          <div class="latest-order-card">
            <img
              src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="[[ Same as the product name ]]" class="latest-order-img">
            <div class="latest-order-details">
              <h4 class="latest-order-title">Digital Caricature</h4>
              <div class="latest-order-price-and-date">
                <p class="latest-order-price">₹2300</p>
                <p class="latest-order-date">09-2020</p>
              </div>
            </div>
          </div>
          <div class="latest-order-card">
            <img
              src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="[[ Same as the product name ]]" class="latest-order-img">
            <div class="latest-order-details">
              <h4 class="latest-order-title">Digital Caricature</h4>
              <div class="latest-order-price-and-date">
                <p class="latest-order-price">₹2300</p>
                <p class="latest-order-date">09-2020</p>
              </div>
            </div>
          </div>
          <div class="latest-order-card">
            <img
              src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="[[ Same as the product name ]]" class="latest-order-img">
            <div class="latest-order-details">
              <h4 class="latest-order-title">Digital Caricature</h4>
              <div class="latest-order-price-and-date">
                <p class="latest-order-price">₹2300</p>
                <p class="latest-order-date">09-2020</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
</ion-content>
