<ion-content>
        <app-header ></app-header>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true;autoplay-interval: 1000;pause-on-hover: true;ratio: 12:3; animation: push">
        
          <ul class="uk-slideshow-items">
            <li>
              <img src="assets/image1.png" alt="" uk-cover>
            </li>
            <li>
              <img src="assets/image2.png" alt="" uk-cover>
            </li>
            <li>
              <img src="assets/image3.png" alt="" uk-cover>
            </li>
          </ul>
        
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
        <h1 style="font-family: Poppins;text-align: center;padding: 80px;font-weight: bold;font-size: 50px">We offer Free Delivery here at Hello Santa</h1>
        <div class="uk-panel">
          <img src="assets/Union.png" alt="">
          <div class="uk-position-center uk-panel">
            <div class="uk-flex">
              <div class="uk-card uk-card-default uk-card-body" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
            </div>
          </div>
        </div>
        <div class="uk-panel" style="padding-top: 50px">
          <img src="assets/Component.png" alt="">
          <div class="uk-position-center uk-panel"></div>
        </div>
        <div class="uk-panel" style="padding-top: 50px">
          <img src="assets/Union1.png" alt="">
          <div class="uk-position-center uk-panel">
            <div class="uk-flex">
              <div class="uk-card uk-card-default uk-card-body" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
              <div class="uk-card uk-card-default uk-card-body uk-margin-left" style="border-radius: 50%;height: 150px;width: 150px;font-size: 20px;font-family: Raleway;">Random</div>
            </div>
          </div>
        </div>
        <div class="uk-panel" >
          <div class="box">
            <div class="inner-box" align="center">
              <div class="uk-position-center uk-panel">
                <h1 style="font-family: Poppins;text-align: center;font-weight: bolder;font-size: 50px;color: #6D5DE3;padding-top: 5%;padding-bottom: 2%">Looking for something Unique ?</h1>
                <hr style="background-color: #6D5DE3;width: 50vw;height: 5px;margin: auto;">
                <h1 style="font-family: Poppins;text-align: center;font-weight: bolder;font-size: 35px;color: #6D5DE3;padding-top: 3%;">Have some Unique products or custom designs on your mind</h1>
                <h1 style="font-family: Poppins;text-align: center;font-weight: bold;font-size: 25px;color: #ADA2FF;padding-bottom: 3%">Or confused about the right choice of gift.</h1>
                <hr style="background-color: #6D5DE3;width: 70vw;height: 2px;margin: auto;">
                <div align="center"><button>Tell us about it</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-panel" >
          <div class="box2">
            <div class="inner-box2" align="center">
              <div class="uk-position-center uk-panel">
                <div class="container">
                  <div class="headings">
                    <h4>related products</h4>
                    <h1>People usually go crazy for these four</h1>
                  </div>
                  <div class="cards">
                    <div class="card">
                      <div class="card__ima">
                        <img src="https://assets.codepen.io/2709552/1.jpg" alt="drink1" />
                        <span class="card__tag">$25</span>
                      </div>
                      <header class="card__header">
                        <h3>Moscow Mule</h3>
                        <p>Straight from Russia, golden cups with its drink</p>
                      </header>
                      <a href="#" class="card__btn">Buy Now</a>
                    </div>
                    <div class="card">
                      <div class="card__ima">
                        <img src="https://assets.codepen.io/2709552/2.jpg" alt="drink2" />
                        <span class="card__tag">$12</span>
                      </div>
                      <header class="card__header">
                        <h3>Red Drink</h3>
                        <p>Strawberry juice with sliced oranges</p>
                      </header>
                      <a href="#" class="card__btn">Buy Now</a>
                    </div>
                    <div class="card">
                      <div class="card__ima">
                        <img src="https://assets.codepen.io/2709552/3.jpg" alt="drink3" />
                        <span class="card__tag">$35</span>
                      </div>
                      <header class="card__header">
                        <h3>Lemon Tea</h3>
                        <p>Lemons straight from Singapore Top tea</p>
                      </header>
                      <a href="#" class="card__btn">Buy Now</a>
                    </div>
                    <div class="card">
                      <div class="card__ima">
                        <img src="https://assets.codepen.io/2709552/4.jpg" alt="drink4" />
                        <span class="card__tag">$32</span>
                      </div>
                      <header class="card__header">
                        <h3>Morning Covfefe</h3>
                        <p>You know.The day starter for everyone</p>
                      </header>
                      <a href="#" class="card__btn">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-panel" style="padding-top: 50px">
          <img src="assets/Promo.png" alt="">
          <div class="uk-position-center uk-panel"></div>
        </div>
        <div class="uk-panel" >
          <div class="box3">
            <div class="inner-box3" align="center">
                <div class="uk-position-center-left uk-panel" style="width: 32vw;height: auto;">
                  <a href="#"><img src="assets/Group20.png" alt=""></a>
                </div>
                <div class="uk-position-center uk-panel" style="width: 32vw;height: auto;">
                  <a href="#"><img src="assets/Group19.png" alt=""></a>
                </div>
                <div class="uk-position-center-right uk-panel" style="width: 32vw;height: auto;">
                  <a href="#"><img src="assets/Group18.png" alt=""></a>
                </div>
            </div>
          </div>
        
        </div>
        <app-accordion></app-accordion>
        <app-footer ></app-footer>
</ion-content>