
.inner-box{
  height: 70vh;
  width: 80vw;
  font-family: Poppins;
  text-align: center;
  padding: 50px;
  margin: 5% 10%;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 50px;
  border: 5px solid #9081FF;
  align-items: center;
}


.inner-box2{
  height: auto;
  width: 85vw;
  margin: 18% 8% 15% 8%;
}

button{
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin: 3%;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

#orders-container1 {
  border-radius: 50px;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.handmade{
  font-family: Poppins;
  text-align: center;
  padding: 80px;
  font-weight: bold;
  font-size: 50px;
  color: white
}

.product-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#blog {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}

.blogs{
  font-family: Poppins;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 3rem;
  color: #FF6584;
}

#blog-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#orders-container2 {
  border-radius: 50px;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.boxtext1{
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  color: #6D5DE3;
  padding-top: 5%;
  padding-bottom: 2%;
}
.boxline1{
  background-color: #6D5DE3;
  width: 50vw;
  height: 5px;
  margin: auto;
}
.boxtext2{
font-family: Poppins;
text-align: center;
font-weight: bolder;
font-size: 1.8rem;
color: #ADA2FF;
padding-top: 3%;
}
.boxtext3{
font-family: Poppins;
text-align: center;
font-weight: bold;
font-size: 1.8rem;
color: #ADA2FF;
padding-bottom: 3%;
}
.boxline2{
 background-color: #6D5DE3;
 width: 70vw;
 height: 2px;
 margin: auto;
}

.boxbutton{
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin: 3%;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}


.digital{
  font-family: Poppins;
  text-align: center;
  padding: 80px;
  font-weight: bold;
  font-size: 3.5rem;
  color: #7E6DFF
}

.product-row1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.recommend{
 font-family: Poppins;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 20px;
 font-weight: bold;
 font-size: 3rem;
}

#container3 {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}


#orders-container3 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.product-row2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
a{
  color: white;
}

.headingtitle{
  font-family: Poppins;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  font-size: 3.5rem;
}
.headingtitle1{
  font-family: Poppins;
  text-align: center;
  padding: 20px;
  color: #FFAB00;
  font-weight: normal;
  font-size: 2.5rem;
}

.text_1 {
  animation: text1;
  font-family: Poppins;
  text-align: center;
  color: #FF6584;
  font-weight: bold;
  font-size: 2.5rem;
}
.text_2 {
  animation: text2;
  font-family: Poppins;
  text-align: center;
  color: #7E6DFF;
  font-weight: bold;
  font-size: 2.5rem;
}
.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.text_1::after, .text_2::after {
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }

  60%, 90% {
    width: 7em;
  }
}
@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 11.5em;
  }
}

@media only screen and (max-width: 600px) {
  .digital{
    font-size: 1.5rem;
  }  
  .handmade{
    font-size: 1.5rem;
  }
  .recommend{
    font-size: 1.5rem;
  }
  #container3 {
    margin-top: 50px;
    width: 92%;
  }
  .boxtext1{
    font-size: 1.8rem;
    font-weight: normal;
  }
  .boxline1{
    width: 80vw;
    height: 5px;
  }
  .boxtext2{
  font-size: 1rem;
  font-weight: normal;
  }
  .boxtext3{
  font-size: 1rem;
  font-weight: normal;
  }
  .boxline2{
   width: 80vw;
   height: 2px;
  }
  
  .boxbutton{
    margin: 3%;
    padding: 5px 20px;
    font-size: 1rem;
  }
  .inner-box{
   height: 50vh;
   width: 90vw;
   padding: 30px;
   margin: 5% 5%;
  }
  #blog {
    margin-top: 50px;
    width: 92%;
  }
  .blogs{
    font-size: 1.5rem;
  }
}