<ion-content>
  <app-header></app-header>
  <div class="home">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
      uk-slideshow="autoplay: true;autoplay-interval: 5000;pause-on-hover: true;ratio: 12:3; animation: fade"
      *ngIf="screenwidth>1020">
      <ul class="uk-slideshow-items">
        <li>
          <img loading="lazy" src="assets/image1.png" alt="" uk-cover>
        </li>
        <li>
          <img loading="lazy" src="assets/image2.png" alt="" uk-cover>
        </li>
        <li>
          <img loading="lazy" src="assets/image3.png" alt="" uk-cover>
        </li>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
      uk-slideshow="autoplay: true;autoplay-interval: 5000;pause-on-hover: true;min-height: 200; max-height: 250; animation: fade"
      *ngIf="screenwidth<1024">

      <ul class="uk-slideshow-items">
        <li>
          <img loading="lazy" src="assets/banner-39.jpg" alt="" uk-cover>
        </li>
        <li>
          <img loading="lazy" src="assets/banner-40.jpg" alt="" uk-cover>
        </li>
        <li>
          <img loading="lazy" src="assets/banner-31.jpg" alt="" uk-cover>
        </li>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>
    </div>
    <div class="wrapper" *ngIf="screenwidth>1020">
      <div class="static-txt">Hello Santa offers</div>
      <ul class="dynamic-txts">
        <li><span>Free Shipping</span></li>
        <li><span>Easy Support</span></li>
        <li><span>Personal Gift Master</span></li>
        <li><span>Personalised Gifts</span></li>
      </ul>
    </div>
    <div class="static text" *ngIf="screenwidth<1024">
      <p style="font-family: 'Crimson Text', serif; text-align: center;font-size: 20px; margin-top:30px;">Every gift
        from a friend <br>is a message for your happiness.</p>
    </div>
    <div class="uk-panel"  *ngIf="screenwidth>1020">
      <img loading="lazy" style="width: 100%" src="assets/Union.png" alt="">
      <div class="uk-position-center uk-panel">
        <section id="orders-container1">
          <h1 class="handmade"><a routerLink="/shop">Our <span style="color: #F3F692">Beloved</span> Range of <span
                style="color: #F3F692">Handmade</span> Products</a></h1>
          <div class="product-row">
            <app-category-card *ngFor="let othercategory of allHandmadeProds" [img]="othercategory.productImages"
              [categoryTitle]="othercategory.productName" [price]="othercategory.productPrice"
              [category]="othercategory.productCategory" [subcategory]="othercategory.productSubcategory"
              [productId]="othercategory.productId">
            </app-category-card>
          </div>
        </section>
      </div>
    </div>
    <div class="uk-panel inner-box88" *ngIf="screenwidth<1024">
      <h1 class="handmade2">Gifts that Everyone Likes</h1>
      <div class="uk-position-center uk-panel" id="category">
        <section id="orders-container-small">
          <div class="product-row-small" >
            <app-category-card *ngFor="let othercategory of allHandmadeProds" [img]="othercategory.productImages"
              [categoryTitle]="othercategory.productName" [price]="othercategory.productPrice" [category]="othercategory.productCategory" [subcategory]="othercategory.productSubcategory" [productId]="othercategory.productId">
            </app-category-card>
          </div>
        </section>
      </div>
    </div>
    <div class="uk-animation-toggle" tabindex="0">
      <div class="uk-panel uk-align-center" style="padding-top: 50px">
        <!-- <img loading="lazy" src="./assets/masterGift.svg" class="animatedSVGSection"> -->
        <lottie-player class="animatedSVGSection" src="assets/Animations/Blogging.json" background="transparent" speed="1" loop  autoplay ></lottie-player>
        <div class="sectionOneSeperator letfAligned" *ngIf="screenwidth>1024">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                There are Hundreds of Gifts to choose from, But I'll Always Know What suits you the Best.
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              By- Hello Santa
              <img loading="lazy" src="./assets/icon/icon.png" width="40" alt="">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="sectionOneSeperator rightAligned" *ngIf="screenwidth>1024">
          <ion-card>
            <ion-card-header>
              <ion-card-title>When there is Love, distance is not the constraint.
                Near or Far, Hello Santa is here to spread love.
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              By- Hello Santa
              <img loading="lazy" src="./assets/icon/icon.png" width="40" alt="">
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
    <div class="uk-panel" style="padding-top: 50px" *ngIf="screenwidth>1020">
      <img loading="lazy" style="width: 100%" src="assets/Union1.png" alt="">
      <div class="uk-position-center uk-panel">
        <section id="orders-container2">
          <h1 class="digital"><a routerLink="/shop">Our <span style="color: #FF6584">Beloved</span> Range of <span
                style="color: #FF6584">Digital</span> Products</a></h1>
          <div class="product-row1" *ngIf="screenwidth>1020"
            uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
            <app-category-card *ngFor="let category of allDigitalProds" [img]="category.productImages"
              [categoryTitle]="category.productName" [price]="category.productPrice" [productId]="category.productId">
            </app-category-card>
          </div>
        </section>
      </div>
    </div>
    <div class="uk-panel inner-box88"  *ngIf="screenwidth<1024">
      <h1 class="handmade2">Gifts from Creative Box</h1>
      <div class="uk-position-center uk-panel" id="category">
        <section id="orders-container-small">
          <div class="product-row-small" >
            <app-category-card *ngFor="let category of allDigitalProds" [img]="category.productImages"
              [categoryTitle]="category.productName" [price]="category.productPrice" [productId]="category.productId">
            </app-category-card>
          </div>
        </section>
      </div>
    </div>
    <div class="uk-panel inner-box">
      <div class="uk-position-center uk-panel">
        <h1 class="boxtext1">Looking for something <span style="color: #FF6584">Unique</span>?</h1>
        <hr class="boxline1">
        <h1 class="boxtext2">Have some <span style="color: #FF6584">Unique</span> products or custom designs on your
          mind?
        </h1>
        <h1 class="boxtext3">Or confused about the right choice of gift?</h1>
        <div class="uk-animation-toggle" tabindex="0">
          <button class="boxbutton uk-animation-shake"><a routerLink="/customorder">Tell us about it</a></button>
        </div>
      </div>
    </div>
    <div class="uk-panel">
      <div id="container3">
        <section id="orders-container3">
          <h1 class="recommend">Recommended Products</h1>
          <ion-row class="uk uk-align-center uk-text-center" id="product">
            <ion-button class="products" size="large" [fill]="(recommendedSelection==0) ? 'solid' : 'none'"
              shape="round" (click)="recommendedSelection=0">
              Recommended Products
            </ion-button>
            <ion-button class="products" size="large" shape="round"
              [fill]="(recommendedSelection==1) ? 'solid' : 'none'" (click)="recommendedSelection=1">
              Santa's Choice
            </ion-button>
            <ion-button class="products" size="large" shape="round"
              [fill]="(recommendedSelection==2) ? 'solid' : 'none'" (click)="recommendedSelection=2">
              Featured Product
            </ion-button>
          </ion-row>
          <div class="product-row2" class="uk-slider-container" *ngIf="recommendedSelection==0">
            <ul class="uk-slider-items " uk-slider="autoplay: true" uk-scrollspy="target: > li; cls: uk-animation-slide-top; delay: 100">
              <li *ngFor="let product of allRecommendedProds">
                <app-product-full-card [img]="product.productImages" [productTitle]="product.productName"
                  [productDescription]="product.productDescription" [price]="product.productPrice"
                  [category]="product.productCategory" [subcategory]="product.productSubcategory"
                  [productId]="product.productId" class="uk-animation-slide-top">
                </app-product-full-card>
              </li>
            </ul>
          </div>
          <div class="product-row2" class="uk-slider-container" *ngIf="recommendedSelection==1">
            <ul class="uk-slider-items" uk-slider="autoplay: true" uk-scrollspy="target: > li; cls: uk-animation-slide-top; delay: 100">
              <li *ngFor="let product of allSantasChoiceProds">
                <app-product-full-card [img]="product.productImages" [productTitle]="product.productName"
                  [productDescription]="product.productDescription" [price]="product.productPrice"
                  [category]="product.productCategory" [subcategory]="product.productSubcategory"
                  [productId]="product.productId">
                </app-product-full-card>
              </li>
            </ul>
          </div>
          <div class="product-row2" class="uk-slider-container" *ngIf="recommendedSelection==2">
            <ul class="uk-slider-items" uk-slider="autoplay: true" uk-scrollspy="target: > li; cls: uk-animation-slide-top; delay: 100">
              <li *ngFor="let product of allFeaturedProds">
                <app-product-full-card [img]="product.productImages" [productTitle]="product.productName"
                  [productDescription]="product.productDescription" [price]="product.productPrice"
                  [category]="product.productCategory" [subcategory]="product.productSubcategory"
                  [productId]="product.productId">
                </app-product-full-card>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div tabindex="0">
      <div class="uk-panel " style="padding-top: 50px">
        <img loading="lazy" class="promobox uk-align-center" src="assets/Promo.png" alt="">
      </div>
    </div>
    <div class="uk-panel" style="padding-top: 50px">
      <div id="blog">
        <section id="blog-container">
          <h1 class="blogs">Read More Blogs</h1>
          <div class="product-row-blog">
            <div class="blog-addspace"></div>
            <app-blog-card *ngFor="let blog of blogs" [blogimg]="blog.blogImage" [blogTitle]="blog.blogTitle"
              [blogDescription]="blog.blogExcerpt" [blogId]="blog.blogId"></app-blog-card>
          </div>
        </section>
      </div>
    </div>
    <div class="uk-panel inner-box2 uk-align-center">
      <div>
        <div class="uk-panel hoverIncrease">
          <a href="#"><img loading="lazy" src="assets/Group20.png" alt=""></a>
        </div>
      </div>
      <div>
        <div class="uk-panel hoverIncrease">
          <a href="#"><img loading="lazy" src="assets/Group19.png" alt=""></a>
        </div>
      </div>
      <div>
        <div class="uk-panel hoverIncrease">
          <a href="#"><img loading="lazy" src="assets/Group18.png" alt=""></a>
        </div>
      </div>
    </div>

    <app-accordion></app-accordion>
  </div>

  <app-footer></app-footer>
  <app-iontab *ngIf="screenwidth<1024"></app-iontab>
</ion-content>