.home {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1920px;
  zoom: 80%;
}
.inner-box {
  height: 500px;
  font-family: Poppins;
  text-align: center;
  padding: 50px;
  width: 67.5%;
  margin: 2.5% auto;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 5px solid #9081ff;
  align-items: center;
}

.inner-box2 {
  height: auto;
  width: 90%;
  margin: 0% auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

button {
  background-color: #ada2ff; /* Green */
  border-radius: 10px;
  border: 5px solid #9081ff;
  color: white;
  margin: 3%;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

#orders-container1 {
  border-radius: 50px;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.handmade {
  font-family: Poppins;
  text-align: center;
  margin-top: 10px;
  padding: 80px;
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.inner-box88 {
  height: 500px;
  width: 90%;
  margin: 2.5% auto;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
  align-items: center;
}
.handmade2 {
  font-family: Poppins;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: var(--ion-color-primary);
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.product-row-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}


#blog {
  width: 98%;
  margin: 3em auto;
}

.blogs {
  font-family: Poppins;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--ion-color-primary);
}

#blog-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  width: 95%;
  margin: 0% auto;
  height: fit-content;
  padding: 1em;
}

#orders-container2 {
  border-radius: 50px;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.boxtext1 {
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  color: #6d5de3;
  padding-top: 5%;
  padding-bottom: 2%;
}
.boxline1 {
  background-color: #6d5de3;
  width: 100%;
  height: 5px;
  margin: auto;
}
.boxtext2 {
  font-family: Poppins;
  text-align: center;
  font-weight: bolder;
  font-size: 1.8rem;
  color: #ada2ff;
  padding-top: 3%;
}
.boxtext3 {
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #ada2ff;
  padding-bottom: 3%;
}
.boxline2 {
  background-color: #6d5de3;
  width: 70vw;
  height: 2px;
  margin: auto;
}

.boxbutton {
  background-color: var(--ion-color-primary);
  border-radius: 10px;
  border: none !important;
  color: white;
  margin: 3%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

.digital {
  font-family: Poppins;
  text-align: center;
  margin-top: 60px;
  padding: 80px;
  font-weight: bold;
  font-size: 3rem;
  color: #7e6dff;
}

.product-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.recommend {
  font-family: Poppins;
  text-align: center;
  color: var(--ion-color-primary);
  padding-top: 60px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 2.5rem;
}

.products {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 50px;
  margin: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

#container3 {
  width: 80%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#orders-container3 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  width: 90%;
  margin: 0% auto;
  padding: 1em;
  justify-content: space-evenly;
  align-items: flex-start;
}

.product-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
a {
  text-decoration: none;
  color: #fff;

}

.headingtitle {
  font-family: Poppins;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  font-size: 3.5rem;
}

.promobox {
  width: 90vw;
  margin: 0 auto;
  border-radius: 15px;
}
.headingtitle1 {
  font-family: Poppins;
  text-align: center;
  padding: 20px;
  color: #ffab00;
  font-weight: normal;
  font-size: 2.5rem;
}
.wrapper {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-32%);
  font-size: 3.5rem;
  padding: 0px 20px;
  margin: 40px 0px;
}
.wrapper .static-txt {
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  font-family: Poppins;
  text-align: center;
  color: var(--ion-color-primary);
  font-weight: bold;
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid var(--ion-color-primary);
  animation: typing 3s steps(20) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.sectionOneSeperator{
  float:right;
  width:40%;
}
.sectionOneSeperator > ion-card > ion-card-header > ion-card-title > ion-title{
  font-size:35px;
  color:#2f2e41;
}
.sectionOneSeperator > ion-card {
  box-shadow: 5px 10px 20px #2f2e413d;
  height:200px;
  width:400px;
  
}
@media only screen and (max-width: 1024px) {
  .home {
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
    zoom: 100%;
  }
  .digital {
    font-size: 1.2rem;
  }
  .handmade {
    font-size: 1.2rem;
  }
  .recommend {
    font-size: 1.2rem;
  }
  #container3 {
    margin-top: 50px;
    width: 98%;
    padding: 0.5em;
  }
  #orders-container3{
    padding: 0.5em;
    width: 98%;
  }
  .boxtext1 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1;
  }
  .boxline1 {
    width: 75vw;
    height: 3px;
  }
  .boxtext2 {
    font-size: 0.8rem;
    font-weight: normal;
    width: 70vw;
    margin: 10px auto;
    line-height: 1.3;
  }
  .boxtext3 {
    font-size: 0.8rem;
    font-weight: normal;
margin: auto;
    width:70vw;
    line-height: 1.5;
  }
  .boxline2 {
    width: 80vw;
    height: 2px;
  }
  #orders-container1 {
    margin-bottom: 0px;
  }
  #orders-container2 {
    margin-bottom: 0px;
  }
  .boxbutton {
    margin: 3%;
    padding: 5px 20px;
    font-size: 1rem;
  }
  .inner-box {
    height: 40vh;
    width: 90vw;
    padding: 30px;
    margin: 5% 5%;
  }
  #blog {
    margin-top: 50px;
    width: 92%;
  }
  .product-row-blog {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    justify-content: space-evenly;
  }
  .blog-addspace{
width: 500px;
height: 1px;
  }
  .blogs {
    text-align: center;
    font-size: 1.5rem;
  }
  .products {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
    border-radius: 50px;
    background-color: #fff;
    // color: white;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
  }
  .wrapper {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-47.5%);
    font-size: 1.1rem;
    padding: 5px 0px;
    margin: 10px 0px;
  }

  .wrapper .static-txt {
    font-family: Poppins;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    color: black;
  }
  .wrapper .dynamic-txts {
    margin-left: 5px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 35px;
    background: white;
    border-left: 2px solid #fc6d6d;
    animation: typing 3s steps(20) infinite;
  }
  .dynamic-txts li span {
    font-family: Poppins;
    text-align: center;
    color: #ff6584;
    font-weight: bold;
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .product-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@-webkit-keyframes animate-svg-stroke-1{0%{stroke-dashoffset:1457.269287109375px;stroke-dasharray:1457.269287109375px}100%{stroke-dashoffset:0;stroke-dasharray:1457.269287109375px}}@keyframes animate-svg-stroke-1{0%{stroke-dashoffset:1457.269287109375px;stroke-dasharray:1457.269287109375px}100%{stroke-dashoffset:0;stroke-dasharray:1457.269287109375px}}@-webkit-keyframes animate-svg-fill-1{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-1{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-1{-webkit-animation:animate-svg-stroke-1 1s cubic-bezier(0.47,0,0.745,0.715) 0s both,animate-svg-fill-1 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s both;animation:animate-svg-stroke-1 1s cubic-bezier(0.47,0,0.745,0.715) 0s both,animate-svg-fill-1 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.8s both}@-webkit-keyframes animate-svg-stroke-2{0%{stroke-dashoffset:1457.269287109375px;stroke-dasharray:1457.269287109375px}100%{stroke-dashoffset:0;stroke-dasharray:1457.269287109375px}}@keyframes animate-svg-stroke-2{0%{stroke-dashoffset:1457.269287109375px;stroke-dasharray:1457.269287109375px}100%{stroke-dashoffset:0;stroke-dasharray:1457.269287109375px}}@-webkit-keyframes animate-svg-fill-2{0%{fill:transparent}100%{fill:rgb(0,0,0)}}@keyframes animate-svg-fill-2{0%{fill:transparent}100%{fill:rgb(0,0,0)}}.svg-elem-2{-webkit-animation:animate-svg-stroke-2 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s both,animate-svg-fill-2 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s both;animation:animate-svg-stroke-2 1s cubic-bezier(0.47,0,0.745,0.715) 0.12s both,animate-svg-fill-2 0.7s cubic-bezier(0.47,0,0.745,0.715) 0.9s both}@-webkit-keyframes animate-svg-stroke-3{0%{stroke-dashoffset:1607.7029041117148px;stroke-dasharray:1607.7029041117148px}100%{stroke-dashoffset:0;stroke-dasharray:1607.7029041117148px}}@keyframes animate-svg-stroke-3{0%{stroke-dashoffset:1607.7029041117148px;stroke-dasharray:1607.7029041117148px}100%{stroke-dashoffset:0;stroke-dasharray:1607.7029041117148px}}@-webkit-keyframes animate-svg-fill-3{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-3{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-3{-webkit-animation:animate-svg-stroke-3 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s both;animation:animate-svg-stroke-3 1s cubic-bezier(0.47,0,0.745,0.715) 0.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.47,0,0.745,0.715) 1s both}@-webkit-keyframes animate-svg-stroke-4{0%{stroke-dashoffset:234.18704223632812px;stroke-dasharray:234.18704223632812px}100%{stroke-dashoffset:0;stroke-dasharray:234.18704223632812px}}@keyframes animate-svg-stroke-4{0%{stroke-dashoffset:234.18704223632812px;stroke-dasharray:234.18704223632812px}100%{stroke-dashoffset:0;stroke-dasharray:234.18704223632812px}}@-webkit-keyframes animate-svg-fill-4{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-4{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-4{-webkit-animation:animate-svg-stroke-4 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s both;animation:animate-svg-stroke-4 1s cubic-bezier(0.47,0,0.745,0.715) 0.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.1s both}@-webkit-keyframes animate-svg-stroke-5{0%{stroke-dashoffset:118.093505859375px;stroke-dasharray:118.093505859375px}100%{stroke-dashoffset:0;stroke-dasharray:118.093505859375px}}@keyframes animate-svg-stroke-5{0%{stroke-dashoffset:118.093505859375px;stroke-dasharray:118.093505859375px}100%{stroke-dashoffset:0;stroke-dasharray:118.093505859375px}}@-webkit-keyframes animate-svg-fill-5{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-5{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-5{-webkit-animation:animate-svg-stroke-5 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s both,animate-svg-fill-5 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s both;animation:animate-svg-stroke-5 1s cubic-bezier(0.47,0,0.745,0.715) 0.48s both,animate-svg-fill-5 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.2000000000000002s both}@-webkit-keyframes animate-svg-stroke-6{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-6{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-6{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-6{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-6{-webkit-animation:animate-svg-stroke-6 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s both,animate-svg-fill-6 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s both;animation:animate-svg-stroke-6 1s cubic-bezier(0.47,0,0.745,0.715) 0.6s both,animate-svg-fill-6 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.3s both}@-webkit-keyframes animate-svg-stroke-7{0%{stroke-dashoffset:78.69595336914062px;stroke-dasharray:78.69595336914062px}100%{stroke-dashoffset:0;stroke-dasharray:78.69595336914062px}}@keyframes animate-svg-stroke-7{0%{stroke-dashoffset:78.69595336914062px;stroke-dasharray:78.69595336914062px}100%{stroke-dashoffset:0;stroke-dasharray:78.69595336914062px}}@-webkit-keyframes animate-svg-fill-7{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-7{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-7{-webkit-animation:animate-svg-stroke-7 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s both,animate-svg-fill-7 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s both;animation:animate-svg-stroke-7 1s cubic-bezier(0.47,0,0.745,0.715) 0.72s both,animate-svg-fill-7 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.4000000000000001s both}@-webkit-keyframes animate-svg-stroke-8{0%{stroke-dashoffset:118.093505859375px;stroke-dasharray:118.093505859375px}100%{stroke-dashoffset:0;stroke-dasharray:118.093505859375px}}@keyframes animate-svg-stroke-8{0%{stroke-dashoffset:118.093505859375px;stroke-dasharray:118.093505859375px}100%{stroke-dashoffset:0;stroke-dasharray:118.093505859375px}}@-webkit-keyframes animate-svg-fill-8{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-8{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-8{-webkit-animation:animate-svg-stroke-8 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s both,animate-svg-fill-8 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s both;animation:animate-svg-stroke-8 1s cubic-bezier(0.47,0,0.745,0.715) 0.84s both,animate-svg-fill-8 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.5s both}@-webkit-keyframes animate-svg-stroke-9{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-9{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-9{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-9{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-9{-webkit-animation:animate-svg-stroke-9 1s cubic-bezier(0.47,0,0.745,0.715) 0.96s both,animate-svg-fill-9 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.6s both;animation:animate-svg-stroke-9 1s cubic-bezier(0.47,0,0.745,0.715) 0.96s both,animate-svg-fill-9 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.6s both}@-webkit-keyframes animate-svg-stroke-10{0%{stroke-dashoffset:78.69593811035156px;stroke-dasharray:78.69593811035156px}100%{stroke-dashoffset:0;stroke-dasharray:78.69593811035156px}}@keyframes animate-svg-stroke-10{0%{stroke-dashoffset:78.69593811035156px;stroke-dasharray:78.69593811035156px}100%{stroke-dashoffset:0;stroke-dasharray:78.69593811035156px}}@-webkit-keyframes animate-svg-fill-10{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-10{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-10{-webkit-animation:animate-svg-stroke-10 1s cubic-bezier(0.47,0,0.745,0.715) 1.08s both,animate-svg-fill-10 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.7000000000000002s both;animation:animate-svg-stroke-10 1s cubic-bezier(0.47,0,0.745,0.715) 1.08s both,animate-svg-fill-10 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.7000000000000002s both}@-webkit-keyframes animate-svg-stroke-11{0%{stroke-dashoffset:118.093505859375px;stroke-dasharray:118.093505859375px}100%{stroke-dashoffset:0;stroke-dasharray:118.093505859375px}}@keyframes animate-svg-stroke-11{0%{stroke-dashoffset:118.093505859375px;stroke-dasharray:118.093505859375px}100%{stroke-dashoffset:0;stroke-dasharray:118.093505859375px}}@-webkit-keyframes animate-svg-fill-11{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-11{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-11{-webkit-animation:animate-svg-stroke-11 1s cubic-bezier(0.47,0,0.745,0.715) 1.2s both,animate-svg-fill-11 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.8s both;animation:animate-svg-stroke-11 1s cubic-bezier(0.47,0,0.745,0.715) 1.2s both,animate-svg-fill-11 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.8s both}@-webkit-keyframes animate-svg-stroke-12{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-12{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-12{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-12{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-12{-webkit-animation:animate-svg-stroke-12 1s cubic-bezier(0.47,0,0.745,0.715) 1.3199999999999998s both,animate-svg-fill-12 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.9000000000000001s both;animation:animate-svg-stroke-12 1s cubic-bezier(0.47,0,0.745,0.715) 1.3199999999999998s both,animate-svg-fill-12 0.7s cubic-bezier(0.47,0,0.745,0.715) 1.9000000000000001s both}@-webkit-keyframes animate-svg-stroke-13{0%{stroke-dashoffset:78.69593811035156px;stroke-dasharray:78.69593811035156px}100%{stroke-dashoffset:0;stroke-dasharray:78.69593811035156px}}@keyframes animate-svg-stroke-13{0%{stroke-dashoffset:78.69593811035156px;stroke-dasharray:78.69593811035156px}100%{stroke-dashoffset:0;stroke-dasharray:78.69593811035156px}}@-webkit-keyframes animate-svg-fill-13{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-13{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-13{-webkit-animation:animate-svg-stroke-13 1s cubic-bezier(0.47,0,0.745,0.715) 1.44s both,animate-svg-fill-13 0.7s cubic-bezier(0.47,0,0.745,0.715) 2s both;animation:animate-svg-stroke-13 1s cubic-bezier(0.47,0,0.745,0.715) 1.44s both,animate-svg-fill-13 0.7s cubic-bezier(0.47,0,0.745,0.715) 2s both}@-webkit-keyframes animate-svg-stroke-14{0%{stroke-dashoffset:234.18704223632812px;stroke-dasharray:234.18704223632812px}100%{stroke-dashoffset:0;stroke-dasharray:234.18704223632812px}}@keyframes animate-svg-stroke-14{0%{stroke-dashoffset:234.18704223632812px;stroke-dasharray:234.18704223632812px}100%{stroke-dashoffset:0;stroke-dasharray:234.18704223632812px}}@-webkit-keyframes animate-svg-fill-14{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-14{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-14{-webkit-animation:animate-svg-stroke-14 1s cubic-bezier(0.47,0,0.745,0.715) 1.56s both,animate-svg-fill-14 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.1s both;animation:animate-svg-stroke-14 1s cubic-bezier(0.47,0,0.745,0.715) 1.56s both,animate-svg-fill-14 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.1s both}@-webkit-keyframes animate-svg-stroke-15{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-15{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-15{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-15{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-15{-webkit-animation:animate-svg-stroke-15 1s cubic-bezier(0.47,0,0.745,0.715) 1.68s both,animate-svg-fill-15 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.2s both;animation:animate-svg-stroke-15 1s cubic-bezier(0.47,0,0.745,0.715) 1.68s both,animate-svg-fill-15 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.2s both}@-webkit-keyframes animate-svg-stroke-16{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-16{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-16{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-16{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-16{-webkit-animation:animate-svg-stroke-16 1s cubic-bezier(0.47,0,0.745,0.715) 1.7999999999999998s both,animate-svg-fill-16 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.3s both;animation:animate-svg-stroke-16 1s cubic-bezier(0.47,0,0.745,0.715) 1.7999999999999998s both,animate-svg-fill-16 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.3s both}@-webkit-keyframes animate-svg-stroke-17{0%{stroke-dashoffset:78.69595336914062px;stroke-dasharray:78.69595336914062px}100%{stroke-dashoffset:0;stroke-dasharray:78.69595336914062px}}@keyframes animate-svg-stroke-17{0%{stroke-dashoffset:78.69595336914062px;stroke-dasharray:78.69595336914062px}100%{stroke-dashoffset:0;stroke-dasharray:78.69595336914062px}}@-webkit-keyframes animate-svg-fill-17{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-17{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-17{-webkit-animation:animate-svg-stroke-17 1s cubic-bezier(0.47,0,0.745,0.715) 1.92s both,animate-svg-fill-17 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.4000000000000004s both;animation:animate-svg-stroke-17 1s cubic-bezier(0.47,0,0.745,0.715) 1.92s both,animate-svg-fill-17 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.4000000000000004s both}@-webkit-keyframes animate-svg-stroke-18{0%{stroke-dashoffset:124.75359344482422px;stroke-dasharray:124.75359344482422px}100%{stroke-dashoffset:0;stroke-dasharray:124.75359344482422px}}@keyframes animate-svg-stroke-18{0%{stroke-dashoffset:124.75359344482422px;stroke-dasharray:124.75359344482422px}100%{stroke-dashoffset:0;stroke-dasharray:124.75359344482422px}}.svg-elem-18{-webkit-animation:animate-svg-stroke-18 1s cubic-bezier(0.47,0,0.745,0.715) 2.04s both,animate-svg-fill-18 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.5s both;animation:animate-svg-stroke-18 1s cubic-bezier(0.47,0,0.745,0.715) 2.04s both,animate-svg-fill-18 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.5s both}@-webkit-keyframes animate-svg-stroke-19{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-19{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-19{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-19{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-19{-webkit-animation:animate-svg-stroke-19 1s cubic-bezier(0.47,0,0.745,0.715) 2.16s both,animate-svg-fill-19 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.6s both;animation:animate-svg-stroke-19 1s cubic-bezier(0.47,0,0.745,0.715) 2.16s both,animate-svg-fill-19 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.6s both}@-webkit-keyframes animate-svg-stroke-20{0%{stroke-dashoffset:78.69591522216797px;stroke-dasharray:78.69591522216797px}100%{stroke-dashoffset:0;stroke-dasharray:78.69591522216797px}}@keyframes animate-svg-stroke-20{0%{stroke-dashoffset:78.69591522216797px;stroke-dasharray:78.69591522216797px}100%{stroke-dashoffset:0;stroke-dasharray:78.69591522216797px}}@-webkit-keyframes animate-svg-fill-20{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-20{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-20{-webkit-animation:animate-svg-stroke-20 1s cubic-bezier(0.47,0,0.745,0.715) 2.28s both,animate-svg-fill-20 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.7s both;animation:animate-svg-stroke-20 1s cubic-bezier(0.47,0,0.745,0.715) 2.28s both,animate-svg-fill-20 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.7s both}@-webkit-keyframes animate-svg-stroke-21{0%{stroke-dashoffset:124.75358581542969px;stroke-dasharray:124.75358581542969px}100%{stroke-dashoffset:0;stroke-dasharray:124.75358581542969px}}@keyframes animate-svg-stroke-21{0%{stroke-dashoffset:124.75358581542969px;stroke-dasharray:124.75358581542969px}100%{stroke-dashoffset:0;stroke-dasharray:124.75358581542969px}}.svg-elem-21{-webkit-animation:animate-svg-stroke-21 1s cubic-bezier(0.47,0,0.745,0.715) 2.4s both,animate-svg-fill-21 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.8s both;animation:animate-svg-stroke-21 1s cubic-bezier(0.47,0,0.745,0.715) 2.4s both,animate-svg-fill-21 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.8s both}@-webkit-keyframes animate-svg-stroke-22{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@keyframes animate-svg-stroke-22{0%{stroke-dashoffset:105.1527496480002px;stroke-dasharray:105.1527496480002px}100%{stroke-dashoffset:0;stroke-dasharray:105.1527496480002px}}@-webkit-keyframes animate-svg-fill-22{0%{fill:transparent}100%{fill:rgb(63,61,86)}}@keyframes animate-svg-fill-22{0%{fill:transparent}100%{fill:rgb(63,61,86)}}.svg-elem-22{-webkit-animation:animate-svg-stroke-22 1s cubic-bezier(0.47,0,0.745,0.715) 2.52s both,animate-svg-fill-22 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.9000000000000004s both;animation:animate-svg-stroke-22 1s cubic-bezier(0.47,0,0.745,0.715) 2.52s both,animate-svg-fill-22 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.9000000000000004s both}@-webkit-keyframes animate-svg-stroke-23{0%{stroke-dashoffset:358.4892578125px;stroke-dasharray:358.4892578125px}100%{stroke-dashoffset:0;stroke-dasharray:358.4892578125px}}@keyframes animate-svg-stroke-23{0%{stroke-dashoffset:358.4892578125px;stroke-dasharray:358.4892578125px}100%{stroke-dashoffset:0;stroke-dasharray:358.4892578125px}}@-webkit-keyframes animate-svg-fill-23{0%{fill:transparent}100%{fill:rgb(246,215,151)}}@keyframes animate-svg-fill-23{0%{fill:transparent}100%{fill:rgb(246,215,151)}}.svg-elem-23{-webkit-animation:animate-svg-stroke-23 1s cubic-bezier(0.47,0,0.745,0.715) 2.6399999999999997s both,animate-svg-fill-23 0.7s cubic-bezier(0.47,0,0.745,0.715) 3s both;animation:animate-svg-stroke-23 1s cubic-bezier(0.47,0,0.745,0.715) 2.6399999999999997s both,animate-svg-fill-23 0.7s cubic-bezier(0.47,0,0.745,0.715) 3s both}@-webkit-keyframes animate-svg-stroke-24{0%{stroke-dashoffset:101.5230484008789px;stroke-dasharray:101.5230484008789px}100%{stroke-dashoffset:0;stroke-dasharray:101.5230484008789px}}@keyframes animate-svg-stroke-24{0%{stroke-dashoffset:101.5230484008789px;stroke-dasharray:101.5230484008789px}100%{stroke-dashoffset:0;stroke-dasharray:101.5230484008789px}}@-webkit-keyframes animate-svg-fill-24{0%{fill:transparent}100%{fill:rgb(255,185,185)}}@keyframes animate-svg-fill-24{0%{fill:transparent}100%{fill:rgb(255,185,185)}}.svg-elem-24{-webkit-animation:animate-svg-stroke-24 1s cubic-bezier(0.47,0,0.745,0.715) 2.76s both,animate-svg-fill-24 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.1000000000000005s both;animation:animate-svg-stroke-24 1s cubic-bezier(0.47,0,0.745,0.715) 2.76s both,animate-svg-fill-24 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.1000000000000005s both}@-webkit-keyframes animate-svg-stroke-25{0%{stroke-dashoffset:550.336181640625px;stroke-dasharray:550.336181640625px}100%{stroke-dashoffset:0;stroke-dasharray:550.336181640625px}}@keyframes animate-svg-stroke-25{0%{stroke-dashoffset:550.336181640625px;stroke-dasharray:550.336181640625px}100%{stroke-dashoffset:0;stroke-dasharray:550.336181640625px}}@-webkit-keyframes animate-svg-fill-25{0%{fill:transparent}100%{fill:rgb(255,185,185)}}@keyframes animate-svg-fill-25{0%{fill:transparent}100%{fill:rgb(255,185,185)}}.svg-elem-25{-webkit-animation:animate-svg-stroke-25 1s cubic-bezier(0.47,0,0.745,0.715) 2.88s both,animate-svg-fill-25 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.2s both;animation:animate-svg-stroke-25 1s cubic-bezier(0.47,0,0.745,0.715) 2.88s both,animate-svg-fill-25 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.2s both}@-webkit-keyframes animate-svg-stroke-26{0%{stroke-dashoffset:140.2527618408203px;stroke-dasharray:140.2527618408203px}100%{stroke-dashoffset:0;stroke-dasharray:140.2527618408203px}}@keyframes animate-svg-stroke-26{0%{stroke-dashoffset:140.2527618408203px;stroke-dasharray:140.2527618408203px}100%{stroke-dashoffset:0;stroke-dasharray:140.2527618408203px}}@-webkit-keyframes animate-svg-fill-26{0%{fill:transparent}100%{fill:rgb(47,46,65)}}@keyframes animate-svg-fill-26{0%{fill:transparent}100%{fill:rgb(47,46,65)}}.svg-elem-26{-webkit-animation:animate-svg-stroke-26 1s cubic-bezier(0.47,0,0.745,0.715) 3s both,animate-svg-fill-26 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.3s both;animation:animate-svg-stroke-26 1s cubic-bezier(0.47,0,0.745,0.715) 3s both,animate-svg-fill-26 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.3s both}@-webkit-keyframes animate-svg-stroke-27{0%{stroke-dashoffset:550.336181640625px;stroke-dasharray:550.336181640625px}100%{stroke-dashoffset:0;stroke-dasharray:550.336181640625px}}@keyframes animate-svg-stroke-27{0%{stroke-dashoffset:550.336181640625px;stroke-dasharray:550.336181640625px}100%{stroke-dashoffset:0;stroke-dasharray:550.336181640625px}}@-webkit-keyframes animate-svg-fill-27{0%{fill:transparent}100%{fill:rgb(255,185,185)}}@keyframes animate-svg-fill-27{0%{fill:transparent}100%{fill:rgb(255,185,185)}}.svg-elem-27{-webkit-animation:animate-svg-stroke-27 1s cubic-bezier(0.47,0,0.745,0.715) 3.12s both,animate-svg-fill-27 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.4000000000000004s both;animation:animate-svg-stroke-27 1s cubic-bezier(0.47,0,0.745,0.715) 3.12s both,animate-svg-fill-27 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.4000000000000004s both}@-webkit-keyframes animate-svg-stroke-28{0%{stroke-dashoffset:140.2528533935547px;stroke-dasharray:140.2528533935547px}100%{stroke-dashoffset:0;stroke-dasharray:140.2528533935547px}}@keyframes animate-svg-stroke-28{0%{stroke-dashoffset:140.2528533935547px;stroke-dasharray:140.2528533935547px}100%{stroke-dashoffset:0;stroke-dasharray:140.2528533935547px}}@-webkit-keyframes animate-svg-fill-28{0%{fill:transparent}100%{fill:rgb(47,46,65)}}@keyframes animate-svg-fill-28{0%{fill:transparent}100%{fill:rgb(47,46,65)}}.svg-elem-28{-webkit-animation:animate-svg-stroke-28 1s cubic-bezier(0.47,0,0.745,0.715) 3.2399999999999998s both,animate-svg-fill-28 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.5s both;animation:animate-svg-stroke-28 1s cubic-bezier(0.47,0,0.745,0.715) 3.2399999999999998s both,animate-svg-fill-28 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.5s both}@-webkit-keyframes animate-svg-stroke-29{0%{stroke-dashoffset:486.4752197265625px;stroke-dasharray:486.4752197265625px}100%{stroke-dashoffset:0;stroke-dasharray:486.4752197265625px}}@keyframes animate-svg-stroke-29{0%{stroke-dashoffset:486.4752197265625px;stroke-dasharray:486.4752197265625px}100%{stroke-dashoffset:0;stroke-dasharray:486.4752197265625px}}@-webkit-keyframes animate-svg-fill-29{0%{fill:transparent}100%{fill:rgb(47,46,65)}}@keyframes animate-svg-fill-29{0%{fill:transparent}100%{fill:rgb(47,46,65)}}.svg-elem-29{-webkit-animation:animate-svg-stroke-29 1s cubic-bezier(0.47,0,0.745,0.715) 3.36s both,animate-svg-fill-29 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.6000000000000005s both;animation:animate-svg-stroke-29 1s cubic-bezier(0.47,0,0.745,0.715) 3.36s both,animate-svg-fill-29 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.6000000000000005s both}@-webkit-keyframes animate-svg-stroke-30{0%{stroke-dashoffset:73.10787200927734px;stroke-dasharray:73.10787200927734px}100%{stroke-dashoffset:0;stroke-dasharray:73.10787200927734px}}@keyframes animate-svg-stroke-30{0%{stroke-dashoffset:73.10787200927734px;stroke-dasharray:73.10787200927734px}100%{stroke-dashoffset:0;stroke-dasharray:73.10787200927734px}}@-webkit-keyframes animate-svg-fill-30{0%{fill:transparent}100%{fill:rgb(255,185,185)}}@keyframes animate-svg-fill-30{0%{fill:transparent}100%{fill:rgb(255,185,185)}}.svg-elem-30{-webkit-animation:animate-svg-stroke-30 1s cubic-bezier(0.47,0,0.745,0.715) 3.48s both,animate-svg-fill-30 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.7s both;animation:animate-svg-stroke-30 1s cubic-bezier(0.47,0,0.745,0.715) 3.48s both,animate-svg-fill-30 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.7s both}@-webkit-keyframes animate-svg-stroke-31{0%{stroke-dashoffset:174.40677208597046px;stroke-dasharray:174.40677208597046px}100%{stroke-dashoffset:0;stroke-dasharray:174.40677208597046px}}@keyframes animate-svg-stroke-31{0%{stroke-dashoffset:174.40677208597046px;stroke-dasharray:174.40677208597046px}100%{stroke-dashoffset:0;stroke-dasharray:174.40677208597046px}}@-webkit-keyframes animate-svg-fill-31{0%{fill:transparent}100%{fill:rgb(255,185,185)}}@keyframes animate-svg-fill-31{0%{fill:transparent}100%{fill:rgb(255,185,185)}}.svg-elem-31{-webkit-animation:animate-svg-stroke-31 1s cubic-bezier(0.47,0,0.745,0.715) 3.5999999999999996s both,animate-svg-fill-31 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.8s both;animation:animate-svg-stroke-31 1s cubic-bezier(0.47,0,0.745,0.715) 3.5999999999999996s both,animate-svg-fill-31 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.8s both}@-webkit-keyframes animate-svg-stroke-32{0%{stroke-dashoffset:156.2051544189453px;stroke-dasharray:156.2051544189453px}100%{stroke-dashoffset:0;stroke-dasharray:156.2051544189453px}}@keyframes animate-svg-stroke-32{0%{stroke-dashoffset:156.2051544189453px;stroke-dasharray:156.2051544189453px}100%{stroke-dashoffset:0;stroke-dasharray:156.2051544189453px}}@-webkit-keyframes animate-svg-fill-32{0%{fill:transparent}100%{fill:rgb(255,185,185)}}@keyframes animate-svg-fill-32{0%{fill:transparent}100%{fill:rgb(255,185,185)}}.svg-elem-32{-webkit-animation:animate-svg-stroke-32 1s cubic-bezier(0.47,0,0.745,0.715) 3.7199999999999998s both,animate-svg-fill-32 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.9000000000000004s both;animation:animate-svg-stroke-32 1s cubic-bezier(0.47,0,0.745,0.715) 3.7199999999999998s both,animate-svg-fill-32 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.9000000000000004s both}@-webkit-keyframes animate-svg-stroke-33{0%{stroke-dashoffset:466.3432312011719px;stroke-dasharray:466.3432312011719px}100%{stroke-dashoffset:0;stroke-dasharray:466.3432312011719px}}@keyframes animate-svg-stroke-33{0%{stroke-dashoffset:466.3432312011719px;stroke-dasharray:466.3432312011719px}100%{stroke-dashoffset:0;stroke-dasharray:466.3432312011719px}}@-webkit-keyframes animate-svg-fill-33{0%{fill:transparent}100%{fill:rgb(255,101,132)}}@keyframes animate-svg-fill-33{0%{fill:transparent}100%{fill:rgb(255,101,132)}}.svg-elem-33{-webkit-animation:animate-svg-stroke-33 1s cubic-bezier(0.47,0,0.745,0.715) 3.84s both,animate-svg-fill-33 0.7s cubic-bezier(0.47,0,0.745,0.715) 4s both;animation:animate-svg-stroke-33 1s cubic-bezier(0.47,0,0.745,0.715) 3.84s both,animate-svg-fill-33 0.7s cubic-bezier(0.47,0,0.745,0.715) 4s both}@-webkit-keyframes animate-svg-stroke-34{0%{stroke-dashoffset:370.2206115722656px;stroke-dasharray:370.2206115722656px}100%{stroke-dashoffset:0;stroke-dasharray:370.2206115722656px}}@keyframes animate-svg-stroke-34{0%{stroke-dashoffset:370.2206115722656px;stroke-dasharray:370.2206115722656px}100%{stroke-dashoffset:0;stroke-dasharray:370.2206115722656px}}@-webkit-keyframes animate-svg-fill-34{0%{fill:transparent}100%{fill:rgb(255,101,132)}}@keyframes animate-svg-fill-34{0%{fill:transparent}100%{fill:rgb(255,101,132)}}.svg-elem-34{-webkit-animation:animate-svg-stroke-34 1s cubic-bezier(0.47,0,0.745,0.715) 3.96s both,animate-svg-fill-34 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.1000000000000005s both;animation:animate-svg-stroke-34 1s cubic-bezier(0.47,0,0.745,0.715) 3.96s both,animate-svg-fill-34 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.1000000000000005s both}@-webkit-keyframes animate-svg-stroke-35{0%{stroke-dashoffset:451.9164733886719px;stroke-dasharray:451.9164733886719px}100%{stroke-dashoffset:0;stroke-dasharray:451.9164733886719px}}@keyframes animate-svg-stroke-35{0%{stroke-dashoffset:451.9164733886719px;stroke-dasharray:451.9164733886719px}100%{stroke-dashoffset:0;stroke-dasharray:451.9164733886719px}}@-webkit-keyframes animate-svg-fill-35{0%{fill:transparent}100%{fill:rgb(255,101,132)}}@keyframes animate-svg-fill-35{0%{fill:transparent}100%{fill:rgb(255,101,132)}}.svg-elem-35{-webkit-animation:animate-svg-stroke-35 1s cubic-bezier(0.47,0,0.745,0.715) 4.08s both,animate-svg-fill-35 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.2s both;animation:animate-svg-stroke-35 1s cubic-bezier(0.47,0,0.745,0.715) 4.08s both,animate-svg-fill-35 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.2s both}@-webkit-keyframes animate-svg-stroke-36{0%{stroke-dashoffset:307.0548095703125px;stroke-dasharray:307.0548095703125px}100%{stroke-dashoffset:0;stroke-dasharray:307.0548095703125px}}@keyframes animate-svg-stroke-36{0%{stroke-dashoffset:307.0548095703125px;stroke-dasharray:307.0548095703125px}100%{stroke-dashoffset:0;stroke-dasharray:307.0548095703125px}}@-webkit-keyframes animate-svg-fill-36{0%{fill:transparent}100%{fill:rgb(47,46,65)}}@keyframes animate-svg-fill-36{0%{fill:transparent}100%{fill:rgb(47,46,65)}}.svg-elem-36{-webkit-animation:animate-svg-stroke-36 1s cubic-bezier(0.47,0,0.745,0.715) 4.2s both,animate-svg-fill-36 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.3s both;animation:animate-svg-stroke-36 1s cubic-bezier(0.47,0,0.745,0.715) 4.2s both,animate-svg-fill-36 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.3s both}@-webkit-keyframes animate-svg-stroke-37{0%{stroke-dashoffset:358.4892578125px;stroke-dasharray:358.4892578125px}100%{stroke-dashoffset:0;stroke-dasharray:358.4892578125px}}@keyframes animate-svg-stroke-37{0%{stroke-dashoffset:358.4892578125px;stroke-dasharray:358.4892578125px}100%{stroke-dashoffset:0;stroke-dasharray:358.4892578125px}}.svg-elem-37{-webkit-animation:animate-svg-stroke-37 1s cubic-bezier(0.47,0,0.745,0.715) 4.32s both,animate-svg-fill-37 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.4s both;animation:animate-svg-stroke-37 1s cubic-bezier(0.47,0,0.745,0.715) 4.32s both,animate-svg-fill-37 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.4s both}@-webkit-keyframes animate-svg-stroke-38{0%{stroke-dashoffset:919.0216064453125px;stroke-dasharray:919.0216064453125px}100%{stroke-dashoffset:0;stroke-dasharray:919.0216064453125px}}@keyframes animate-svg-stroke-38{0%{stroke-dashoffset:919.0216064453125px;stroke-dasharray:919.0216064453125px}100%{stroke-dashoffset:0;stroke-dasharray:919.0216064453125px}}@-webkit-keyframes animate-svg-fill-38{0%{fill:transparent}100%{fill:rgb(246,215,151)}}@keyframes animate-svg-fill-38{0%{fill:transparent}100%{fill:rgb(246,215,151)}}.svg-elem-38{-webkit-animation:animate-svg-stroke-38 1s cubic-bezier(0.47,0,0.745,0.715) 4.4399999999999995s both,animate-svg-fill-38 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.5s both;animation:animate-svg-stroke-38 1s cubic-bezier(0.47,0,0.745,0.715) 4.4399999999999995s both,animate-svg-fill-38 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.5s both}@-webkit-keyframes animate-svg-stroke-39{0%{stroke-dashoffset:919.021484375px;stroke-dasharray:919.021484375px}100%{stroke-dashoffset:0;stroke-dasharray:919.021484375px}}@keyframes animate-svg-stroke-39{0%{stroke-dashoffset:919.021484375px;stroke-dasharray:919.021484375px}100%{stroke-dashoffset:0;stroke-dasharray:919.021484375px}}.svg-elem-39{-webkit-animation:animate-svg-stroke-39 1s cubic-bezier(0.47,0,0.745,0.715) 4.56s both,animate-svg-fill-39 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.6000000000000005s both;animation:animate-svg-stroke-39 1s cubic-bezier(0.47,0,0.745,0.715) 4.56s both,animate-svg-fill-39 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.6000000000000005s both}@-webkit-keyframes animate-svg-stroke-40{0%{stroke-dashoffset:919.0216064453125px;stroke-dasharray:919.0216064453125px}100%{stroke-dashoffset:0;stroke-dasharray:919.0216064453125px}}@keyframes animate-svg-stroke-40{0%{stroke-dashoffset:919.0216064453125px;stroke-dasharray:919.0216064453125px}100%{stroke-dashoffset:0;stroke-dasharray:919.0216064453125px}}@-webkit-keyframes animate-svg-fill-40{0%{fill:transparent}100%{fill:rgb(246,215,151)}}@keyframes animate-svg-fill-40{0%{fill:transparent}100%{fill:rgb(246,215,151)}}.svg-elem-40{-webkit-animation:animate-svg-stroke-40 1s cubic-bezier(0.47,0,0.745,0.715) 4.68s both,animate-svg-fill-40 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.7s both;animation:animate-svg-stroke-40 1s cubic-bezier(0.47,0,0.745,0.715) 4.68s both,animate-svg-fill-40 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.7s both}@-webkit-keyframes animate-svg-stroke-41{0%{stroke-dashoffset:919.0216064453125px;stroke-dasharray:919.0216064453125px}100%{stroke-dashoffset:0;stroke-dasharray:919.0216064453125px}}@keyframes animate-svg-stroke-41{0%{stroke-dashoffset:919.0216064453125px;stroke-dasharray:919.0216064453125px}100%{stroke-dashoffset:0;stroke-dasharray:919.0216064453125px}}.svg-elem-41{-webkit-animation:animate-svg-stroke-41 1s cubic-bezier(0.47,0,0.745,0.715) 4.8s both,animate-svg-fill-41 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.8s both;animation:animate-svg-stroke-41 1s cubic-bezier(0.47,0,0.745,0.715) 4.8s both,animate-svg-fill-41 0.7s cubic-bezier(0.47,0,0.745,0.715) 4.8s both}