
.box{
  right: 50%;
  left: 50%;
  height: 100vh;
  align-items: center;
}
.inner-box{
  height: 70vh;
  width: 80vw;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 50px;
  border: 5px solid #9081FF;
  align-items: center;
}

.box2{
  right: 50%;
  left: 50%;
  height: 100vh;
  align-items: center;
}
.inner-box2{
  height: 100vh;
  width: 85vw;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 50px;
  align-items: center;
}


.box3{
  right: 50%;
  left: 50%;
  height: 80vh;
  align-items: center;
}
.inner-box3{
  height: auto;
  width: 85vw;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  border-radius: 50px;
  align-items: center;
}

button{
  background-color: #ADA2FF; /* Green */
  border-radius: 10px;
  border: 5px solid #9081FF;
  color: white;
  margin: 3%;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

#orders-container1 {
  border-radius: 50px;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}


.product-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#blog {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}


#blog-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  width: 100%;
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#orders-container2 {
  border-radius: 50px;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.product-row1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#container3 {
  width: 95%;
  margin: 4em auto;
}

#container3 {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}


#orders-container3 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  width: 100%;
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.product-row2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
a{
  color: white;
}
.text_1 {
  animation: text1;
}
.text_2 {
  animation: text2;
}
.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.text_1::after, .text_2::after {
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }

  60%, 90% {
    width: 7em;
  }
}
@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 11.5em;
  }
}

