<div class="uk-panel">
    <div class="inner-box4" align="center">
        <h1 class="title" *ngIf="screenwidth>1020">Have General Doubts ? Find Your Answers Here</h1>
        <h1 class="title" *ngIf="screenwidth<1024">FAQ's</h1>
        <hr class="line">
        <ul uk-accordion>
          <li>
            <a class="uk-accordion-title" href="#">How to track my order?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title" href="#">How to create a wishlist?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title" href="#">How to ask for gift support?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title" href="#">How to track my order?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
        </ul>
    </div>
</div>
