.title{
  font-family: Raleway;
  font-size: 2.5rem;
}

.line{
border: 2px solid #6D5DE3;
border-radius: 10px;
background-color: #6D5DE3;

}
  .inner-box4{
    height: fit-content;
    width: 1100px;
    padding: 50px;
    margin: 5% auto;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
    border-radius: 25px;
    align-items: center;
  }

  li{
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border-width:1px ;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 900px;
  }
  .uk-accordion-title{
    font-family: Raleway;
    color: #5c5b5a;
    font-size: 1.5rem;
    font-weight: bold;
   text-align: left;
    padding-left: 10px;
}

  .accordiontext{
    font-family: Raleway;
    color: #777777;
    font-weight: bold;
    font-size: 1rem;
    width: 30vw;
  }

  @media only screen and (max-width: 1024px) {
.title{
  font-size: 1rem;
  padding-right: 30px;
  padding-left: 30px;
}
 .line{
width: 80%;
 }
 .inner-box4{
   width: 95vw;
   margin:5% 2.5% 10%;
 }
 .uk-accordion-title{
  font-size: 1rem;
}
li{
  width: 100%;
}
.accordiontext{
  width: 50vw;
  font-size: 0.8rem;
}
  }
