.title{
  font-family: Raleway
}

.line{
border: 5px solid #6D5DE3;
border-radius: 10px;
background-color: #6D5DE3
}
  .inner-box4{
    height: 70vh;
    width: 65vw;
    padding: 50px;
    margin: 5% 17.5%;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    border-radius: 50px;
    align-items: center;
  }
  li{
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border-width:1px ;
    padding-top: 20px;
    width: 60vw;
  
  }
  .accordiontext{
    font-family: Raleway;
    color: #6D5DE3;
    font-weight: bold;
    width: 30vw;
  }

  @media only screen and (max-width: 600px) {
.title{
  font-size: 1.8rem;
  padding-right: 40px;
  padding-left: 40px;
}
 .line{
width: 80vw;
 }
 .inner-box4{
   width: 95vw;
   margin:5% 2.5% 10%;
 }

li{
  width: 85vw;
}
.accordiontext{
  width: 50vw;
}
  }