<div class="uk-panel">
    <div class="inner-box4" align="center">
        <h1 class="title" *ngIf="screenwidth>1020">Have General Doubts ? Find Your Answers Here</h1>
        <h1 class="title" *ngIf="screenwidth<1024">FAQ's</h1>
        <hr class="line">
        <ul uk-accordion>
          <li>
            <a class="uk-accordion-title" href="#">How to track my order?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Any person who ordered any product from the website can track the order from track order page. The order can also be tracked using unique track id, that every order has.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title" href="#">How to create a wishlist?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Just click on the heart button on any product card and all your products will be added to the wishlist.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title" href="#">How to ask for gift master support?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Confused about what to gift or looking for something specific, No issues, just visit contact us on the given number / fill the form on contact us page / Mail us at message@hellosanta.in and you will receive a call from us within 24 hours.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title" href="#">How to track my order?</a>
            <div class="uk-accordion-content">
              <p class="accordiontext">Our delivery Partners deliver all the gifts within five days. But then final delivery time depends on the type of gifts and customisation. You will be pre-informed in the product page section only about delivery time so you can just sit and relax and let us take care of your worries.</p>
            </div>
          </li>
        </ul>
    </div>
</div>
