.box4{
    right: 50%;
    left: 50%;
    height: 100vh;
    align-items: center;
  }
  .inner-box4{
    height: 70vh;
    width: 65vw;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    border-radius: 50px;
    align-items: center;
  }
  li{
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border-width:1px ;
    padding-top: 20px;
    width: 50vw;
  
  }
  .accordiontext{
    font-family: Raleway;
    color: #6D5DE3;
    font-weight: bold;
    width: 30vw;
  }
  