<ion-content>
  <ion-label>Orders</ion-label>
  <ion-card>
    <ion-label>Latest Orders</ion-label><br>
    <ion-list *ngIf="liveOrders.length>0" uk-scrollspy="target: > ion-item; cls: uk-animation-fade; delay: 100">
      <div *ngFor="let order of liveOrders">
        <app-ap-orders-options-item *ngFor="let product of order.products"
        [name]="product.productName"
        [price]="product.productPrice"
        [orderDate]="order.shippingDetail.orderDate"
        [status]="order.shippingDetail.status_code"
        [moreInfo]="order.shippingDetail"
        [productId]="product.productId"
        >
        </app-ap-orders-options-item>
      </div>
    </ion-list>
    <img src="./assets/NotFound.gif" *ngIf="liveOrders.length<=0" alt="">
    <h4 *ngIf="liveOrders.length<=0" >No new orders</h4>
  </ion-card>
  <ion-card>
    <ion-label>Old Orders</ion-label><br>
    <ion-list *ngIf="oldOrders.length>0" uk-scrollspy="target: > ion-item; cls: uk-animation-fade; delay: 100">
      <div *ngFor="let order of oldOrders">
        <app-ap-dashboard-order-item *ngFor="let product of order.products"
        [name]="product.productName" 
        [price]="product.productPrice"
        [orderDate]="order.shippingDetail.orderDate"
        [status]="order.shippingDetail.status"
        [moreInfo]="order.shippingDetail">
        </app-ap-dashboard-order-item>
      </div>
    </ion-list>
    <img src="./assets/NotFound.gif" *ngIf="oldOrders.length<=0" alt="">
    <h4 *ngIf="oldOrders.length<=0" >No old orders</h4>
  </ion-card>
</ion-content>
