<ion-content>
  <ion-card-header>
    <ion-card-subtitle>Create your offer here</ion-card-subtitle>
    <ion-card-title>Fill Details</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="publishOffer()" method="POST">
      <ion-list>
        <ion-item>
          <ion-label>Offer Name</ion-label>
          <ion-input type="text" formControlName="offerName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Offer Type</ion-label>
          <ion-row>
            <ion-button (click)="offerType = 'flat'" color="primary" [fill]="offerType == 'flat' ? 'solid' : 'outline'" >
              Flat Cut
            </ion-button>
            <ion-button (click)="offerType='percent'" color="primary" [fill]="offerType == 'percent' ? 'solid' : 'outline'">
              Percent Cut
            </ion-button>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-label>Usage</ion-label>
          <ion-col>
            <ion-row>
              <ion-button (click)="usage = 'single'" color="primary" [fill]="usage == 'single' ? 'solid' : 'outline'" >
                Single Time
              </ion-button>
              <ion-button (click)="usage = 0" color="primary" [fill]="isNumber(usage) ? 'solid' : 'outline'">
                Finite Time
              </ion-button>
              <ion-button (click)="usage='infinite'" color="primary" [fill]="usage == 'infinite' ? 'solid' : 'outline'">
                Infinite Time
              </ion-button>
            </ion-row>
            <ion-input type="number" (ionChange)="changeUsage(event.value)" placeholder="Usage Count" *ngIf="isNumber(usage)" #event></ion-input>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-label>Offer Cost</ion-label>
          <ion-input type="number" placeholder="Offer Cost INR / %" required formControlName="offerCost"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Offer Code</ion-label>
          <ion-input type="text" placeholder="Offer Code" required formControlName="offerCode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Minimum Price In INR</ion-label>
          <ion-input type="number" placeholder="Minimum price in INR" required formControlName="minimumPrice"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Minimum Products</ion-label>
          <ion-input type="number" placeholder="Minimum Products" required formControlName="minimumProducts"></ion-input>
        </ion-item>
        <ion-item *ngIf="offerType == 'flat'">
          <ion-label>Maximum Discount</ion-label>
          <ion-input type="number" [value]="offerCost.value" placeholder="Maximum Discount" required formControlName="maximumDiscount"></ion-input>
        </ion-item>
        <ion-item *ngIf="offerType== 'percent'">
          <ion-label>Maximum Discount</ion-label>
          <ion-input type="number" [value]="20*offerCost.value" placeholder="Maximum Discount" required formControlName="maximumDiscount"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" fill="solid" shape="solid" type="submit">
        Create Offer and publish
      </ion-button>
    </form>
  </ion-card-content>
</ion-content>